<template>
  <!--  <section class="cta-area">-->
  <section class="home-banner-area" style="height:657px !important;" id="body">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div style="text-align: center">
            <h1 class="mt-5 pt-5 ml-3" style="color: #5E5E5C; !important;" v-if="done"><img
              src="../../../../assets/img/Check_32.988c1ec3.svg" class="mr-2 mb-2" alt="">Merci d'avoir passé ce test !
            </h1>
            <h1 class="mt-5 pt-5 ml-3 mt-5" style="color: #5E5E5C; !important;" v-if="expired">Votre test a été expiré
              !</h1>
          </div>
          <br>
          <p class="mt-5" style="text-align: center; font-size: 25px" v-if="done">
            Le recruteur reviendra vers vous rapidement pour vous donner les résultats.
            <br>Nous vous souhaitons bonne chance pour la suite ! </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import axios from "axios";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        name: "TestFinished",
        data() {
            return {
                done: false,
                expired: false
            }
        },
        mounted() {
            axios.get('http://localhost:8765/evaluation/test/findtest/' + this.$route.params.id).then(res => {
                if (res.data) {
                    if (res.data.expired == true) {
                        this.expired = true
                    }
                    if (res.data.done == true) {
                        this.done = true
                    }
                }
            })
        }
    }
</script>

<style scoped>

  .home-banner-area {
    /*background: url('src/img/home-banner-bg.png') no-repeat center;*/
    background: url('home-banner-bg.png') no-repeat center;
    background-size: cover;
  }

  /*@import '../../../../assets/css/hexagons.min.css';*/
  /*@import '../../../../assets/css/bootstrap.css';*/
  /*@import '../../../../assets/css/font-awesome.min.css';*/
  /*@import '../../../../assets/css/magnific-popup.css';*/
  /*@import '../../../../assets/css/main.css';*/
  /*@import '../../../../assets/css/nice-select.css';*/
  /*@import '../../../../assets/css/owl.carousel.css';*/
  /*@import '../../../../assets/css/linearicons.css';*/

  h3 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 40px;
    font-family: Calibri;
    color: #3C4858;
  }

  p {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #5E5E5C;
  }

  .vue-tabs .nav.nav-tabs > li > a.active_tab span.title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #5E5E5C;
  }

  .vue-tabs .nav > li span.title {
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #55acee;
  }

  li {
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #5E5E5C;
    text-transform: capitalize;
    list-style-type: none;
  }

  .btn-social {
    background-color: #55acee;
  }
</style>
