<template>
  <section class="home-banner-area" style="height:657px !important; overflow: hidden; !important;" id="body">
    <div class="container">
      <div class="row">
        <div>
          <div v-show="this.questions.length !==0">
            <h1 class="mb-5" style="text-align: center;">
              <span>Welcome</span>
            </h1>
            <div class="">
              <p>Ce test du level
                <b v-for="level in prms.levels">
                  {{level.levelName}}
                </b> contient <b>{{this.questions.length}} questions </b>
                de durée <b>{{this.duration/60}} </b>minutes
              </p>
              <h4 class="">
                <span>Technologies:</span>
              </h4>
              <ul v-for="techno in prms.technos">
                <li class="3">{{techno.technologyName}} : {{techno.occ}} questions</li>
              </ul>
              <p>Le test commencera lorsque tu appuis sur le bouton Suivant</p>
              <button style="float: left; background-color: #54adf9 !important;" type="submit"
                      class="btn btn-social mt-4" @click="submit()">Passer Le Test
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <img class="img-fluid" src="../../../../assets/img/header-img.png" style="height: 600px" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import axios from "axios";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        name: "TestValidation",
        data() {
            return {
                testId: 0,
                duration: '',
                candidate: {},
                questions: [],
                prms: {technos: [], cats: [], diffs: [], levels: []}
            }
        },

        methods: {
            getPrms(arr, prmsArg) {
                prmsArg.technos = [arr[0].prmTechnology]
                prmsArg.levels = [arr[0].prmLevel]
                prmsArg.diffs = [arr[0].prmDifficulty]
                prmsArg.cats = [arr[0].prmCategory]
                for (let i = 1; i < arr.length; i++) {
                    if (prmsArg.technos.filter(e => e.id === arr[i].prmTechnology.id).length == 0) prmsArg.technos.push(arr[i].prmTechnology)
                    if (prmsArg.levels.filter(e => e.id === arr[i].prmLevel.id).length == 0) prmsArg.levels.push(arr[i].prmLevel)
                    if (prmsArg.diffs.filter(e => e.id === arr[i].prmDifficulty.id).length == 0) prmsArg.diffs.push(arr[i].prmDifficulty)
                    if (prmsArg.cats.filter(e => e.id === arr[i].prmCategory.id).length == 0) prmsArg.cats.push(arr[i].prmCategory)
                }
            },
            countOcc(prms, arr) {
                prms.technos.forEach(el => {
                    el.occ = (arr.filter(x => x.prmTechnology.id === el.id).length)
                })
                prms.diffs.forEach(el => {
                    el.occ = (arr.filter(x => x.prmDifficulty.id === el.id).length)
                })
                prms.levels.forEach(el => {
                    el.occ = (arr.filter(x => x.prmLevel.id === el.id).length)
                })
                prms.cats.forEach(el => {
                    el.occ = (arr.filter(x => x.prmCategory.id === el.id).length)
                })
            },
            submit() {
                this.$router.push('/candidat/passage/' + this.testId)
            }
            ,
            sedondsToTime(secs) {
                var sec_num = parseInt(secs, 10)
                var hours = Math.floor(sec_num / 3600)
                var minutes = Math.floor(sec_num / 60) % 60
                var seconds = sec_num % 60
                return [hours, minutes, seconds]
                    .map(v => v < 10 ? "0" + v : v)
                    .filter((v, i) => v !== "00" || i > 0)
                    .join(":")
            },
        },


        mounted() {
            this.testId = this.$route.params.id
            axios.get('http://localhost:8765/evaluation/test/findtest/' + this.testId).then(res => {
                if (res.data) {
                    if (res.data.expired == true || res.data.done == true) {
                        this.$router.push('/candidat/finish/' + this.$route.params.id)
                    }
                }
            }),
                axios.post('http://localhost:8765/evaluation/testQuestion/find/' + this.testId).then(res => {

                    this.duration = res.data[0].test.testDuration
                    this.candidate = res.data[0].candidate
                    res.data.forEach(
                        el => {
                            this.questions.push(el.question)
                        })
                    if (this.questions) {
                        this.getPrms(this.questions, this.prms)
                        this.countOcc(this.prms, this.questions)
                    }
                })
            //this.$route.params.id = undefined
        }
    }
</script>

<style scoped>
  .home-banner-area {
    /*background: url('src/img/home-banner-bg.png') no-repeat center;*/
    background: url('home-banner-bg.png') no-repeat center;
    /*height: 600px !important;*/
    background-size: cover;
  }

  /*@import '../../../../assets/css/hexagons.min.css';*/
  /*@import '../../../../assets/css/bootstrap.css';*/
  /*@import '../../../../assets/css/font-awesome.min.css';*/
  /*@import '../../../../assets/css/magnific-popup.css';*/
  /*@import '../../../../assets/css/main.css';*/
  /*@import '../../../../assets/css/nice-select.css';*/
  /*@import '../../../../assets/css/owl.carousel.css';*/
  /*@import '../../../../assets/css/linearicons.css';*/


  h3 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 40px;
    font-family: Calibri;
    color: #3C4858;
  }

  p {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #5E5E5C;
  }

  .vue-tabs .nav.nav-tabs > li > a.active_tab span.title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #5E5E5C;
  }

  .vue-tabs .nav > li span.title {
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #55acee;
  }

  li {
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #5E5E5C;
    text-transform: capitalize;
    list-style-type: none;
  }

  .btn-social {
    background-color: #55acee;
  }
</style>
