<template>
  <div class="row">
    <div class="col-12">
      <card :title="$t('prmTechnology.Technologies')">
        <el-dialog
          :title="$t('prmTechnology.Edit_Technology')"
          :visible.sync="modals.basic">
          <div class="form-group">
            <fg-input :label="$t('prmTechnology.Technology_Name')"
                      name="technology Name"
                      v-validate="modelValidations.technologyNameAdd"
                      v-model="technology.technologyName"
                      :error="getError('technology Name')"
            >
            </fg-input>
          </div>
          <span slot="footer" class="dialog-footer">
              <button class="btn btn-danger" @click="closeModal('basic')">{{$t('button.Cancel')}}</button>&nbsp;
              <button class="btn btn-success" @click="submitUpdate('basic')">{{$t('button.Confirm')}}</button>
            </span>
        </el-dialog>
        <el-dialog
          center
          :title="$t('prmTechnology.Add_Technology')"
          :visible.sync="modals.centered">
          <div class="form-group">
            <fg-input :label="$t('prmTechnology.Technology_Name')"
                      name="technologyName"
                      v-validate="modelValidations.technologyName"
                      v-model="technology.technologyName"
                      :error="getError('technologyName')"
            >
            </fg-input>
          </div>
          <button class="btn btn-danger" @click="closeModal('centered')">{{$t('button.Cancel')}}</button>&nbsp;
          <button class="btn btn-success" @click="submit('centered')">{{$t('button.Confirm')}}</button>
        </el-dialog>
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              style="width: 200px"
              v-model="pagination.perPage"
              placeholder="$t('table.Per_page')">
              <el-option
                class="select-default"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
            <div>
              <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                      @click="openModal('centered',tableData)">
                <i class="fa fa-plus"></i>
              </button>
              <el-input type="search"
                        class="mb-3"
                        style="width: 200px"
                        :placeholder="$t('table.Search_records')"
                        v-model="searchQuery"
                        aria-controls="datatables"/>
            </div>
          </div>
          <div class="col-sm-12">

            <el-table stripe
                      style="width: 100%;"
                      :data="queriedData"
                      border>
              <el-table-column v-for="column in tableColumns"
                               :key="column.label"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               :label="$t(column.label)">
              </el-table-column>
              <el-table-column
                :max-width="30"
                fixed="right"
                label="Actions">
                <template slot-scope="props">

                  <a v-tooltip.top-center="$t('Edit')" class="btn-warning btn-simple btn-link"
                     @click="openModalUpdate ('basic',tableData, props.row,props.$index)"><img style="width: 25px;"
                                                                                               :src="require('src/assets/images/edit.png')"/></a>
                  <a v-tooltip.top-center="$t('Delete')" class="btn-danger btn-simple btn-link"
                     @click="handleDelete(props.$index, props.row,tableData)"><img style="width: 25px;"
                                                                                   :src="require('src/assets/images/poubelle.png')"/></a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div slot="footer" class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination class="pagination-no-border"
                        v-model="pagination.currentPage"
                        :per-page="pagination.perPage"
                        :total="pagination.total">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Dialog, MessageBox, Select, Option} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import Vue from 'vue'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import prmTechnology from "../../../../models/prmTechnology";

    Vue.prototype.$confirm = MessageBox.confirm
    export default {
        components: {
            [Dialog.name]: Dialog,
            LPagination,
            [Dialog.name]: Dialog,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            //displaying paginated Data
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            //displaying Data in tableData (all data or if there's a query displaying queriedData in tableData)
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                technology: new prmTechnology(),
                modelValidations: {
                    technologyName: {
                        required: true
                    },
                    technologyNameAdd: {
                        required: true
                    },
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0
                },
                searchQuery: '',
                propsToSearch: ['technologyName'],
                tableColumns: [
                    {
                        prop: 'technologyName',
                        label: 'prmTechnology.Technology_Name',
                        minWidth: 200
                    },
                ],
                tableData: [],
                fuseSearch: null,
                addTechno: "f"
            }
        },
        methods: {
            //display technology is required
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            //open add Modal
            openModal(name, deal) {
                this.modals[name] = true
            },
            //add a new technology
            submit(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.modals[name] = false
                        axios.post(sharedUrl.CREATE_TECHNOLOGY, this.technology).then(result => {
                            if (result.data) {
                                this.tableData.unshift(result.data)
                                this.technology = {};
                                swal({
                                    type: 'success',
                                    html: this.$t('prmTechnology.Technology_Added'),
                                    confirmButtonClass: 'btn btn-success btn-fill',
                                    buttonsStyling: false
                                })
                            }
                        })
                    }
                })
            },
            //close modal (update and add)
            closeModal(name) {
                this.modals[name] = false
                this.category = {};
            },
            //open modal update
            openModalUpdate(name, technologies, technology, id) {
                this.technology = technology
                this.modals[name] = true
            },
            //update technology
            submitUpdate(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.modals[name] = false
                        axios.put(sharedUrl.UPDATE_TECHNOLOGY + this.technology.id, this.technology).then(response => {
                            this.category = {}
                            swal({
                                type: 'success',
                                html: this.$t('prmTechnology.Technology_Updated'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
            //deleting a technology from tableData (has an id and defined by row (row=technology object))
            handleDelete(index, row, tableData) {
                let cntx = this
                swal({
                    title: this.$t('prmTechnology.Detele_Technology'),
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_technology + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: cntx.$t('prmTechnology.Technology_Deleted'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                }).catch(swal.noop)
            },
            //displaying all technologies from database in tableData
            getData() {
                axios.get(sharedUrl.GET_TECHNOLOGIES).then((response) => {
                    this.tableData = response.data;
                })
            },
        },
        mounted() {
            //displaying data
            this.getData();
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['technologyName']})
            }, 500)
        },
    }
</script>
<style scoped>
  .el-dialog {
    width: 50%;
  }

  @media (max-width: 800px) {
    .el-dialog {
      width: 90%
    }
  }
</style>
