<template>
  <div class="row">
    <div class="col-12">
      <card :title="$t('prmDifficulty.Difficulties')">

        <el-dialog
          :title="$t('prmDifficulty.Edit_Difficulty')"
          :visible.sync="modals.basic">
          <div class="form-group">
            <fg-input :label="$t('prmDifficulty.Difficulty_Name')"
                      name="difficulty Name"
                      v-validate="modelValidations.difficultyNameAdd"
                      v-model="difficulty.difficultyName"
                      :error="getError('difficulty Name')"
            >
            </fg-input>
          </div>
          <span slot="footer" class="dialog-footer">
              <button class="btn btn-danger" @click="closeModal('basic')">{{$t('button.Cancel')}}</button>&nbsp;
              <button class="btn btn-success" @click="submitUpdate('basic')">{{$t('button.Confirm')}}</button>
            </span>
        </el-dialog>
        <el-dialog
          center
          :title="$t('prmDifficulty.Add_Difficulty')"
          :visible.sync="modals.centered">
          <div class="form-group">
            <fg-input :label="$t('prmDifficulty.Difficulty_Name')"
                      name="difficultyName"
                      v-validate="modelValidations.difficultyName"
                      v-model="difficulty.difficultyName"
                      :error="getError('difficultyName')"
            >
            </fg-input>
          </div>
          <button class="btn btn-danger" @click="closeModal('centered')">{{$t('button.Cancel')}}</button>&nbsp;
          <button class="btn btn-success" @click="submit('centered')">{{$t('button.Confirm')}}</button>
        </el-dialog>

        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              :placeholder="$t('table.Per_page')"
              style="width: 200px"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
            <div>
              <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                      @click="openModal('centered',tableData)">
                <i class="fa fa-plus"></i>
              </button>
              <el-input aria-controls="datatables"
                        class="mb-3"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template slot-scope="props">
                  <a @click="openModalUpdate ('basic',tableData, props.row,props.$index)"
                     v-tooltip.top-center="$t('Edit')"><img style="width: 25px;"
                                                            :src="require('src/assets/images/edit.png')"/></a>
                  <a @click="handleDelete(props.$index, props.row,tableData)" class="btn-danger btn-simple btn-link"
                     v-tooltip.top-center="$t('Delete')"><img style="width: 25px;"
                                                              :src="require('src/assets/images/poubelle.png')"/></a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option, Dialog} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";


    export default {
        components: {
            [Dialog.name]: Dialog,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            //displaying paginated Data
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            //displaying Data in tableData (all data or if there's a query displaying queriedData in tableData)
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                difficulty: {},
                modelValidations: {
                    difficultyName: {
                        required: true
                    },
                    difficultyNameAdd: {
                        required: true
                    },
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['difficultyName'],
                tableColumns: [
                    {
                        prop: 'difficultyName',
                        label: 'prmDifficulty.Difficulty_Name',
                        minWidth: 200
                    }

                ],
                tableData: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
//display required field
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
//open Modal for add
            openModal(name, deal) {
                this.modals[name] = true
            },
//add a new difficulty
            submit(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.modals[name] = false
                        axios.post(sharedUrl.CREATE_DIFFICULTY, this.difficulty).then(result => {
                            if (result.data) {
                                this.tableData.unshift(result.data)
                                this.difficulty = {};
                                swal({
                                    type: 'success',
                                    html: this.$t('prmDifficulty.Difficulty_Added'),
                                    confirmButtonClass: 'btn btn-success btn-fill',
                                    buttonsStyling: false
                                })
                            }
                        })
                    }
                })
            },
//close modal(update and add)
            closeModal(name) {
                this.modals[name] = false
                this.difficulty = {};
            },

//open update Modal
            openModalUpdate(name, difficulties, difficulty, id) {
                this.difficulty = difficulty
                this.modals[name] = true
            },
            //update difficulty
            submitUpdate(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.modals[name] = false
                        axios.put(sharedUrl.UPDATE_DIFFICULTY + this.difficulty.id, this.difficulty).then(response => {
                            this.difficulty = {}
                            swal({
                                type: 'success',
                                html: this.$t('prmDifficulty.Difficulty_Updated'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },

            //deleting a difficulty from tableData (has an id and defined by row (row=difficulty object))
            handleDelete(index, row, tableData) {
                let cnx = this
                swal({
                    title: this.$t('prmDifficulty.Delete_Difficulty'),
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {

                        axios.delete(sharedUrl.DELETE_DIFFICULTY + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: cnx.$t('prmDifficulty.Difficulty_Deleted'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            }
            ,
        },
        //displaying all difficulties from database in tableData
        mounted() {
            axios.get(sharedUrl.GET_DIFFICULTIES).then(response => {
                this.tableData = response.data;
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['difficultyName']})
            }, 500)
        }
    }
</script>
<style scoped>
</style>
