<template>
  <div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8">
        <div class="card card-wizard" id="wizardCard">
          <form-wizard shape="tab"
                       @on-complete="wizardComplete"
                       error-color="#FB404B"
                       color="#35495E">
            <tab-content title="Personal details"
                         class="col-12"
                         :before-change="() => validateStep('firstStep')"
                         icon="nc-icon nc-badge">
              <first-step @edit="getContent" ref="firstStep" @on-validated="onStepValidated"></first-step>
            </tab-content>

            <tab-content title="Additional Info"
                         class="col-12"
                         :before-change="() => validateStep('secondStep')"
                         icon="nc-icon nc-notes">
              <second-step ref="secondStep" @on-validated="onStepValidated"></second-step>
            </tab-content>

            <tab-content title="Last step"
                         class="col-12"
                         icon="nc-icon nc-check-2">
              <div>
                <h2 class="text-center text-space">
                  <br>
                  <small>Click on "<b>Finish</b>" Submit the updates</small>
                </h2>
              </div>
            </tab-content>
            <button slot="prev" class="btn btn-default btn-fill btn-wd btn-back">Back</button>
            <button slot="next" class="btn btn-default btn-fill btn-wd btn-next">Next</button>
            <button slot="finish" class="btn btn-success btn-fill btn-wd">Finish</button>
          </form-wizard>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import {FormWizard, TabContent} from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import FirstStep from './WizardEdit/FirstStep'
    import SecondStep from './WizardEdit/SecondStep'
    import QuestionList from "./QuestionList";
    import swal from 'sweetalert2'
    import axios from 'axios'
    import router from 'vue-router'
    import Vue from 'vue'
    import {bus} from '@/main';
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    var Events = new Vue({});
    export default {
        mounted() {
        },
        data() {
            return {
                responses: [],
                question: {
                    'statement': '',
                    'prmLevel': {},
                    'prmCategory': {},
                    'prmTechnology': {},
                    'prmDifficulty': {},
                },
                resp1: {
                    'question': {},
                    'value': {},
                    'correct': {}
                },
                resp2: {
                    'question': {},
                    'value': {},
                    'correct': {}
                },
                resp3: {
                    'question': {},
                    'value': {},
                    'correct': {}
                },
                resp4: {
                    'question': {},
                    'value': {},
                    'correct': {}
                },
                wizardModel: {},
                model: {}
            }
        },
        components: {
            FormWizard,
            TabContent,
            FirstStep,
            SecondStep,
            QuestionList
        },
        methods: {
            validateStep(ref) {
                return this.$refs[ref].validate()
            },
            onStepValidated(validated, model) {
                this.wizardModel = {...this.wizardModel, ...model}
            },

            getContent(model) {
                this.model = {...this.model, ...model}
            },
            affectResp(model, id, response) {
                let obj = {}
                obj.value = model.responses[id].value
                obj.correct = model.responses[id].correct
                obj.question = response
                return obj
            },
            affetQuestion(model) {
                let obj = {}
                obj.statement = model.statement
                obj.prmCategory = model.prmCategory
                obj.prmLevel = model.prmLevel
                obj.prmTechnology = model.prmTechnology
                obj.prmDifficulty = model.prmDifficulty
                return obj
            },
            wizardComplete() {
                this.question = this.affetQuestion(this.wizardModel)
                this.question.questionid = this.$store.state.question.questionid
                this.wizardModel.responses.forEach(el => {
                    el.question = this.question
                    axios.put(sharedUrl.UPDATE_RESPONSE + el.id, el).then(result => {
                    })
                })
                axios.put(sharedUrl.UPDATE_QUESTION + this.question.questionid, this.question).then(result => {
                })
                swal('Good job!', 'Question Edited Successfully!', 'success').then(result => {
                    this.$router.push({path: '/examinateur/questionList'})
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
  .vue-form-wizard .wizard-icon-circle.tab_shape {
    background-color: #9A9A9A !important;
    color: white;
  }

  .vue-form-wizard .wizard-tab-content {
    display: flex; // to avoid horizontal scroll when animating
    .wizard-tab-container {
      display: block;
      animation: fadeIn 0.5s;
    }
  }
</style>
