<template>
  <div class="row">
    <div class="col-2">
      <ul class="list-group" v-for="question in tableData">
        <a href="#" class="list-group-item
            list-group-item-action btn btn-outline" @click="showUpdateCard(question)">Question
          {{question.questionid}}</a>
      </ul>
      <a href="#" class="list-group-item
            list-group-item-action active btn btn-outline" @click="showAll()">{{$t('questionResponse.Show_All')}}</a>
    </div>
    <div class="col-10">
      <div v-show="showAddButton">
        <button class="btn btn-social  btn-twitter btn-round" style="float: right !important;" @click="showAddCard()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <card v-if="showAdd" style="width:100% !important; ">
        <div class="row" style="margin-top: -10px !important;">
          <div class="col-md-3">
            <fg-input :label="$t('prmLevel.Levels')"
                      :error="getError('level')">
              <el-select name="level"
                         v-validate="modelValidations.level"
                         class="select-default"
                         v-model="model.level">
                <el-option v-for="level in levels"
                           :key="level.levelName"
                           class="select-default"
                           :label="level.levelName"
                           :value="level.levelName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-3">
            <fg-input :label="$t('prmCategory.Categories')"
                      :error="getError('category')">
              <el-select name="category"
                         v-validate="modelValidations.category"
                         class="select-default"
                         v-model="model.category">
                <el-option v-for="category in categories"
                           :key="category.categoryName"
                           class="select-default"
                           :label="category.categoryName"
                           :value="category.categoryName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-3">
            <fg-input :label="$t('prmDifficulty.Difficulties')"
                      :error="getError('difficulty')">
              <el-select name="difficulty"
                         v-validate="modelValidations.difficulty"
                         class="select-default"
                         v-model="model.difficulty">
                <el-option v-for="difficulty in difficulties"
                           :key="difficulty.difficultyName"
                           class="select-default"
                           :label="difficulty.difficultyName"
                           :value="difficulty.difficultyName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-3">
            <fg-input :label="$t('prmTechnology.Technologies')"
                      :error="getError('technology')">
              <el-select name="technology"
                         v-validate="modelValidations.technology"
                         class="select-default"
                         v-model="model.technology">
                <el-option v-for="technology in technologies"
                           :key="technology.technologyName"
                           class="select-default"
                           :label="technology.technologyName"
                           :value="technology.technologyName"
                >
                </el-option>
              </el-select>
            </fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input :label="$t('question.Statement')"
                      name="statementAdd"
                      v-validate="modelValidations.statement"
                      v-model="modelAdd.statement"
                      :error="getError('statementAdd')"
            >
            </fg-input>
          </div>
          <div class="col-md-12">
            <fg-input>
              <span style="float: left !important;" @click="showAddCode()">
<!--                <span style="font-weight: 700;">Add Code:</span>-->
<img style=" margin-left:8px; margin-bottom:10px; width: 32px; border-radius: 50%"
     :src="require('src/assets/images/code.png')" v-tooltip.top-center="'Add Code'"/>              </span>
              <div id="app" class="col-9">
                <div v-show="showCode">
                  <template>
                    <!-- Two-way Data-Binding -->
                    <codemirror v-model="modelAdd.code" :options="cmOptions"/>
                  </template>
                </div>
              </div>
            </fg-input>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-10">
                <fg-input :label="$t('questionResponse.Response')+ ' '+1"
                          name="response1Add"
                          v-validate="modelValidations.response1"
                          v-model="modelAdd.response1.value"
                          :error="getError('response1Add')">
                </fg-input>
              </div>
              <div class="col-md-2 mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="modelAdd.response1.correct">
                  <i class="fa fa-times" slot="off"></i>
                  <i class="fa fa-check" slot="on"></i>
                </l-switch>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-10">
                <fg-input :label="$t('questionResponse.Response')+ ' '+ 2"
                          name="response2Add"
                          v-validate="modelValidations.response2"
                          v-model="modelAdd.response2.value"
                          :error="getError('response2Add')">
                </fg-input>
              </div>
              <div class="col-md-2 mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="modelAdd.response2.correct">
                  <i class="fa fa-check" slot="on"></i>
                  <i class="fa fa-times" slot="off"></i></l-switch>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-10">
                <fg-input :label="$t('questionResponse.Response')+ ' '+ 3"
                          name="response3Add"
                          v-validate="modelValidations.response3"
                          v-model="modelAdd.response3.value"
                          :error="getError('response3Add')">
                </fg-input>
              </div>
              <div class="col-md-2 mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="modelAdd.response3.correct">
                  <i class="fa fa-check" slot="on"></i>
                  <i class="fa fa-times" slot="off"></i></l-switch>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-10">
                <fg-input :label="$t('questionResponse.Response')+ ' '+ 4"
                          name="response4Add"
                          v-validate="modelValidations.response4"
                          v-model="modelAdd.response4.value"
                          :error="getError('response4Add')">
                </fg-input>
              </div>
              <div class="col-md-2 mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="modelAdd.response4.correct">
                  <i class="fa fa-check" slot="on"></i>
                  <i class="fa fa-times" slot="off"></i>
                </l-switch>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-twitter btn-next mx-2" style="float:right !important;" @click="submit()">
          {{$t('button.Confirm')}}
        </button>
        <button class="btn btn-danger" style="float:right !important;" @click="closeModal('basic')">
          {{$t('button.Cancel')}}
        </button>&nbsp;
      </card>
      <card :title="'Question '+model.questionid" v-if="showUpdate" style="width:100% !important; ">
        <div class="row mt-2" style="margin-top: -10px !important;">
          <div class="col-md-3">
            <fg-input label="Level"
            >
              <el-select name="level"
                         class="select-default"
                         v-model="model.level">
                <el-option v-for="level in levels"
                           :key="level.levelName"
                           class="select-default"
                           :label="level.levelName"
                           :value="level.levelName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-3">
            <fg-input :label="$t('prmCategory.Categories')" :error="getError('category')">
              <el-select name="category"
                         class="select-default"
                         v-model="model.category">
                <el-option v-for="category in categories"
                           :key="category.categoryName"
                           class="select-default"
                           :label="category.categoryName"
                           :value="category.categoryName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-3">
            <fg-input :label="$t('prmDifficulty.Difficulties')"
            >
              <el-select name="difficulty"

                         class="select-default"
                         v-model="model.difficulty">
                <el-option v-for="difficulty in difficulties"
                           :key="difficulty.difficultyName"
                           class="select-default"
                           :label="difficulty.difficultyName"
                           :value="difficulty.difficultyName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-3">
            <fg-input :label="$t('prmTechnology.Technologies')"
            >
              <el-select name="technology"
                         v-model="model.technology">
                <el-option v-for="technology in technologies"
                           :key="technology.technologyName"
                           class="select-default"
                           :label="technology.technologyName"
                           :value="technology.technologyName"
                >
                </el-option>
              </el-select>
            </fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <fg-input :label="$t('question.Statement')"
                      name="statement"
                      v-model="model.statement"
                      :disabled="!model.editEnabled"
            >
            </fg-input>
          </div>
          <div class="col-2 mt-4">
            <button class="btn btn-social  btn-reddit btn-round mx-2 btn-sm" style="float: right !important;"
                    @click="enabledEdit(tempQuestion)" v-tooltip.top-center="$t('Edit')">
              <i class="fa fa-edit"></i></button>
            <button class="btn btn-social  btn-youtube btn-round btn-sm " style="float: right !important;"
                    @click="deleteQuestion(tempQuestion,tableData,showUpdate)" v-tooltip.top-center="$t('Delete')">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

          </div>
          <div class="col-md-12">
            <fg-input label="code" v-if="model.code !== ''">
              <div class="col-9">
                <codemirror v-model="model.code" :options="cmOptions"
                            :disabled="!model.editEnabled"
                />
              </div>
            </fg-input>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">
                <fg-input :label="$t('questionResponse.Response')+ ' '+ 1"
                          name="response1"
                          v-model="model.response1.value"
                          :disabled="!model.editEnabled">
                </fg-input>
              </div>
              <div class="col-md-3 mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="model.response1.correct" class="ml-3" :disabled="!model.editEnabled">
                  <i class="fa fa-times" slot="off"></i>
                  <i class="fa fa-check" slot="on"></i>
                </l-switch>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">
                <fg-input :label="$t('questionResponse.Response')+ ' '+ 2"
                          name="response2"
                          v-validate="modelValidations.response2"
                          v-model="model.response2.value"
                          :disabled="!model.editEnabled">
                </fg-input>
              </div>
              <div class="col-md-3 mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="model.response2.correct" class="ml-3" :disabled="!model.editEnabled">
                  <i class="fa fa-check" slot="on"></i>
                  <i class="fa fa-times" slot="off"></i></l-switch>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">
                <fg-input :label="$t('questionResponse.Response')+ ' '+ 3"
                          name="response3"
                          v-model="model.response3.value"
                          :disabled="!model.editEnabled">
                </fg-input>
              </div>
              <div class="col-md-3 mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="model.response3.correct" class="ml-3" :disabled="!model.editEnabled">
                  <i class="fa fa-check" slot="on"></i>
                  <i class="fa fa-times" slot="off"></i></l-switch>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">
                <fg-input :label="$t('questionResponse.Response')+ ' '+ 4"
                          name="response4"
                          v-model="model.response4.value"
                          :disabled="!model.editEnabled">
                </fg-input>
              </div>
              <div class="col-md-3  mt-3">
                <label class="mr-1">{{$t('question.false')}} / {{$t('question.true')}}</label>
                <br>
                <l-switch v-model="model.response4.correct" class="ml-3" :disabled="!model.editEnabled">
                  <i class="fa fa-check" slot="on"></i>
                  <i class="fa fa-times" slot="off"></i>
                </l-switch>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-twitter btn-next mx-2" style="float:right !important;" @click="submitUpdate()">
          {{$t('button.Confirm')}}
        </button>
        <button class="btn btn-danger" style="float:right !important;" @click="closeModal('basic')">
          {{$t('button.Cancel')}}
        </button>&nbsp;
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option, Dialog} from 'element-ui'
    import {
        Pagination as LPagination, Switch as LSwitch
    } from 'src/components'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import {codemirror} from 'vue-codemirror'
    import 'codemirror/lib/codemirror.css'
    import 'codemirror/mode/javascript/javascript.js'
    import 'codemirror/theme/base16-dark.css'

    export default {
        data() {
            return {
                code: 'const a = 10',
                cmOptions: {
                    tabSize: 3,
                    mode: 'text/javascript',
                    theme: 'base16-dark',
                    lineNumbers: true,
                    line: true,
                },
                item: 1,
                items: [
                    {text: 'Real-Time', icon: 'mdi-clock'},
                    {text: 'Audience', icon: 'mdi-account'},
                    {text: 'Conversions', icon: 'mdi-flag'},
                ],
                updated: false,
                tempQuestion: {},
                show: false,
                showAdd: false,
                showCode: false,
                showUpdate: false,
                showAddButton: true,
                tableData: [],
                categories: [],
                technologies: [],
                levels: [],
                difficulties: [],
                responses: [],
                model: {
                    editEnabled: false,
                    statement: '',
                    code: '',
                    response1: {
                        value: '',
                        correct: false
                    },
                    response2: {
                        value: '',
                        correct: false
                    },
                    response3: {
                        value: '',
                        correct: false
                    },
                    response4: {
                        value: '',
                        correct: false
                    },
                    responses: [],
                    category: '',
                    technology: '',
                    level: '',
                    difficulty: ''
                },
                modelValidations: {
                    statement: {
                        required: true,
                        min: 2
                    },
                    response1: {
                        required: true,
                    },
                    response2: {
                        required: true,
                    },
                    response3: {
                        required: true,
                    },
                    response4: {
                        required: true,
                    },
                    category: {
                        required: true
                    },
                    level: {
                        required: true
                    },
                    difficulty: {
                        required: true
                    },
                    technology: {
                        required: true
                    }
                },
                modelAdd: {
                    editEnabled: false,
                    statement: '',
                    code: '',
                    response1: {
                        value: '',
                        correct: false
                    },
                    response2: {
                        value: '',
                        correct: false
                    },
                    response3: {
                        value: '',
                        correct: false
                    },
                    response4: {
                        value: '',
                        correct: false
                    },
                    responses: [],
                    category: '',
                    technology: '',
                    level: '',
                    difficulty: ''
                },
            }
        },
        components: {
            codemirror,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn,
            LSwitch,
            [Dialog.name]: Dialog,
        },
        computed: {
            codemirror() {
                return this.$refs.cmEditor.codemirror
            },
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        methods: {
            // enable the edit inputs
            enabledEdit(question) {
                question.editEnabled = true
            },
            // redirects to the question list page
            showAll() {
                this.$router.push('questionList')
            },
            // delete the selected question
            deleteQuestion(question, table, show) {
                let cntx = this
                delete question.editEnabled;
                this.showUpdate = false
                this.showAddButton = true
                swal({
                    title: this.$t('questionResponse.Detele_Question'),
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_RESPONSE_BY_QUESTION + question.questionid).then(() => {
                            axios.delete(sharedUrl.DELETE_QUESTION + question.questionid).then((response) => {
                                let questionDeleted = table.filter((x) => {
                                    return x.questionid === question.response1.question.questionid
                                })
                                table.splice(table.indexOf(questionDeleted[0]), 1)
                                swal({
                                    type: 'success',
                                    html: cntx.$t('questionResponse.Question_Deleted'),
                                    confirmButtonClass: 'btn btn-success btn-fill',
                                    buttonsStyling: false
                                })
                            })
                        })
                    }
                })
            },
            // close the input card
            closeModal() {
                this.showAdd = false
                this.showCode = false
                this.showAddButton = true
            },
            affectRespUpdate(responses, id, response) {
                let obj = {}
                obj.id = responses[id].id
                obj.value = responses[id].value
                obj.correct = responses[id].correct
                obj.question = response
                return obj
            },
            affectResp(responses, id, response) {
                let obj = {}
                obj.value = responses[id].value
                obj.correct = responses[id].correct
                obj.question = response
                return obj
            },
            getResponses(model) {
                let responses = []
                responses.push(model.response1);
                responses.push(model.response2);
                responses.push(model.response3);
                responses.push(model.response4);
                return responses
            },
            affetQuestion(model) {
                let obj = {}
                obj.questionid = model.questionid
                obj.statement = model.statement
                obj.code = model.code
                obj.prmCategory = model.prmCategory
                obj.prmLevel = model.prmLevel
                obj.prmTechnology = model.prmTechnology
                obj.prmDifficulty = model.prmDifficulty
                return obj
            },
            viderChamps(model) {
                model.statement = ""
                model.code = ""
                model.responses = []
                model.response1 = {}
                model.response2 = {}
                model.response3 = {}
                model.response4 = {}
            },
            submit() {
                if (this.model.prmTechnology == undefined) {
                    this.modelAdd.prmTechnology = this.technologies.filter(x => x.technologyName == this.model.technology)[0]
                    this.modelAdd.prmCategory = this.categories.filter(x => x.categoryName == this.model.category)[0]
                    this.modelAdd.prmDifficulty = this.difficulties.filter(x => x.difficultyName == this.model.difficulty)[0]
                    this.modelAdd.prmLevel = this.levels.filter(x => x.levelName == this.model.level)[0]
                } else {
                    this.modelAdd.prmTechnology = this.model.prmTechnology
                    this.modelAdd.prmCategory = this.model.prmCategory
                    this.modelAdd.prmDifficulty = this.model.prmDifficulty
                    this.modelAdd.prmLevel = this.model.prmLevel
                }
                return this.$validator.validateAll().then(res => {
                        if (res) {
                            let question = this.affetQuestion(this.modelAdd)
                            let responses = this.getResponses(this.modelAdd)
                            axios.post(sharedUrl.CREATE_QUESTION, question).then(result => {
                                question = result.data
                                for (let index = 0; index < 4; index++) {
                                    responses[index] = this.affectResp(responses, index, result.data)
                                    axios.post(sharedUrl.CREATE_RESPONSE, responses[index]).then(response => {
                                        if (response.data) {
                                            swal({
                                                type: 'success',
                                                html: this.$t('questionResponse.question_Added'),
                                                confirmButtonClass: 'btn btn-success btn-fill',
                                                buttonsStyling: false
                                            }).then(result => {
                                                axios.get(sharedUrl.GET_QUESTIONS).then(response => {
                                                    this.tableData = response.data.slice(-9)
                                                    this.tableData.reverse();
                                                    this.showAdd = false
                                                    this.showCode = false
                                                    this.showAddButton = true
                                                    this.viderChamps(this.modelAdd)
                                                })
                                            })
                                        }
                                    })
                                }
                            })
                        }
                        return res
                    }
                )
            },
            submitUpdate() {
                this.model.prmTechnology = this.technologies.filter(x => x.technologyName == this.model.technology)[0]
                this.model.prmCategory = this.categories.filter(x => x.categoryName == this.model.category)[0]
                this.model.prmDifficulty = this.difficulties.filter(x => x.difficultyName == this.model.difficulty)[0]
                this.model.prmLevel = this.levels.filter(x => x.levelName == this.model.level)[0]
                let question = this.affetQuestion(this.model)
                let responses = this.getResponses(this.model)
                axios.put(sharedUrl.UPDATE_QUESTION + question.questionid, question).then(result => {
                    for (let index = 0; index < 4; index++) {
                        responses[index] = this.affectRespUpdate(responses, index, result.data)
                        axios.put(sharedUrl.UPDATE_RESPONSE + responses[index].id, responses[index]).then(response => {
                            if (response.data) {
                                this.showUpdate = false
                                axios.get(sharedUrl.GET_QUESTIONS).then(response => {
                                    this.tableData = response.data.slice(-9)
                                    this.tableData.reverse()
                                    this.showAdd = false
                                    this.showCode = false
                                    this.showAddButton = true
                                })
                            }
                        })
                        swal({
                            type: 'success',
                            html: this.$t('questionResponse.Question_Updated'),
                            confirmButtonClass: 'btn btn-success btn-fill',
                            buttonsStyling: false
                        })
                    }
                })
            },
            updateQuestion(question) {
                this.updated = true
                this.model.editEnabled = false
                this.model.questionid = question.questionid
                this.model.statement = question.statement
                this.model.code = question.code
                this.model.technology = question.prmTechnology.technologyName
                this.model.level = question.prmLevel.levelName
                this.model.category = question.prmCategory.categoryName
                this.model.difficulty = question.prmDifficulty.difficultyName
                this.tempQuestion = this.model
                axios.get(sharedUrl.GET_RESPONSE_BY_QUESTION + question.questionid).then(res => {
                    this.model.response1 = res.data[0]
                    this.model.response2 = res.data[1]
                    this.model.response3 = res.data[2]
                    this.model.response4 = res.data[3]
                    this.tempQuestion.response1 = res.data[0]
                    this.tempQuestion.response2 = res.data[1]
                    this.tempQuestion.response3 = res.data[2]
                    this.tempQuestion.response4 = res.data[3]
                })
            },
            closeUpdateModal() {
                this.showUpdate = false
                this.showAddButton = true
            },
            showAddCode() {
                this.showCode = !this.showCode
            },
            showAddCard() {
                this.showAddButton = false
                this.showAdd = true
            },
            showUpdateCard(question) {
                this.showAddButton = false
                this.showAdd = false
                this.showUpdate = false
                setTimeout(() => {
                    this.showUpdate = true
                }, 200)
                this.updateQuestion(question);
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            }
        },
        mounted() {
            if (this.$store.state.question != null) {
                let x = this.$store.state.question
                axios.get(sharedUrl.GET_QUESTIONS).then(response => {
                    let index = 0;
                    response.data.forEach(el => {
                        if (el.questionid == x.questionid) {
                            index = response.data.indexOf(el)
                            this.tableData = response.data.slice(index, index + 9);
                        }
                    })
                })
                this.showUpdateCard(this.$store.state.question)
                this.$store.dispatch("retrieveQuestion", null);
            } else {
                axios.get(sharedUrl.GET_QUESTIONS).then(response => {
                    this.tableData = response.data.slice(-9);
                    this.tableData.reverse()
                })
            }
            axios.get(sharedUrl.GET_TECHNOLOGIES).then(result => {
                this.technologies = result.data
            })
            axios.get(sharedUrl.GET_DIFFICULTIES).then(result => {
                this.difficulties = result.data
            })
            axios.get(sharedUrl.GET_LEVELS).then(result => {
                this.levels = result.data
            })
            axios.get(sharedUrl.GET_CATEGORIES).then(result => {
                this.categories = result.data
            })
        }
    }
</script>
<style scoped>
</style>
