<template>
  <div class="row">
    <div class="col-12">
      <card>
        <div class="row" style="margin-top: -10px !important;">
          <div class="col-md-2 mr-3">
            <fg-input :label="$t('prmLevel.Levels')"
            >
              <el-select name="level"
                         style="width: 100% ;cursor: pointer;"
                         class="select-default mr-1"
                         v-model="model.level">
                <el-option v-for="level in levels"
                           :key="level.levelName"
                           class="select-default"
                           :label="level.levelName"
                           :value="level.levelName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-2 mr-3">
            <fg-input :label="$t('prmCategory.Categories')"
                      style="cursor: pointer;"
            >
              <el-select name="category"
                         style="width: 100%; "
                         class="select-default mr-1"
                         v-model="model.category">
                <el-option v-for="category in categories"
                           :key="category.categoryName"
                           class="select-default"
                           :label="category.categoryName"
                           :value="category.categoryName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-2 mr-3">
            <fg-input :label="$t('prmDifficulty.Difficulties')"
            >
              <el-select name="difficulty"
                         style="width: 100%"
                         class="select-default mr-1"
                         v-model="model.difficulty">
                <el-option v-for="difficulty in difficulties"
                           :key="difficulty.difficultyName"
                           class="select-default"
                           :label="difficulty.difficultyName"
                           :value="difficulty.difficultyName">
                </el-option>
              </el-select>
            </fg-input>
          </div>

          <div class="col-md-2 mr-5">
            <fg-input :label="$t('prmTechnology.Technologies')"
            >
              <el-select name="technology"
                         style="width: 100%"
                         class="select-default"
                         v-model="model.technology">
                <el-option v-for="technology in technologies"
                           :key="technology.technologyName"
                           class="select-default"
                           :label="technology.technologyName"
                           :value="technology.technologyName"
                >
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-2 pt-1">
            <button id="search" class="btn btn-social mt-4 " style="justify-content: center;" @click="Search()"><i
              class="fa fa-search"></i> {{$t('Search')}}
            </button>&nbsp;
          </div>
        </div>
      </card>
    </div>
    <el-dialog
      :title="statement"
      :visible.sync="modals.basic">
      <div v-for="response in responses">
        <label>{{response.value}} : <strong>{{response.correct}}</strong></label>
      </div>

      <span slot="footer" class="dialog-footer">
              <button class="btn btn-danger" @click="closeModal('basic')">Cancel</button>&nbsp;
              <button class="btn btn-success" @click="closeModal('basic')">Confirm</button>
            </span>
    </el-dialog>
    <div class="col-12">
      <card title="Questions">

        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
          <el-select
            class="select-default mb-3"
            placeholder="Per page"
            style="width: 200px"
            v-model="pagination.perPage">
            <el-option
              :key="item"
              :label="item"
              :value="item"
              class="select-default"
              v-for="item in pagination.perPageOptions">
            </el-option>
          </el-select>
          <div>
            <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                    @click="Add()">
              <i class="fa fa-plus"></i>
            </button>
            <el-input aria-controls="datatables"
                      class="mb-3"
                      :placeholder="$t('table.Search_records')"
                      style="width: 200px"
                      type="search"
                      v-model="searchQuery"/>
          </div>
        </div>
        <div class="col-sm-12">
          <el-table :data="queriedData"
                    border
                    stripe
                    style="width: 100%;">
            <el-table-column :key="column.label"
                             :label="$t(column.label)"
                             :min-width="column.minWidth"
                             :prop="column.prop"
                             v-for="column in tableColumns">
            </el-table-column>
            <el-table-column
              :min-width="75"
              fixed="right"
              label="Actions">
              <template slot-scope="props">

                <a @click="handleEdit(props.$index, props.row)" class="btn-warning btn-simple btn-link"
                   v-tooltip.top-center="$t('Edit')"><img style="width: 20px; margin-left:5px"
                                                          :src="require('src/assets/images/edit.png')"/></a>
                <a @click="handleDelete(props.$index, props.row,tableData)" class="btn-danger btn-simple btn-link"
                   v-tooltip.top-center="$t('Delete')"><img style="width: 20px; margin-left:5px"
                                                            :src="require('src/assets/images/poubelle.png')"/></a>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>

</template>
<script>
    import {Table, TableColumn, Select, Option, MessageBox, Dialog} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import Vue from 'vue'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    Vue.prototype.$confirm = MessageBox.confirm

    export default {
        components: {
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn,
            [Dialog.name]: Dialog,
        },
        computed: {
            pagedData() {
                if (this.res !== null)
                    return this.res.slice(this.from, this.to)
                else return this.tableData.slice(this.from, this.to)
            },
            queriedData() {
                let result = this.tableData

                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {

                categories: [],
                technologies: [],
                levels: [],
                difficulties: [],
                responses: [],
                model: {
                    category: '',
                    technology: '',
                    level: '',
                    difficulty: ''
                },
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                statement: '',
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['statement'],
                tableColumns: [
                    {
                        prop: 'questionid1',
                        label: 'question.question',
                        minWidth: 110
                    },
                    {
                        prop: 'statement',
                        label: 'question.Statement',
                        minWidth: 280
                    },
                    {
                        prop: 'levelName',
                        label: 'question.Level',
                        minWidth: 60
                    },
                    {
                        prop: 'categoryName',
                        label: 'question.Category',
                        minWidth: 100
                    },
                    {
                        prop: 'technologyName',
                        label: 'question.Technology',
                        minWidth: 100
                    },
                    {
                        prop: 'difficultyName',
                        label: 'question.Difficulty',
                        minWidth: 100
                    }
                ],
                tableData: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
            Add() {
                this.$router.push({path: '/examinateur/questionResponses'})
            },
            Search: function () {
                if (this.model.technology === "Aucun" && this.model.difficulty === "Aucun" && this.model.category === "Aucun" && this.model.level == "Aucun") {
                    this.model.technology = '';
                    this.model.difficulty = '';
                    this.model.category = '';
                    this.model.level = '';
                }
                if (this.model.technology === "Aucun") {
                    this.model.technology = '';
                }
                if (this.model.difficulty === "Aucun") {
                    this.model.difficulty = '';
                }
                if (this.model.category === "Aucun") {
                    this.model.category = '';
                }
                if (this.model.level === "Aucun") {
                    this.model.level = '';
                }
                axios.get("http://localhost:8765/evaluation/question/pagination?" + "level=" + this.model.level + "&category=" + this.model.category + "&difficulty=" + this.model.difficulty + "&technology=" + this.model.technology + "&offset=" + this.pagination.perPage + "&page=" + ((this.pagination.currentPage) - 1)).then(result => {

                    this.tableData = result.data.content
                    this.tableData.forEach(el => {
                        el.questionid1 = "Question " + el.questionid
                        if (el.prmCategory && el.prmLevel && el.prmDifficulty && el.prmTechnology) {
                            el.categoryName = el.prmCategory.categoryName
                            el.levelName = el.prmLevel.levelName
                            el.technologyName = el.prmTechnology.technologyName
                            el.difficultyName = el.prmDifficulty.difficultyName
                        }
                    })
                })
                setTimeout(() => {
                    this.fuseSearch = new Fuse(this.tableData, {keys: ['statement']})
                }, 500)
            },
            closeModal(name) {
                this.modals[name] = false
            },
            async handleClose(done) {
                try {
                    await this.$confirm('Are you sure you want to close this dialog?')
                    done()
                } catch (e) {
                }
            },
            handleEdit(index, row) {
                this.$store.dispatch("retrieveQuestion", row);
                this.$router.push('/examinateur/questionResponses')
            },
            handleDelete(index, row, tableData) {
                swal({
                    title: 'Do you Want to Delete this Question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_RESPONSE_BY_QUESTION + row.questionid).then(() => {
                            axios.delete(sharedUrl.DELETE_QUESTION + row.questionid).then((response) => {
                                tableData.splice(index, 1)
                                swal({
                                    type: 'success',
                                    html: 'Question Has Been Deleted',
                                    confirmButtonClass: 'btn btn-success btn-fill',
                                    buttonsStyling: false
                                })
                            })
                        })
                    }
                })
            }
        },
        mounted() {
            this.Search();
            axios.get(sharedUrl.GET_LEVELS).then(result => {
                this.levels = result.data
                this.levels.push({"id": 0, "levelName": 'Aucun'})
            })
            axios.get(sharedUrl.GET_TECHNOLOGIES).then(result => {
                this.technologies = result.data
                this.technologies.push({"id": 0, "technologyName": 'Aucun'})
            })
            axios.get(sharedUrl.GET_CATEGORIES).then(result => {
                this.categories = result.data
                this.categories.push({"id": 0, "categoryName": 'Aucun'})
            })
            axios.get(sharedUrl.GET_DIFFICULTIES).then(result => {
                this.difficulties = result.data
                this.difficulties.push({"id": 0, "difficultyName": 'Aucun'})
            })
            axios.get(sharedUrl.GET_QUESTIONS).then(response => {
                let table = response.data
                response.data.forEach(el => {
                    el.questionid1 = "Question " + el.questionid
                    if (el.prmCategory && el.prmLevel && el.prmDifficulty && el.prmTechnology) {
                        el.categoryName = el.prmCategory.categoryName
                        el.levelName = el.prmLevel.levelName
                        el.technologyName = el.prmTechnology.technologyName
                        el.difficultyName = el.prmDifficulty.difficultyName
                    }
                })
                this.tableData = response.data;
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['statement']})
            }, 500)
        }
    }
</script>
<style scoped>
  .form-control[disabled], .el-date-picker .el-input .el-input__inner[disabled], .form-group .el-input__inner[disabled], .form-control[readonly], .el-date-picker .el-input .el-input__inner[readonly], .form-group .el-input__inner[readonly], fieldset[disabled] .form-control, fieldset[disabled] .el-date-picker .el-input .el-input__inner, .el-date-picker .el-input fieldset[disabled] .el-input__inner, fieldset[disabled] .form-group .el-input__inner, .form-group fieldset[disabled] .el-input__inner {
    background-color: #F5F5F5;
    color: #888888;
    cursor: pointer !important;
  }

  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 1000;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {

  }

  .el-dialog {
    width: 50%;
  }


  @media (max-width: 800px) {
    .el-dialog {
      width: 100%
    }
  }
</style>
