<template>
  <div class="row">

    <card style="left:10% ;right: 10% ; width: 80%">

      <div style="float:left">
        <fg-input
          :label="$t('testcreate.TestDuration')"
          :error="getError('duration')"
        >
          <el-time-select
            name="duration"
            v-validate="modelValidations.duration"
            v-model="model.duration"
            :picker-options="{
                                  start: '00:00',
                                  step: '00:15',
                                  end: '04:00'
                                }"
            placeholder="00h:00m"
          >
          </el-time-select>
        </fg-input>
      </div>
      <div style="float: right" class="mt-4">
        <button class="btn btn-success" id="myBtn2" @click="Confirm">{{$t('testcreate.Confirm')}}</button>
      </div>
    </card>
    <card style="left:10% ;justify-content: center !important; width:80% !important; right: 10% ;">
      <div style="float: right; margin-bottom: 10px">
        <button class="btn btn-success mr-2" @click="reload" v-if="this.$store.state.tentativeness<3"><i
          class="fa fa-refresh" aria-hidden="true"></i>
          ({{3-this.$store.state.tentativeness}})
        </button>
      </div>
      <card class="mt-5" v-for="(QuestionResponse,index) in QuestionsResponses" :key="QuestionResponse.id"
            style="left:10% ;justify-content: center !important; width:80% !important; right: 10% ;">
        <div>
          <div>
            <div class="card">
              <div class="card-body">
              <span>
                <span>
<span style="font-weight: 600 !important"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Question {{index+1}}/{{QuestionsResponses.length}}&nbsp; - {{QuestionResponse.technologyName}}</span> &nbsp; </span>
              </span>
              </div>
            </div>
          </div>
          <div class="card mt-3 ml-5">
            <h5 class="card-header" style="margin-top:-30px !important; font-weight: 600 !important">
              {{QuestionResponse.statement}}</h5>
            <codemirror v-model="QuestionResponse.code" v-if="QuestionResponse.code!==''" :options="cmOptions"
                        disabled
            />
            <div class="card-body ml-5 pl-5 mt-3">
              <checkbox style="margin-top: -10px" name="rep1" v-model="QuestionResponse.correct1" disabled><span
                style="font-size:15px !important;">{{QuestionResponse.response1}}</span>
              </checkbox>
              <checkbox name="rep1" style="margin-top: -10px" v-model="QuestionResponse.correct2" disabled><span
                style="font-size:15px !important;">{{QuestionResponse.response2}}</span>
              </checkbox>
              <checkbox name="rep1" style="margin-top: -10px" v-model="QuestionResponse.correct3" disabled><span
                style="font-size:15px !important;">{{QuestionResponse.response3}}</span>
              </checkbox>
              <checkbox name="rep1" style="margin-top: -10px ;color:#3C4858" v-model="QuestionResponse.correct4"
                        disabled>
                <span style="font-size:15px !important;">{{QuestionResponse.response4}}</span>
              </checkbox>
            </div>
          </div>
        </div>
      </card>
    </card>
    <div>
    </div>
  </div>
</template>

<script>
    import axios from 'axios'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import {codemirror} from 'vue-codemirror'
    import {Checkbox} from "../../../../components";
    import {TimeSelect} from "element-ui";

    import 'codemirror/lib/codemirror.css'
    import 'codemirror/mode/javascript/javascript.js'
    import 'codemirror/theme/base16-dark.css'

    export default {
        data() {
            return {
                modelValidations: {
                    duration: {
                        required: true
                    }
                },
                model: {
                    duration: ''
                },
                timePicker: '',
                duration: 0,
                savedDuration: 0,
                durationAdded: false,
                code: 'const a = 10',
                cmOptions: {
                    readOnly: 'nocursor',
                    tabSize: 3,
                    mode: 'text/javascript',
                    theme: 'base16-dark',
                    lineNumbers: true,
                    line: true
                },
                tentativeness: 0,
                responses: [],
                table: [],
                QuestionsResponses: [],
                QuestionResponse: {
                    questionid: '',
                    statement: '',
                    code: '',
                    technologyName: '',
                    response1: '',
                    correct1: false,
                    response2: '',
                    correct2: false,
                    response3: '',
                    correct3: false,
                    response4: '',
                    correct4: false
                },

                conditionQuestionsDto: {
                    prmLevelDto: {
                        levelName: ''
                    },
                    prmCategoryDto: {
                        categoryName: ''
                    },
                    prmDifficultyDto: {
                        difficultyName: ''
                    },
                    prmTechnologyDto: {
                        technologyName: ''
                    },
                    nbQuestions: null
                },
                questions: [],
                conditionTable: this.$store.state.conditionTable,
                tab: [],
                packid: ''
            }
        },
        components: {
            codemirror,
            Checkbox,
            [TimeSelect.name]: TimeSelect,
        },
        mounted() {
            this.conditionTable.forEach(el => {
                this.conditionQuestionsDto = {}
                this.conditionQuestionsDto.prmLevelDto = el.prmLevelDto
                this.conditionQuestionsDto.prmCategoryDto = el.prmCategoryDto
                this.conditionQuestionsDto.prmTechnologyDto = el.prmTechnologyDto
                this.conditionQuestionsDto.prmDifficultyDto = el.prmDifficultyDto
                this.conditionQuestionsDto.prmLevelDto.levelName = el.levelName
                this.conditionQuestionsDto.prmCategoryDto.categoryName = el.categoryName
                this.conditionQuestionsDto.prmDifficultyDto.difficultyName = el.difficultyName
                this.conditionQuestionsDto.prmTechnologyDto.technologyName = el.technologyName
                this.conditionQuestionsDto.nbQuestions = el.nbQuestions
                this.tab.push(this.conditionQuestionsDto)
            })
            axios.post("http://localhost:8765/evaluation/question/getAllQuestions?username=" + this.$store.state.username, this.tab).then(result => {
                this.table = result.data
                this.$store.dispatch("saveAllQuestions", this.table)
                this.table.forEach(el => {
                    axios.get(sharedUrl.GET_RESPONSE_BY_QUESTION + el.questionid).then(res => {
                        this.QuestionResponse = {}
                        this.QuestionResponse.statement = el.statement
                        this.QuestionResponse.questionid = el.questionid
                        this.QuestionResponse.code = el.code
                        this.QuestionResponse.prmTechnology = el.prmTechnology
                        this.QuestionResponse.technologyName = el.prmTechnology.technologyName
                        this.QuestionResponse.prmDifficulty = el.prmDifficulty
                        this.QuestionResponse.prmCategory = el.prmCategory
                        this.QuestionResponse.prmLevel = el.prmLevel
                        this.responses = res.data
                        this.QuestionResponse.response1 = this.responses[0].value
                        this.QuestionResponse.correct1 = this.responses[0].correct
                        this.QuestionResponse.response2 = this.responses[1].value
                        this.QuestionResponse.correct2 = this.responses[1].correct
                        this.QuestionResponse.response3 = this.responses[2].value
                        this.QuestionResponse.correct3 = this.responses[2].correct
                        this.QuestionResponse.response4 = this.responses[3].value
                        this.QuestionResponse.correct4 = this.responses[3].correct
                        this.QuestionsResponses.push(this.QuestionResponse)
                    })
                })
                setTimeout(() => {
                    this.fuseSearch = new Fuse(this.QuestionsResponses, {keys: ['QuestionResponse']})
                }, 500)
            })
            this.tentativeness = this.tentativeness + 1
            this.$store.dispatch('retrieveTentativeness', this.tentativeness)
        },
        methods: {
            addDuration() {
                this.durationAdded = true;
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.savedDuration = this.hmsToSecondsOnly(this.model.duration)
                    }
                })
            },
            hmsToSecondsOnly(str) {
                var p = str.split(':'),
                    s = 0, m = 1;
                while (p.length > 0) {
                    s += m * parseInt(p.pop(), 10);
                    m *= 60;
                }
                return s * 60;
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            reload() {
                this.QuestionsResponses = []
                this.tentativeness = this.$store.state.tentativeness + 1
                this.$store.dispatch('retrieveTentativeness', this.tentativeness)
                axios.post("http://localhost:8765/evaluation/question/getAllQuestions?username=" + this.$store.state.username, this.tab).then(result => {
                    this.table = result.data
                    this.table.forEach(el => {
                        axios.get(sharedUrl.GET_RESPONSE_BY_QUESTION + el.questionid).then(res => {
                            this.QuestionResponse = {}
                            this.QuestionResponse.statement = el.statement
                            this.QuestionResponse.questionid = el.questionid
                            this.QuestionResponse.code = el.code
                            this.QuestionResponse.prmTechnology = el.prmTechnology
                            this.QuestionResponse.prmDifficulty = el.prmDifficulty
                            this.QuestionResponse.prmCategory = el.prmCategory
                            this.QuestionResponse.prmLevel = el.prmLevel
                            this.QuestionResponse.technologyName = el.prmTechnology.technologyName
                            this.responses = res.data
                            this.QuestionResponse.response1 = this.responses[0].value
                            this.QuestionResponse.correct1 = this.responses[0].correct
                            this.QuestionResponse.response2 = this.responses[1].value
                            this.QuestionResponse.correct2 = this.responses[1].correct
                            this.QuestionResponse.response3 = this.responses[2].value
                            this.QuestionResponse.correct3 = this.responses[2].correct
                            this.QuestionResponse.response4 = this.responses[3].value
                            this.QuestionResponse.correct4 = this.responses[3].correct
                            this.QuestionsResponses.push(this.QuestionResponse)
                            this.$store.dispatch('retrieveTestQuestionsResponses', this.QuestionsResponses)
                        })
                    })
                    setTimeout(() => {
                        this.fuseSearch = new Fuse(this.QuestionsResponses, {keys: ['QuestionResponse']})
                    }, 500)
                })
            },
            Confirm() {
                this.packid = this.$route.params.packid
                this.addDuration()
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.$store.dispatch('retrieveTestQuestionsResponses', this.QuestionsResponses)
                        this.$store.dispatch('addDuration', this.savedDuration)
                        this.$router.push('/company/test/validate/' + this.packid)
                    }
                })
            }
        }
    }
</script>

<style scoped>
  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;
  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px; */
    /* borderbottom: 1px solid #EBEEF5;*/
  }

</style>
