<template>
  <div class="row">
    <div class="col-12">
      <card>
        <div class="row" style="margin-top: -10px !important;"></div>
      </card>
      <card title="Company">
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              :placeholder="$t('table.Per_page')"
              style="width: 200px"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
            <div>
              <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                      @click="registerCompany()">
                <i class="fa fa-plus"></i>
              </button>
              <el-input aria-controls="datatables"
                        class="mb-3"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template slot-scope="props">
                  <a @click="handleDelete(props.$index, props.row,tableData)" class="btn-danger btn-simple btn-link"
                     v-tooltip.top-center="'Delete'"><img src="../images/poubelle.png"/></a>
                </template>
              </el-table-column>


            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    //import users from './users'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },

            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length;
                return this.tableData.length
            }
        },
        data() {
            return {
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['candidateName', 'candidateEmail'],
                model: {
                    candidateName: '',
                    candidateEmail: '',
                    packageName: '',
                    dateCreation: '',
                    state: null

                },
                tableColumns: [
                    {
                        prop: 'candidateName',
                        label: 'candidate.Name',
                        minWidth: 200
                    },
                    {
                        prop: 'candidateEmail',
                        label: 'candidate.Email',
                        minWidth: 200
                    },
                    {
                        prop: 'packageName',
                        label: 'Package.Package',
                        minWidth: 200
                    },
                    {
                        prop: 'dateCreation',
                        label: 'testcreate.Creation_Date',
                        minWidth: 200
                    },
                    {
                        prop: 'state',
                        label: 'testcreate.State',
                        minWidth: 200
                    }
                ],
                tableData: [],
                domains: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
            /* Delete Company */
            handleDelete(index, row, tableData) {
                swal({
                    title: 'Do you Want to Delete this Test',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_COMPANY + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: 'Company Has Been Deleted',
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
        },
        mounted() {
            axios.get(sharedUrl.GET_COMPANY).then(response => {
                response.data.forEach(el => {
                    if (el.user.email)
                        el.email = el.user.email;
                    this.domains.push(el.domain)
                })
                this.tableData = response.data;
                this.domains.push('Aucun');
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'domain', 'email']})
            }, 500)
        }
    }
</script>
<style scoped>
  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px; */
    /* borderbottom: 1px solid #EBEEF5;*/
  }

</style>

