<template>
  <card title="">
    <div>
      <div class="row d-flex justify-content-center justify-content-sm-between flex-wrap">
        <el-select
          class="select-default mt-4 ml-4 pl-1"
          :placeholder="$t('table.Per_page')"
          style="width: 100px !important;"
          v-model="pagination.perPage">
          <el-option
            :key="item"
            :label="item"
            :value="item"
            class="select-default"
            v-for="item in pagination.perPageOptions">
          </el-option>
        </el-select>
        <fg-input label="Package"
                  :error="getError('pack')"
        >
          <el-select name="pack"
                     v-validate="modelValidations.pack"
                     class="select-default ml-3 mt-4 "
                     style="width: 130px !important;"
                     v-model="pack">
            <el-option v-for="pack in packs"
                       class="select-default"
                       :label="pack.name"
                       :value="pack.name">
            </el-option>
          </el-select>
        </fg-input>
        <div class="ml-2  mt-4">
          <el-input aria-controls="datatables"
                    :placeholder="$t('table.Search_records')"
                    style="width: 200px"
                    type="search"
                    v-model="searchQuery"/>
        </div>
        <div class="card-footer text-center mt-2 col-md-3">
          <button type="submit" @click.prevent="submit()" class="btn btn-fill px-5 btn-info btn-wd">
            {{$t('testcreate.Choose_Questions')}}
          </button>
        </div>
      </div>
      <div class="col-sm-12">
        <el-table :data="queriedData"
                  border
                  stripe
                  style="width: 100%;">
          <el-table-column :key="column.label"
                           :label="column.label"
                           :min-width="column.minWidth"
                           :prop="column.prop"
                           v-for="column in tableColumns">
          </el-table-column>
          <el-table-column
            :min-width="120"
            fixed="right"
            label="Actions">
            <template slot-scope="props">
              <input type="checkbox" @change="check(props.row)"/>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
      <div class="">
        <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
          {{total}} {{$t('table.entries')}}</p>
      </div>
      <l-pagination :per-page="pagination.perPage"
                    :total="pagination.total"
                    class="pagination-no-border"
                    v-model="pagination.currentPage">
      </l-pagination>
    </div>
  </card>
</template>
<script>
    import {Checkbox, Pagination as LPagination} from 'src/components'
    import axios from "axios";
    import {DatePicker, Dialog, Option, Select, Table, TableColumn} from "element-ui";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import swal from 'sweetalert2'
    import Fuse from "fuse.js";

    export default {
        components: {
            Checkbox,
            [DatePicker.name]: DatePicker,
            [Select.name]: Select, [Option.name]: Option,
            LPagination,
            [Dialog.name]: Dialog,

            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },

            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                checkbox: false,
                packs: [],
                pickerOptions1: {
                    shortcuts: [{
                        text: 'Today',
                        onClick(picker) {
                            picker.$emit('pick', new Date())
                        }
                    },
                        {
                            text: 'Yesterday',
                            onClick(picker) {
                                const date = new Date()
                                date.setTime(date.getTime() - 3600 * 1000 * 24)
                                picker.$emit('pick', date)
                            }
                        },
                        {
                            text: 'A week ago',
                            onClick(picker) {
                                const date = new Date()
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
                                picker.$emit('pick', date)
                            }
                        }]
                },
                datePicker: '',
                pack: '',
                model: {
                    pack: {},
                    company: {},
                    candidates: []
                },
                modelValidations: {
                    pack: {
                        required: true
                    },
                },
                /*****************/
                access: {},
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['email', 'name'],
                tableColumns: [
                    {
                        prop: 'email',
                        label: 'Email',
                        minWidth: 200
                    },
                    {
                        prop: 'name',
                        label: 'Name',
                        minWidth: 200
                    },
                ],
                tableData: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
            check(user) {
                if (!user.checked || user.checked == false) {
                    user.checked = true
                } else user.checked = false
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            submit() {
                this.model.candidates = this.tableData.filter(user => user.checked == true);
                this.model.pack = this.packs.filter(x => x.name == this.pack)[0]

                return this.$validator.validateAll().then(res => {
                    if (res) {
                        if (this.model.candidates.length != 0) {
                            this.modals[name] = false
                            this.$store.dispatch('addCandidates', this.model.candidates)
                            this.$store.dispatch('addPack', this.model.pack)
                            this.$router.push('/company/test/create')
                        } else {
                            swal({
                                type: 'error',
                                html: 'Vous n`avez pas choisi des candidats',
                                confirmButtonClass: 'btn btn-danger btn-fill',
                                buttonsStyling: false
                            })
                        }
                    }
                })
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit('on-submit', this.registerForm, isValid)
                })
            }
        },
        mounted() {
            axios.get('http://localhost:8765/evaluation/candidate/all').then(res => {
                this.tableData = res.data
                if (this.tableData) {
                    this.tableData.forEach(el => {
                        el.email = el.user.email
                    })
                }
            })
            axios.get('http://localhost:8765/evaluation/company/finduser/' + this.$store.state.username).then(res => {
                this.model.company = res.data
            })
            axios.get(sharedUrl.GET_PACKAGES).then((res) => {
                this.packs = res.data
            })
            this.fuseSearch = new Fuse(this.tableData, {keys: ['email']})
        }
    }
</script>
<style>
  .checkbox {
    position: relative;
    height: 20px;
    display: block;
    width: 20px;
    padding: 0px 0px;
    margin: 0px 5px;
  }
</style>
