<template>
  <form>
    <card>
      <div class="row mt-4">
        <div class="col-lg-8">
          <fg-input :label="$t('prmAccess.Access_Number')"
                    :error="getError('access')"
          >
            <el-select name="language"
                       v-validate="modelValidations.language"
                       class="select-default"
                       v-model="model.access">
              <el-option v-for="acc in access"
                         :key="acc.value"
                         class="select-default"
                         :label="acc.value"
                         :value="acc.value">
              </el-option>
            </el-select>
          </fg-input>
        </div>
        <div class="card-footer text-center mt-2 pt-3 col-md-4">
          <button type="submit" @click.prevent="register()" class="btn btn-fill px-5 btn-info btn-wd">
            {{$t('prmAccess.Buy')}}
          </button>
        </div>
      </div>
    </card>
  </form>
</template>
<script>
    import {Checkbox} from 'src/components/index'
    import axios from "axios";
    import {DatePicker, Option, Select} from "element-ui";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import swal from 'sweetalert2'


    export default {
        components: {
            Checkbox,
            [DatePicker.name]: DatePicker,
            [Select.name]: Select, [Option.name]: Option
        },
        data() {
            return {
                access: [],
                model: {
                    access: '',
                    prmAccess: {},
                    purchaseDate: '',
                    usedAccessNumber: 0,
                    compteEval: null
                },
                modelValidations: {
                    access: {
                        required: true
                    },
                    purchaseDate: {
                        required: true
                    },
                }
            }
        },
        methods: {
            register() {
                this.model.prmAccess = this.access.filter(x => x.value == this.model.access)[0]
                this.$validator.validate().then(valid => {
                    if (valid) {
                        axios.post('http://localhost:8765/evaluation/TestAccess/create', this.model)
                            .then(response => {
                                if (response.status === 201) {
                                    axios.get("http://localhost:8765/evaluation/compteEval/findCompte/" + this.$store.state.username).then((response) => {
                                        axios.get("http://localhost:8765/evaluation/TestAccess/allUnusedAccess/" + response.data.id).then((result) => {
                                            this.result = response.data
                                            this.id = response.data.id
                                            this.expirationDate = response.data.expirationDate;
                                            let res = this.expirationDate.split("T");
                                            this.newExpirationDate = res[0]
                                            this.UnusedAccess = result.data
                                            this.$store.dispatch('retrieveUnusedAccess', this.UnusedAccess)
                                            swal('Good job!', 'Access Added Successfully!', 'success').then(() => {
                                            })
                                        })
                                    })
                                }
                            })
                            .catch((error) => {
                                swal({
                                    type: 'error',
                                    html: 'Email exist',
                                    confirmButtonClass: 'btn btn-danger btn-fill',
                                    buttonsStyling: false
                                })
                            });
                    }
                })
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit('on-submit', this.registerForm, isValid)
                })
            }
        },
        mounted() {
            axios.get('http://localhost:8765/evaluation/compteEval/findCompte/' + this.$store.state.username).then(res => {
                this.model.compteEval = res.data
            })
            axios.get(sharedUrl.GET_ACCESSS).then((res) => {
                this.access = res.data
            })
        }
    }
</script>
<style scoped>
</style>
