<template>
  <div class="row">
    <el-dialog
      center
      :title="$t('confirmCondition.title')"
      :visible.sync="modals.centered">
      <div class="form-group" style="text-align: center">
        <h4>{{$t('question.insuffisant')}}{{this.table.length}} questions </h4>
        <h5>{{$t('question.confirm')}}</h5>
      </div>
      <span slot="footer" class="dialog-footer">
      <button class="btn btn-success mr-2" @click="addCondition(conditionQuestionsDto,table.length)">{{$t('button.Confirm')}}</button>
      <button class="btn btn-danger ml-2" @click="closeModal('centered')">{{$t('button.Cancel')}}</button>&nbsp;
            </span>

    </el-dialog>
    <el-dialog
      center
      :title="$t('confirmCondition.title')"
      :visible.sync="modals.basic">
      <h1>exists</h1>
    </el-dialog>
    <div class="col-12">
      <card>
        <div class="row" style="margin-top: -10px !important;">
          <div class="col-md-3 mr-1">
            <fg-input :label="$t('prmCategory.Categories')"
                      :error="getError('category')"
            >
              <el-select name="category"
                         v-validate="modelValidations.category"
                         class="select-default"
                         v-model="model.categoryName">
                <el-option v-for="category in categories"
                           class="select-default"
                           :label="category.categoryName"
                           :value="category.categoryName">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-3 mr-1">
            <fg-input :label="$t('prmDifficulty.Difficulties')"
                      :error="getError('difficulty')"
            >
              <el-select name="difficulty"
                         v-validate="modelValidations.difficulty"
                         class="select-default"
                         v-model="model.difficultyName">
                <el-option v-for="difficulty in difficulties"
                           class="select-default"
                           :label="difficulty.difficultyName"
                           :value="difficulty.difficultyName">
                </el-option>
              </el-select>
            </fg-input>
          </div>

          <div class="col-md-3 mr-1">
            <fg-input :label="$t('prmTechnology.Technologies')"
                      :error="getError('technology')"
            >
              <el-select name="technology"
                         v-validate="modelValidations.technology"
                         class="select-default"
                         v-model="model.technologyName">
                <el-option v-for="technology in technologies"
                           class="select-default"
                           :label="technology.technologyName"
                           :value="technology.technologyName"
                >
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-1">
            <fg-input
              :label="$t('testcreate.Number')"
              name="number"
              type="number"
              v-validate="modelValidations.number"
              v-model="model.nbQuestions"
              :error="getError('number')">
            </fg-input>
          </div>
          <div class="col-1 mt-4">
            <button class="btn btn-primary mt-1" type="submit" @click.prevent="Submitt()">Submit</button>
          </div>
        </div>
      </card>
    </div>
    <el-dialog
      :title="statement"
      :visible.sync="modals.basic">
      <div v-for="response in responses">
        <label>{{response.value}} : <strong>{{response.correct}}</strong></label>
      </div>

      <span slot="footer" class="dialog-footer">
              <button class="btn btn-danger" @click="closeModal('basic')">Cancel</button>&nbsp;
              <button class="btn btn-success" @click="closeModal('basic')">Confirm</button>
            </span>
    </el-dialog>
    <div class="col-12">
      <card title="Questions">
        <div class="col-sm-16">
          <el-table :data="conditionTable"
                    border
                    stripe
                    style="width: 100%;">
            <el-table-column
              :label="$t(column.label)"
              :min-width="column.minWidth"
              :prop="column.prop"
              v-for="column in tableColumns">
            </el-table-column>
            <el-table-column
              :min-width="65"
              fixed="right"
              label="Actions">
              <template slot-scope="props">
                <a @click="handleDelete(props.$index, props.row,conditionTable)" class="btn-danger btn-simple btn-link"
                   v-tooltip.top-center="'Delete'"><img style="width: 25px;"
                                                        :src="require('src/assets/images/poubelle.png')"/></a>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </card>
      <button class="btn btn-primary" style="float:right" @click="display">Display Questions<i
        class="fa fa-arrow-right"></i></button>
    </div>
    <div>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option, MessageBox, Dialog} from 'element-ui'

    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import Vue from 'vue'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    Vue.prototype.$confirm = MessageBox.confirm
    export default {
        components: {
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn,
            [Dialog.name]: Dialog,
        },
        data() {
            return {
                table: [],
                model: {
                    // levelName:'',
                    categoryName: '',
                    technologyName: '',
                    difficultyName: '',
                    nbQuestions: 0

                },
                categories: [],
                technologies: [],
                levels: [],
                difficulties: [],
                responses: [],

                conditionQuestionsDto: {
                    prmLevelDto: {
                        levelName: ''
                    },
                    prmCategoryDto: {
                        categoryName: ''
                    },
                    prmDifficultyDto: {
                        difficultyName: ''
                    },
                    prmTechnologyDto: {
                        technologyName: ''
                    },
                    nbQuestions: 0
                },
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                modelValidations: {
                    // level: {
                    //   required: true
                    // },
                    category: {
                        required: true
                    },
                    difficulty: {
                        required: true
                    },
                    technology: {
                        required: true
                    },
                    number: {
                        required: true,
                    },
                },
                statement: '',
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['statement'],
                tableColumns: [
                    {
                        prop: 'levelName',
                        label: 'prmLevel.Level_Name',
                        minWidth: 70
                    },
                    {
                        prop: 'categoryName',
                        label: 'prmCategory.Category_Name',
                        minWidth: 90
                    },
                    {
                        prop: 'difficultyName',
                        label: 'prmDifficulty.Difficulty_Name',
                        minWidth: 90
                    },
                    {
                        prop: 'technologyName',
                        label: 'prmTechnology.Technology_Name',
                        minWidth: 70
                    },
                    {
                        prop: 'nbQuestions',
                        label: 'testcreate.Question_Number',
                        minWidth: 75
                    },
                ],
                conditionTable: [],
                addedObj: {},
                fuseSearch: null,
                packid: ''
            }
        },
        methods: {
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit('on-submit', this.registerForm, isValid)
                })
            },
            closeModal(name) {
                this.modals[name] = false
                this.category = {};
            },
            openModal(name) {
                this.modals[name] = true
            },
            checkCondition(condition) {
                axios.post('http://localhost:8765/evaluation/question/getAllQuestions?username=' + this.$store.state.username, [condition]).then(result => {
                    this.table = result.data
                    condition.limit = result.data.length
                    if (result.data.length > 0 && result.data.length < condition.nbQuestions) {
                        this.openModal('centered')
                    }
                    if (result.data.length == 0) {
                        swal({
                            type: 'error',
                            html: 'Cette condition ne correspond à aucune question',
                            confirmButtonClass: 'btn btn-danger btn-fill',
                            buttonsStyling: false
                        })
                    }
                    if (result.data.length >= Number(condition.nbQuestions)) {
                        this.checkOccurence(condition)
                        // this.conditionTable.push(condition)
                    }

                })
            },
            checkOccurence(condition) {
                let verified = false
                this.conditionTable.forEach(el => {
                    if (condition.technologyName == el.technologyName && condition.difficultyName
                        == el.difficultyName && condition.categoryName == el.categoryName) {
                        verified = true
                        swal({
                            type: 'error',
                            html: 'This condition already exists',
                            confirmButtonClass: 'btn btn-danger btn-fill',
                            buttonsStyling: false
                        })
                    }
                })
                if (verified == false) {
                    this.conditionTable.push(condition)
                }
            },
            addCondition(condition, limit) {
                condition.nbQuestions = limit
                this.checkOccurence(condition)
                this.closeModal('centered')
            },
            Submitt() {
                this.conditionQuestionsDto = {}
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.conditionQuestionsDto.prmLevelDto = this.levels.filter(level => level.levelName == this.model.levelName)[0]
                        this.conditionQuestionsDto.prmCategoryDto = this.categories.filter(category => category.categoryName == this.model.categoryName)[0]
                        this.conditionQuestionsDto.prmTechnologyDto = this.technologies.filter(technology => technology.technologyName == this.model.technologyName)[0]
                        this.conditionQuestionsDto.prmDifficultyDto = this.difficulties.filter(difficulty => difficulty.difficultyName == this.model.difficultyName)[0]
                        this.conditionQuestionsDto.levelName = this.conditionQuestionsDto.prmLevelDto.levelName
                        this.conditionQuestionsDto.categoryName = this.conditionQuestionsDto.prmCategoryDto.categoryName
                        this.conditionQuestionsDto.technologyName = this.conditionQuestionsDto.prmTechnologyDto.technologyName
                        this.conditionQuestionsDto.difficultyName = this.conditionQuestionsDto.prmDifficultyDto.difficultyName
                        this.conditionQuestionsDto.nbQuestions = Number(this.model.nbQuestions)
                        this.checkCondition(this.conditionQuestionsDto)
                        this.model.categoryName = "Aucun"
                        this.model.difficultyName = "Aucun"
                        this.model.technologyName = "Aucun"
                        this.model.nbQuestions = 0
                        this.setPrms()
                    }
                })
            },
            setPrms() {
                axios.get(sharedUrl.GET_LEVELS).then(result => {
                    this.levels = result.data
                    this.levels.push({"id": 0, "levelName": 'Aucun'})
                })
                axios.get(sharedUrl.GET_TECHNOLOGIES).then(result => {
                    this.technologies = result.data
                    this.technologies.push({"id": 0, "technologyName": 'Aucun'})
                })
                axios.get(sharedUrl.GET_CATEGORIES).then(result => {
                    this.categories = result.data
                    this.categories.push({"id": 0, "categoryName": 'Aucun'})
                })
                axios.get(sharedUrl.GET_DIFFICULTIES).then(result => {
                    this.difficulties = result.data
                    this.difficulties.push({"id": 0, "difficultyName": 'Aucun'})
                })
            },
            display() {
                this.$store.dispatch('retrieveConditionTable', this.conditionTable)
                this.packid = this.$route.params.packid
                if ((this.$store.state.conditionTable) === []) {
                    swal({
                        type: 'error',
                        html: 'you must have at least one condition',
                        confirmButtonClass: 'btn btn-danger btn-fill',
                        buttonsStyling: false
                    })
                } else
                    this.$router.push('/company/test/display/' + this.packid)
            },
            closeModal(name) {
                this.modals[name] = false
            },
            async handleClose(done) {
                try {
                    await this.$confirm('Are you sure you want to close this dialog?')
                    done()
                } catch (e) {
                }
            },
            handleDelete(index, row, conditionTable) {
                swal({
                    title: 'Do you Want to Delete this Condition',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        conditionTable.splice(index, 1)
                        swal({
                            type: 'success',
                            html: 'Condition Has Been Deleted',
                            confirmButtonClass: 'btn btn-success btn-fill',
                            buttonsStyling: false
                        })
                    }
                })
            }
        },
        mounted() {
            axios.get('http://localhost:8765/evaluation/pack/find/' + this.$route.params.packid).then(res => {
                this.model.levelName = res.data.prmLevel.levelName
            })
            this.setPrms();
            axios.get(sharedUrl.GET_QUESTIONS).then(response => {
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.conditionTable, {keys: ['statement']})
            }, 500)
        }
    }
</script>
<style scoped>
  .el-dialog {
    width: 50%;
  }

  .el-table {
    color: #1F77D0;
  }

  @media (max-width: 800px) {
    .el-dialog {
      width: 90%
    }
  }
</style>
