<template>
  <div class="container">
    <div v-if="loading" class="loader-overlay">
      <div class="loader"></div>
    </div>
    <card>
      <el-collapse v-model="activeName">
        <el-collapse-item :title="$t('candidate.ChoiceCandidates')" :name="name1">
          <div class="row d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mt-4 ml-4 pl-1"
              :placeholder="$t('table.Per_page')"
              style="width: 100px !important;"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
            <div class="ml-2  mt-4">
              <el-input aria-controls="datatables"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
            <div class="card-footer text-center mt-2 ml-2  mt-4">
              <button type="submit" @click.prevent="submitCanidates()" class="btn btn-fill px-5 btn-info btn-wd">
                {{$t('testcreate.ValidateCandidates')}}
              </button>

            </div>
          </div>
          <div class="col-sm-12" v-if="show">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template scope="props">
                  <checkbox v-model="props.row.checked"
                            :disabled="props.row.send=='Envoyé' || props.row.send=='Enregistré'"></checkbox>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap mt-3">
            <div class="">
              <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
                {{total}} {{$t('table.entries')}}</p>
            </div>
            <l-pagination :per-page="pagination.perPage"
                          :total="pagination.total"
                          class="pagination-no-border"
                          v-model="pagination.currentPage">
            </l-pagination>
          </div>
        </el-collapse-item>
        <el-collapse-item v-show="validateCandidates" title="Informations sur le test" :name="name2">
          <div class="col-xl-12 col-lg-12 mt-3">
            <card :title="pack.name">
              <p>{{$t('testcreate.ThisTestContains')}} {{this.questions.length}} questions
                {{$t('testcreate.OfDuration')}} {{this.duration/60}} minutes {{$t('testcreate.ComposedOf')}}
                : </p>
              <vue-tabs vertical grow>
                <v-tab title="Technology" icon="nc-icon nc-single-copy-04">
              <span v-for="techno in prms.technos">
                <li>{{techno.technologyName}} : {{techno.occ}} questions</li>
              </span>
                </v-tab>
                <v-tab title="Categories" icon="nc-icon nc-circle-09">
                  <span v-for="cat in prms.cats">
                <li>{{cat.categoryName}} : {{cat.occ}} questions</li>
              </span>
                </v-tab>
                <v-tab title="Level" icon="nc-icon nc-ruler-pencil">
          <span v-for="level in prms.levels">
                <li>{{level.levelName}} : {{level.occ}} questions</li>
              </span>
                </v-tab>
                <v-tab title="Difficulty" icon="nc-icon nc-settings-90">
             <span v-for="diff in prms.diffs">
                <li>{{diff.difficultyName}} : {{diff.occ}} questions</li>
              </span>
                </v-tab>
                <v-tab v-if="this.showCandidates" :title="'Candidates'" icon="nc-icon nc-settings-90">
                  <div class="row mt-2">
                    <div class="col-md-9">

                      <p>{{$t('testcreate.ThisTestContains')}} {{model.candidates.length}}
                        {{$t('candidate.candidates')}} {{$t('which')}}: </p>
                      <li class="ml-5 pl-2">{{$t('testcreate.AlreadySent')}}: {{this.theCandidates}}</li>
                      <li class="ml-5 pl-2">{{$t('testcreate.RegisteredAndNotSent')}}:
                        {{this.candidatesToSend.length}}
                      </li>
                      <li class="ml-5 pl-2">{{$t('testcreate.NewlySelected')}}
                        {{this.testCreate.candidateList.length}}
                      </li>
                    </div>
                    <div class="col-md-3">
                      <el-input aria-controls="datatables"
                                :placeholder="$t('testcreate.SearchCandidates')"
                                style="width: 175px ;"
                                type="search"
                                v-model="searchQueryCaniddates"/>
                    </div>
                  </div>
                  <div class="col-sm-12 mt-2" style="max-width: 875px;  width: 120%;">
                    <el-table
                      border
                      stripe
                      :data="selectedCandidates"
                    >
                      <el-table-column :key="column.label"
                                       :label="column.label"
                                       :min-width="column.minWidth"
                                       :prop="column.prop"
                                       v-for="column in tableColumns">
                      </el-table-column>
                    </el-table>
                  </div>
                </v-tab>
              </vue-tabs>
            </card>
          </div>
          <div class="card-footer text-center mt-2 pt-3" style="float: right !important;">
            <button type="submit" @click.prevent="save()" class="btn btn-fill px-5 btn-info btn-wd">
              Enregistrer
            </button>
            <button type="submit" @click.prevent="saveAndSend()" class="btn btn-fill px-5 btn-info btn-wd mx-5">
              Enregistrer Et Envoyer
            </button>
          </div>
          <!--            </card>-->
        </el-collapse-item>
      </el-collapse>
    </card>
  </div>
</template>

<script>
    import axios from "axios";
    import Fuse from 'fuse.js'
    import swal from 'sweetalert2'
    import {Pagination as LPagination} from 'src/components/index'
    import {Checkbox} from 'src/components'
    import {TimeSelect} from "element-ui";
    import {Collapse, CollapseItem} from 'element-ui'
    import {DatePicker, Dialog, Option, Select, Table, TableColumn} from "element-ui";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            Checkbox,
            [TimeSelect.name]: TimeSelect,
            [Collapse.name]: Collapse,
            [CollapseItem.name]: CollapseItem,
            LPagination,
            [Dialog.name]: Dialog,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            // paged Select Candidates
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            },
            pagedCandidates() {
                return this.selectedCandidates.slice(this.from, this.to)
            },
            queriedCandidates() {
                let result = this.selectedCandidates
                if (this.searchQueryCaniddates !== '') {
                    result = this.fuseSearchCandidate.search(this.searchQueryCaniddates)
                    this.pagination.total = result.length
                }

                return result.slice(this.from, this.to)
            },
            toSelectedCandidate() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            fromSelectedCandidate() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            totalSelectedCandidate() {
                this.pagination.total = this.tableData.length
                return this.selectedCandidates.length
            }
        },
        name: "TestValidation",
        data() {
            return {
                // text: {type: String, required: false, default: ""},
                // isVisible: {type: Boolean, required: true},
                loading: false,
                showSelectedCandidates: false,
                show: false,
                allTests: [],
                selectedCandidates: [],
                checkedCanidates: [],
                candidatesToSend: [],
                validateCandidates: false,
                checkbox: false,
                packs: [],
                pack: '',
                model: {
                    pack: {},
                    company: {},
                    candidates: []
                },
                modelValidations: {
                    pack: {
                        required: true
                    },
                },
                /*****************/
                access: {},
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                searchQueryCaniddates: '',
                propsToSearch: ['email', 'name'],
                tableColumns: [
                    {
                        prop: 'email',
                        label: 'Email',
                        minWidth: 200
                    },
                    {
                        prop: 'name',
                        label: 'Name',
                        minWidth: 200
                    },
                    {
                        prop: 'send',
                        label: 'Etat',
                        minWidth: 200
                    }
                ],
                tableData: [],
                addedObj: {},
                email: this.$store.state.username,
                fuseSearch: null,
                fuseSearchCandidate: null,
                //---------------------------------------------------------/
                activeName: 1,
                name1: 1,
                name2: 0,
                timePicker: '',
                duration: 0,
                durationAdded: false,
                candidates: [],
                theCandidates: 0,
                questions: [],
                pack: "",
                test: {},
                testCreate: {},
                testSend: [],
                showCandidates: false,
                prms: {technos: [], cats: [], diffs: [], levels: []}
            }
        },
        methods: {
            hmsToSecondsOnly(str) {
                var p = str.split(':'),
                    s = 0, m = 1;
                while (p.length > 0) {
                    s += m * parseInt(p.pop(), 10);
                    m *= 60;
                }
                return s * 60;
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            getNewCandidates() {
                this.candidatesToSend = this.model.candidates.filter(el => el.send === "Enregistré")
                this.theCandidates = this.model.candidates.filter(el => el.send === "Envoyé").length
                return this.model.candidates.filter(firstArrayItem =>
                    !this.checkedCanidates.some(
                        secondArrayItem => firstArrayItem.id === secondArrayItem.id
                    )
                );
            },
            getCandidatesToSend() {
                let tests = this.allTests.filter(firstArrayItem =>
                    this.candidatesToSend.some(secondArrayItem => firstArrayItem.candidate.id === secondArrayItem.id)
                )
                tests.forEach(el => {
                    let test = {}
                    test.candidateDto = el.candidate
                    test.test = el
                    this.testSend.push(test)
                })
            },
            saveAndSend() {
                this.loading = true
                this.test.testDuration = this.duration
                this.testCreate.test = this.test
                this.testSend.test = this.test
                this.testSend.forEach(el => {
                    axios.post('http://localhost:8765/evaluation/test/send', el).then(res => {
                        axios.get("http://localhost:8765/evaluation/compteEval/findCompte/" + this.$store.state.username).then((response) => {
                            axios.get("http://localhost:8765/evaluation/TestAccess/allUnusedAccess/" + response.data.id).then((result) => {
                                this.$store.dispatch('retrieveUnusedAccess', result.data)
                                this.$router.push('/company/test/packageDetails/' + this.$route.params.packid);
                            })
                        })
                    })
                })
                axios.post('http://localhost:8765/evaluation/test/create', this.testCreate).then(res => {
                    axios.get("http://localhost:8765/evaluation/compteEval/findCompte/" + this.$store.state.username).then((response) => {
                        axios.get("http://localhost:8765/evaluation/TestAccess/allUnusedAccess/" + response.data.id).then((result) => {
                            this.$store.dispatch('retrieveUnusedAccess', result.data)
                            this.$router.push('/company/test/packageDetails/' + this.$route.params.packid);
                        })
                    })
                })
            },
            save() {
                this.loading = true

                this.test.testDuration = this.duration

                this.testCreate.test = this.test
                axios.post('http://localhost:8765/evaluation/test/save', this.testCreate).then(res => {
                    this.$router.push('/company/test/packageDetails/' + this.$route.params.packid);
                })
            },
            getPrms(arr, prmsArg) {
                prmsArg.technos = [arr[0].prmTechnology]
                prmsArg.levels = [arr[0].prmLevel]
                prmsArg.diffs = [arr[0].prmDifficulty]
                prmsArg.cats = [arr[0].prmCategory]
                for (let i = 1; i < arr.length; i++) {
                    if (prmsArg.technos.filter(e => e.id === arr[i].prmTechnology.id).length == 0) prmsArg.technos.push(arr[i].prmTechnology)
                    if (prmsArg.levels.filter(e => e.id === arr[i].prmLevel.id).length == 0) prmsArg.levels.push(arr[i].prmLevel)
                    if (prmsArg.diffs.filter(e => e.id === arr[i].prmDifficulty.id).length == 0) prmsArg.diffs.push(arr[i].prmDifficulty)
                    if (prmsArg.cats.filter(e => e.id === arr[i].prmCategory.id).length == 0) prmsArg.cats.push(arr[i].prmCategory)
                }
            },
            countOcc(prms, arr) {
                prms.technos.forEach(el => {
                    el.occ = (arr.filter(x => x.prmTechnology.id === el.id).length)
                })
                prms.diffs.forEach(el => {
                    el.occ = (arr.filter(x => x.prmDifficulty.id === el.id).length)
                })
                prms.levels.forEach(el => {
                    el.occ = (arr.filter(x => x.prmLevel.id === el.id).length)
                })
                prms.cats.forEach(el => {
                    el.occ = (arr.filter(x => x.prmCategory.id === el.id).length)

                })
            },
            //----------------------------------------------------//
            check(user) {
                if (!user.checked || user.checked == false) {
                    user.checked = true
                } else user.checked = false
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            submitCanidates() {
                this.model.candidates = this.tableData.filter(user => user.checked == true);
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        if (this.model.candidates.length != 0) {
                            this.validateCandidates = true
                            this.showSelectedCandidates = true
                            this.testCreate.candidateList = this.getNewCandidates()
                            this.getCandidatesToSend()
                            this.selectedCandidates = this.candidatesToSend.concat(this.testCreate.candidateList)
                            this.showCandidates = true
                            this.name1 = 0;
                            this.name2 = this.activeName
                            this.modals[name] = false
                        } else {
                            swal({
                                type: 'error',
                                html: 'Vous n`avez pas choisi des candidats',
                                confirmButtonClass: 'btn btn-danger btn-fill',
                                buttonsStyling: false
                            })
                        }
                    }
                })
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
        },
        mounted() {
            axios.get(sharedUrl.GET_CANDIDATEByCompany + '?username=' + this.email).then(res => {
                this.tableData = res.data
                if (this.tableData) {
                    this.tableData.forEach(el => {
                        if (el.user !== null) {
                            el.email = el.user.email;
                        } else {
                            el.email = el.email
                        }

                        el.checked = false
                        el.send = "Non Enregistré"
                    })
                }
                axios.get('http://localhost:8765/evaluation/test/allTests/' + this.$route.params.packid).then(res => {
                    this.show = true
                    this.allTests = res.data
                    res.data.forEach(el => {

                        if (el.send === true) {
                            el.candidate.checked = true
                            el.candidate.send = "Envoyé"
                        } else if (el.send === false) {
                            el.candidate.checked = true
                            el.candidate.send = "Enregistré"
                        }
                        this.checkedCanidates.push(el.candidate)
                    })
                    if (this.tableData && this.checkedCanidates) {
                        this.tableData.forEach(el => {
                            this.checkedCanidates.forEach(checked => {
                                if (el.id === checked.id && checked.send === "Envoyé") {
                                    el.send = "Envoyé"
                                    el.checked = true
                                } else if (el.id === checked.id && checked.send === "Enregistré") {
                                    el.send = "Enregistré"
                                    el.checked = true
                                }
                            })
                        })
                    }
                })
            })
            axios.get('http://localhost:8765/evaluation/pack/find/' + this.$route.params.packid).then(res => {
                this.test.pack = res.data
            })
            axios.get('http://localhost:8765/evaluation/company/finduser/' + this.$store.state.username).then(res => {
                this.test.company = res.data
            })
            this.duration = this.$store.state.duration
            this.questions = this.$store.state.QuestionsResponses
            this.getPrms(this.questions, this.prms)
            this.countOcc(this.prms, this.questions)
            this.testCreate.questionList = this.questions
            this.testCreate.candidateList = this.candidates
            this.pack = `Package : ${this.$store.state.pack.name}`
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['email']})
                this.fuseSearchCandidate = new Fuse(this.selectedCandidates, {keys: ['email']})
            }, 500)
        }
    }
</script>

<style lang="scss" scoped>
  .loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    cursor: pointer;

    span.text {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }

    .loader {
      animation: loader-animate 1.5s linear infinite;
      clip: rect(0, 80px, 80px, 40px);
      height: 80px;
      width: 80px;
      position: absolute;
      left: calc(50% - 40px);
      top: calc(50% - 40px);

      &:after {
        animation: loader-animate-after 1.5s ease-in-out infinite;
        clip: rect(0, 80px, 80px, 40px);
        content: '';
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: absolute;
      }
    }

    @keyframes loader-animate {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(220deg)
      }
    }
    @keyframes loader-animate-after {
      0% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(-140deg);
      }
      50% {
        box-shadow: inset #fff 0 0 0 2px;
      }
      100% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(140deg);
      }
    }
  }

  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px; */
    /* borderbottom: 1px solid #EBEEF5;*/
  }
</style>
