<template>
  <div class="row">
    <el-dialog
      center
      :title="'Liste des candidat à ajouter'"
      :visible.sync="modals.custom">
      <div style="overflow-y: scroll; height:200px;">
        <el-table :data="table">
          <el-table-column min-width="100" property="name" label="name"></el-table-column>
          <el-table-column min-width="100" property="diploma" label="diploma"></el-table-column>
          <el-table-column min-width="150" property="phoneNumber" label="phoneNumber"></el-table-column>
        </el-table>
      </div>
      <div class="text-center mt-4 mb-1">
        <p class="mb-3">Voulez vous confirmer votre choix</p>
        <button class="btn btn-success mr-3" @click="importFile">{{$t('button.Confirm')}}</button>
        <button class="btn btn-danger" @click="closeModal('custom')">{{$t('button.Cancel')}}</button>&nbsp;
      </div>
    </el-dialog>

    <div class="col-12">
      <card :title="$t('candidate.Candidates')">
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <div class="col-3">
              <el-select
                class="select-default mb-3"
                :placeholder="$t('table.Per_page')"
                style="width: 200px"
                v-model="pagination.perPage">
                <el-option
                  :key="item"
                  :label="item"
                  :value="item"
                  class="select-default"
                  v-for="item in pagination.perPageOptions">
                </el-option>
              </el-select>
            </div>
            <div class="custom-file col-3">
              <input type="file" @change="selectFile($event)" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">{{chooseFile}}</label>
            </div>
            <div class="col-3">

              <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                      @click="registerCandidate()">
                <i class="fa fa-plus"></i>
              </button>
              <el-input aria-controls="datatables"
                        class="mb-3"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"

                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns"
                               style="color:red !important;">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template slot-scope="props">
                  <a @click="handleDelete(props.$index, props.row,tableData)" class="btn-danger btn-simple btn-link"
                     v-tooltip.top-center="$t('Delete')"><img style="width: 25px;"
                                                              :src="require('src/assets/images/poubelle.png')"/></a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option, Dialog} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from '../../../../shared/constantes/sharedUrl';

    export default {
        components: {
            [Dialog.name]: Dialog,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },

            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['name', 'value', 'email'],
                model: {
                    domain: ''
                },
                tableColumns: [
                    {
                        prop: 'name',
                        label: 'candidate.Name',
                        minWidth: 120
                    },

                    {
                        prop: 'phoneNumber',
                        label: 'candidate.Phone',
                        minWidth: 80
                    },
                    {
                        prop: 'email',
                        label: 'candidate.Email',
                        minWidth: 170
                    },

                    {
                        prop: 'diploma',
                        label: 'candidate.Diploma',
                        minWidth: 90
                    },
                ],
                tableData: [],
                domains: [],
                addedObj: {},
                file: '',
                table: [],
                email: this.$store.state.username,
                fuseSearch: null,
                chooseFile: "Importer des candidats"
            }
        },
        methods: {
            openModal(name, packages) {
                this.modals[name] = true
            },
            closeModal(name) {
                this.modals[name] = false
            },
            importFile() {
                this.table.forEach(el => {
                    if (!(this.tableData.includes(el))) {
                        let candidat = {
                            "name": el.name,
                            "user": {id: null, "email": el.user.email, "password": el.user.password},
                            "speciality": null,
                            "gender": null,
                            "isVerified": true,
                            "diploma": el.diploma,
                            "phoneNumber": el.phoneNumber,
                            "company": {"user": {"email": this.$store.state.username}}
                        }
                        axios.post(sharedUrl.SIGNUP_CANDIDATE, candidat).then(resp => {
                            if (resp.data) {
                                this.closeModal("custom");
                                axios.get(sharedUrl.GET_CANDIDATEByCompany + '?username=' + this.email).then(response => {
                                    response.data.forEach(el => {
                                        el.email = el.user.email;
                                    })
                                    this.tableData = response.data
                                })
                                setTimeout(() => {
                                    this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'age', 'email', 'gender', 'speciality', 'diploma']})
                                }, 500)
                            }
                        })
                    }
                })
                setTimeout(() => {
                    this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'age', 'email', 'gender', 'speciality', 'diploma']})
                }, 500)
                axios.get(sharedUrl.GET_CANDIDATEByCompany + '?username=' + this.email).then(response => {
                    response.data.forEach(el => {
                        if (el.user !== null) {
                            el.email = el.user.email;
                        }
                    })
                })
            },
            selectFile(event) {
                let reader = new FileReader();
                if (event.target.files && event.target.files.length > 0) {


                    this.file = event.target.files[0];
                    this.chooseFile = this.file.name
                    this.modals['custom'] = true
                    let formData = new FormData()
                    formData.append('file', this.file)
                    axios.post('http://localhost:8765/evaluation/test/import-excel', formData).then(res => {

                        this.table = res.data
                        this.table.forEach(el => {

                            if (!(this.tableData.includes(el))) {
                                let candidat = {
                                    "name": el.name,
                                    "user": {id: null, "email": el.user.email, "password": el.user.password},
                                    "speciality": null,
                                    "gender": null,
                                    "isVerified": true,
                                    "diploma": el.diploma,
                                    "phoneNumber": el.phoneNumber,
                                    "company": {"user": {"email": this.$store.state.username}}
                                }


                            }
                        })
                    })
                }
            },
            registerCandidate() {
                this.$router.push({name: 'Candidate'})
            },
            Search() {
                if (this.model.domain === "Aucun") {
                    this.model.domain = '';
                }
                axios.get("http://localhost:8765/evaluation/candidate/paginationCandidate?" + "&domain=" + this.model.domain + "&size=" + this.pagination.perPage + "&page=" + ((this.pagination.currentPage) - 1)).then(result => {
                    result.data.content.forEach(el => {
                        if (el.user.email) {
                            el.email = el.user.email

                        }
                    })
                    this.tableData = result.data.content;
                })
                setTimeout(() => {
                    this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'age', 'email', 'gender', 'speciality', 'diploma']})
                }, 500)
            },
            /* Delete Company */
            handleDelete(index, row, tableData) {
                swal({
                    title: 'Do you Want to Delete this Candidate',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_CANDIDATE + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: 'Candidate Has Been Deleted',
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
        },
        mounted() {
            axios.get(sharedUrl.GET_CANDIDATEByCompany + '?username=' + this.email).then(response => {
                response.data.forEach(el => {
                    if (el.user !== null) {
                        el.email = el.user.email;
                    }
                    this.domains.push(el.domain)
                })
                this.tableData = response.data;
                this.domains.push('Aucun');
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'age', 'email', 'gender', 'speciality', 'diploma']})
            }, 500)
        }
    }
</script>
<style scoped>
  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;

  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px;*/
    /* border-bottom: 1px solid #EBEEF5;*/
  }
</style>
