<template>
  <form>
    <card>
      <div slot="header">
        <h4 class="card-title">
          {{$t('candidate.Register_Candidate')}}
        </h4>
      </div>
      <div>
        <div>
          <fg-input :label="$t('candidate.Name')"
                    type="text"
                    name="name"
                    v-validate="modelValidations.candidate.name"
                    :error="getError('name')" v-model="candidate.name" placeholder="Name"></fg-input>
        </div>
        <fg-input :label="$t('candidate.Email')"
                  type="email"
                  name="email"
                  v-validate="modelValidations.candidate.user.email"
                  :error="getError('email')" v-model="candidate.user.email" placeholder="Email"></fg-input>
      </div>
      <fg-input :label="$t('candidate.Age')"
                type="number"
                name="age"
                v-validate="modelValidations.candidate.age"
                :error="getError('age')" v-model="candidate.age" placeholder="Age"></fg-input>
      <fg-input :label="$t('candidate.Speciality')"
                type="text"
                v-model="candidate.speciality"
                v-validate="modelValidations.candidate.speciality"
                :error="getError('speciality')"
                name="speciality" placeholder="Speciality"></fg-input>
      <fg-input :label="$t('candidate.Diploma')"
                type="text"
                name="diploma"
                v-validate="modelValidations.candidate.diploma"
                :error="getError('diploma')" v-model="candidate.diploma"
                placeholder="Diploma"></fg-input>
      <fg-input :label="$t('candidate.Phone')"
                type="text"
                name="phone"
                placeholder="Phone"
                v-validate="modelValidations.candidate.phoneNumber"
                :error="getError('phoneNumber')" v-model="candidate.phoneNumber"></fg-input>


      <div class="card-footer text-right">
        <button type="submit" @click.prevent="register()" class="btn btn-fill btn-info btn-wd">
          {{$t('candidate.Register')}}
        </button>
      </div>
    </card>
  </form>
</template>
<script>
    import {Checkbox} from 'src/components/index'
    import axios from "axios";
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            Checkbox
        },
        data() {
            return {
                confirmedPassword: '',
                candidate: {
                    name: "",
                    age: "",
                    diploma: '',
                    speciality: '',
                    phoneNumber: '',
                    gender: '',
                    user: {
                        email: "",
                        password: "55883992"
                    }
                },
                modelValidations: {
                    candidate: {
                        name: {
                            required: true,
                            min: 5,
                        },
                        domain: {
                            required: true,
                            min: 5
                        },
                        phoneNumber: {
                            required: true,
                            min: 8
                        },
                        user: {
                            email: {
                                required: true,
                                email: true,
                            }
                        }
                    }
                }
            }
        },
        methods: {
            /* register candidate */
            register() {
                this.$validator.validate().then(valid => {
                    axios.post(sharedUrl.SIGNUP_CANDIDATE, {
                        "name": this.candidate.name,
                        "user": this.candidate.user,
                        "diploma": this.candidate.diploma,
                        "speciality": this.candidate.speciality,
                        "phoneNumber": this.candidate.phoneNumber,
                        "age": this.candidate.age,
                        "company": {"user": {"email": this.$store.state.username}}
                    })
                        .then(response => {
                            if (response.status === 200) {
                                this.$router.push({name: 'CandidateList'})
                            }
                        })
                        .catch((error) => {
                            swal({
                                type: 'error',
                                html: 'Email exist',
                                confirmButtonClass: 'btn btn-danger btn-fill',
                                buttonsStyling: false
                            })
                        });
                })
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit('on-submit', this.registerForm, isValid)
                })
            }
        }
    }
</script>
<style scoped>
</style>
