<template>
  <form>
    <div v-if="loading==true" class="loader-overlay">
      <div class="loader"></div>
    </div>
    <card>
      <div slot="header">
        <h4 class="card-title">
          {{$t('company.Register_Company')}}
        </h4>
      </div>
      <div>
        <div>
          <fg-input :label="$t('company.Name')"
                    type="text"
                    name="name"
                    v-validate="modelValidations.company.name"
                    :error="getError('name')" v-model="company.name" :placeholder="$t('company.Name')"></fg-input>
        </div>
        <fg-input :label="$t('company.Domain')"
                  type="text"
                  name="domain"
                  v-validate="modelValidations.company.domain"
                  :error="getError('domain')" v-model="company.domain" :placeholder="$t('company.Domain')"></fg-input>
        <fg-input :label="$t('company.Email')"
                  type="email"
                  name="email"
                  v-validate="modelValidations.company.user.email"
                  :error="getError('email')" v-model="company.user.email" :placeholder="$t('company.Email')"></fg-input>
        <fg-input :label="$t('company.Password')"
                  type="password"
                  name="password"
                  v-validate="modelValidations.company.user.password"
                  :error="getError('password')" ref="password" v-model="company.user.password"
                  :placeholder="$t('company.Password')"></fg-input>
        <fg-input :label="$t('company.Confirm_Password')" name="confirmedPassword" type="password"
                  v-model="confirmedPassword"
                  v-validate="'required|confirmed:password'"
                  :error="getError('confirmedPassword')"
                  :placeholder="$t('company.Confirm_Password')"></fg-input>
      </div>
      <div class="card-footer text-right">
        <button type="submit" @click.prevent="register()" class="btn btn-fill btn-info btn-wd">
          {{$t('button.Register')}}
        </button>
      </div>
    </card>
  </form>
</template>
<script>
    import {Checkbox} from 'src/components/index'
    import axios from "axios";
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            Checkbox
        },
        data() {
            return {
                loading: false,
                confirmedPassword: '',
                company: {
                    name: "",
                    domain: "",
                    user: {
                        email: "",
                        password: ""
                    }
                },
                modelValidations: {
                    confirmedPassword:
                        {
                            required: true
                        },
                    company: {
                        name: {
                            required: true
                        },
                        domain: {
                            required: true
                        },
                        user: {
                            email: {
                                required: true,
                                email: true,
                            },
                            password: {
                                required: true
                            }
                        }
                    }
                }
            }
        },
        methods: {
            /* register company */
            register() {
                this.loading = true
                this.$validator.validate().then(valid => {
                    if (valid) {
                        //register company
                        axios.post(sharedUrl.SIGNUP_COMPANY, {
                            "name": this.company.name, "domain": this.company.domain, "user": this.company.user
                        })
                            .then(response => {
                                if (response.status === 200) {
                                    //if company is saved redirecting to CompanyList
                                    this.$router.push({name: 'CompanyList'})
                                }
                            })
                            .catch((error) => {
                                swal({
                                    type: 'error',
                                    html: this.$t('company.Email_exist'),
                                    confirmButtonClass: 'btn btn-danger btn-fill',
                                    buttonsStyling: false
                                })
                            });
                    }
                })
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit('on-submit', this.registerForm, isValid)
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
  .loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    cursor: pointer;

    span.text {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }

    .loader {
      animation: loader-animate 1.5s linear infinite;
      clip: rect(0, 80px, 80px, 40px);
      height: 80px;
      width: 80px;
      position: absolute;
      left: calc(50% - 40px);
      top: calc(50% - 40px);

      &:after {
        animation: loader-animate-after 1.5s ease-in-out infinite;
        clip: rect(0, 80px, 80px, 40px);
        content: '';
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: absolute;
      }
    }

    @keyframes loader-animate {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(220deg)
      }
    }
    @keyframes loader-animate-after {
      0% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(-140deg);
      }
      50% {
        box-shadow: inset #fff 0 0 0 2px;
      }
      100% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(140deg);
      }
    }
  }

  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px; */
    /* borderbottom: 1px solid #EBEEF5;*/
  }
</style>

