<template>
  <div class="row">
    <div class="col-12">
      <card>
        <div class="row" style="margin-top: -10px !important;">
          <div class="col-md-2 mr-2">
            <fg-input :label="$t('company.Domain')"
            >
              <el-select name="Domain"

                         class="select-default"
                         v-model="model.domain">
                <el-option v-for="domain in domains"
                           :key="domain"
                           class="select-default"
                           :label="domain"
                           :value="domain">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary" @click="Search()"
                    style="margin-top:24px;margin-left: 210px;width: 110px;height: 39px; width: 110px;">
              {{$t('Search')}}
            </button>&nbsp;
          </div>
        </div>
      </card>
      <card :title="$t('company.Companies')">
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              :placeholder="$t('table.Per_page')"
              style="width: 200px"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
            <div>
              <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                      @click="registerCompany()">
                <i class="fa fa-plus"></i>
              </button>
              <el-input aria-controls="datatables"
                        class="mb-3"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template slot-scope="props">
                  <a @click="handleDelete(props.$index, props.row,tableData)" class="btn-danger btn-simple btn-link"
                     v-tooltip.top-center="$t('Delete')"><img style="width: 25px;"
                                                              :src="require('src/assets/images/poubelle.png')"/></a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['name', 'domain', 'email'],
                model: {
                    domain: ''
                },
                tableColumns: [
                    {
                        prop: 'name',
                        label: 'company.Name',
                        minWidth: 200
                    },
                    {
                        prop: 'domain',
                        label: 'company.Domain',
                        minWidth: 200
                    },
                    {
                        prop: 'email',
                        label: 'company.Email',
                        minWidth: 200
                    }
                ],
                tableData: [],
                domains: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
            registerCompany() {
                this.$router.push({name: 'Company'})
            },
            Search() {
                //if the domain=='Aucun' display all the companies
                if (this.model.domain === "Aucun") {
                    this.model.domain = '';
                }
                //get All companies per domain where size=number of companies to display  and page =number of the  page
                axios.get("http://localhost:8765/evaluation/company/paginationCompany?" + "&domain=" + this.model.domain + "&size=" + this.pagination.perPage + "&page=" + ((this.pagination.currentPage) - 1)).then(result => {
                    result.data.content.forEach(el => {
                        if (el.user.email) {
                            el.email = el.user.email

                        }
                    })
                    this.tableData = result.data.content;
                })
                setTimeout(() => {
                    this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'domain', 'email']})
                }, 500)
            },

            /* Delete Company */
            handleDelete(index, row, tableData) {
                let cnx = this
                swal({
                    title: this.$t('companyList.Detele_Company'),
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        //delete company and splice table data (row contains id of object  in database and index =index of the object in tabledata)
                        axios.delete(sharedUrl.DELETE_COMPANY + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: cnx.$t('companyList.Company_Deleted'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
        },
        mounted() {
            /*get list of all companies*/
            axios.get(sharedUrl.GET_COMPANY).then(response => {
                response.data.forEach(el => {
                    if (el.user.email)
                        el.email = el.user.email;
                    //fill the list of domain (select items) with domain of companies
                    if (!this.domains.includes(el.domain)) {

                        this.domains.push(el.domain)
                    }
                })
                this.tableData = response.data;
                this.domains.push('Aucun');

            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'domain', 'email']})
            }, 500)
        }
    }
</script>
<style scoped>
</style>
