<template>
  <nav class="navbar navbar-expand ">


    <div class="navbar-minimize navbar-brand">
      <button class="btn btn-outline btn-fill btn-round btn-icon d-none d-lg-block" @click="minimizeSidebar">
        <i :class="$sidebar.isMinimized ? 'fa fa-ellipsis-v' : 'fa fa-navicon'"></i>
      </button>
    </div>
    <div class="navbar-brand">
      <a class="nav-item">{{this.$route.name}} &nbsp; </a>
    </div>

    <div class="collapse navbar-collapse justify-content-end">
      <span class="nav-item navbar-brand mr-6"><i v-tooltip.top-center="$t('prmAccess.ExpirationDate')"
                                                  class="fa fa-calendar mr-2"></i>{{newExpirationDate}} &nbsp;&nbsp;</span>

      <span class="nav-item navbar-brand ml-4"> <i v-tooltip.top-center="$t('prmAccess.UnusedAccess')"
                                                   class="fa fa-cart-plus mr-2"></i>{{this.$store.state.UnusedAccess}}</span>
      <drop-down style="width: 6rem;">
        <template slot="title"><span style="font-size: 14px; font-weight: 700 ; text-transform:uppercase"
                                     class="mr-1">{{language.label}}</span><img style="width: 22px;"
                                                                                :src="language.img"/>
        </template>
        <span v-for="lang in langs">
          <a class="dropdown-item" @click="changeLanguage(lang)"><span
            style="font-size: 14px; font-weight: 700 ; text-transform:uppercase"
            class="mr-1">{{lang.label}}</span><img
            style="width: 22px;" :src="lang.img"/></a>
            </span>
      </drop-down>

      <a>
        <router-link class="dropdown-item text-danger" @click="logout" v-if="loggedIn"
                     :to="$i18nRoute({ name: 'Logout'})"><img style="width: 22px;"
                                                              :src="require('src/assets/images/logout.png')"
                                                              v-tooltip.top-center="$t('Logout')"/>
        </router-link>
      </a>
    </div>


  </nav>
</template>
<script>
    import axios from "axios";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import Fuse from "fuse.js";
    import {Trans} from "../../../../plugins/Translation";

    export default {
        computed: {
            supportedLanguages() {
                return Trans.supportedLanguages
            },
            currentLanguage() {
                return Trans.currentLanguage
            },
            routeName() {
                const {name} = this.$route
                return this.capitalizeFirstLetter(name)
            },
            loggedIn() {
                return this.$store.getters.loggedIn
            }
        },
        data() {

            return {
                language: {label: 'fr', img: require('src/assets/images/fr.png')},
                activeNotifications: false,
                langs: [{label: 'fr', img: require('src/assets/images/fr.png')}, {
                    label: 'en',
                    img: require('src/assets/images/en.png')
                }],
                id: null,
                result: null,
                newExpirationDate: null,
                expirationDate: null,
                UnusedAccess: 0,

                activeNotifications: false
            }
        },
        methods: {
            changeLanguage(e) {
                this.language = e
                const lang = e.label

                const to = this.$router.resolve({params: {lang}})
                return Trans.changeLanguage(lang).then(() => {

                })
            },
            isCurrentLanguage(lang) {
                return lang === this.currentLanguage
            },
            logout() {
                this.$store.dispatch('destroyToken')
                    .then(response => {
                        this.$router.push({name: 'Login'})
                    })
            },
            capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1)
            },
            toggleNotificationDropDown() {
                this.activeNotifications = !this.activeNotifications
            },
            closeDropDown() {
                this.activeNotifications = false
            },
            toggleSidebar() {
                this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
            },
            hideSidebar() {
                this.$sidebar.displaySidebar(false)
            },
            minimizeSidebar() {
                this.$sidebar.toggleMinimize()
            }
        },
        mounted() {
            this.$i18n.locale = 'fr'
            axios.get("http://localhost:8765/evaluation/compteEval/findCompte/" + this.$store.state.username).then((response) => {
                axios.get("http://localhost:8765/evaluation/TestAccess/allUnusedAccess/" + response.data.id).then((result) => {
                    this.result = response.data
                    this.id = response.data.id
                    this.expirationDate = response.data.expirationDate;
                    let res = this.expirationDate.split("T");
                    this.newExpirationDate = res[0]
                    this.UnusedAccess = result.data
                    this.$store.dispatch('retrieveUnusedAccess', this.UnusedAccess)
                })
            })
        }
    }

</script>
<style>

</style>
