<template>
  <div>
    <!--    <h5 class="text-center">Statement of the question to edit</h5>-->
    <div class="row">
      <div class="col-md-12">
        <fg-input label="Statement"
                  name="statement"
                  v-validate="modelValidations.statement"
                  v-model="model.statement"
                  :error="getError('statement')"
        >
          <!--          <textarea class="form-control"  label="Statement"-->
          <!--                    name="statement"-->
          <!--                    v-validate="modelValidations.statement"-->
          <!--                    v-model="model.statement"-->
          <!--                    :error="getError('statement')" placeholder="ex: Qu'elle est la différence entre classe abstraite et interface"-->
          <!--                    rows="2"></textarea>-->

        </fg-input>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <fg-input label="Response 1"
                      name="response1"
                      v-validate="modelValidations.response1.value"
                      v-model="model.response1.value"
                      :error="getError('response1')">
              <!--            <textarea class="form-control"-->
              <!--                      placeholder="Ex: Pas de différence"-->
              <!--                      rows="2"></textarea>-->
            </fg-input>
          </div>
          <div class="col-md-2 mt-3">
            <label class="ml-1 "> Valeur </label>
            <br>
            <l-switch v-model="model.response1.correct"></l-switch>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <fg-input label="Response 2"
                      name="response2"
                      v-validate="modelValidations.response2.value"
                      v-model="model.response2.value"
                      :error="getError('response2')">
            </fg-input>
          </div>
          <div class="col-md-2 mt-3">
            <label class="ml-1"> Valeur </label>
            <br>
            <l-switch v-model="model.response2.correct"></l-switch>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <fg-input label="Response 3"
                      name="response3"
                      v-validate="modelValidations.response3.value"
                      v-model="model.response3.value"
                      :error="getError('response3')">
              <!--            <textarea class="form-control"-->
              <!--                      placeholder="Ex: Pas de différence"-->
              <!--                      rows="2"></textarea>-->
            </fg-input>
          </div>
          <div class="col-md-2 mt-3">
            <label class="ml-1"> Valeur </label>
            <br>
            <l-switch v-model="model.response3.correct"></l-switch>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <fg-input label="Response 4"
                      name="response4"
                      v-validate="modelValidations.response4.value"
                      v-model="model.response4.value"
                      :error="getError('response4')">
              <!--            <textarea class="form-control"-->
              <!--                      placeholder="Ex: Pas de différence"-->
              <!--                      rows="2"></textarea>-->
            </fg-input>
          </div>
          <div class="col-md-2 mt-3">
            <label class="ml-1"> Valeur </label>
            <br>
            <l-switch v-model="model.response4.correct"></l-switch>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>

  import {
    Checkbox as LCheckbox,
    FormGroupInput as FgInput,
    Pagination as LPagination,
    Progress as LProgress, Radio as LRadio,
    Switch as LSwitch
  } from "../../../../../components";
  import {
    Button,
    DatePicker,
    Dialog,
    Input,
    Option,
    Select,
    Slider,
    Table,
    TableColumn,
    Tag,
    TimeSelect
  } from "element-ui";
  import {bus} from '@/main';
  import QuestionList from "../QuestionList";

  export default {
    components: {
      FgInput,
      [DatePicker.name]: DatePicker,
      [TimeSelect.name]: TimeSelect,
      [Slider.name]: Slider,
      [Tag.name]: Tag,
      [Input.name]: Input,
      [Button.name]: Button,
      [Option.name]: Option,
      [Select.name]: Select,
      LSwitch,
      LProgress,
      LRadio,
      LCheckbox,
      QuestionList
    },
    data() {
      return {
        responses: [],
        model: {
          statement: this.$store.state.question.statement,
          response1: {
            id:this.$store.state.responses[0].id,
            value: this.$store.state.responses[0].value,
            correct: this.$store.state.responses[0].correct
          },
          response2: {
            id:this.$store.state.responses[1].id,
            value: this.$store.state.responses[1].value,
            correct: this.$store.state.responses[1].correct
          },
          response3: {
            id:this.$store.state.responses[2].id,
            value: this.$store.state.responses[2].value,
            correct: this.$store.state.responses[2].correct
          },
          response4: {
            id:this.$store.state.responses[3].id,
            value: this.$store.state.responses[3].value,
            correct: this.$store.state.responses[3].correct
          },
          responses: []
        },
        switches: {
          defaultOn: true,
          defaultOff: false,
          plainOn: true,
          plainOff: false,
          withIconsOn: true,
          withIconsOff: false
        },
        modelValidations: {
          statement: {
            required: true,
            min: 5
          },
          response1: {
            required: true,
            min: 5
          },
          response2: {
            required: true,
            min: 5
          },
          response3: {
            required: true,
            min: 5
          },
          response4: {
            required: true,
            min: 5
          },
        }
      }
    }
    ,
    mounted() {
      console.log('hello step 1')
      console.log(this.$store.state.question)
      console.log(this.$store.state.responses)
    },
    methods: {
      getError(fieldName) {
        return this.errors.first(fieldName)
      }
      ,
      validate() {
        this.model.responses = []
        this.model.responses.push(this.model.response1)
        this.model.responses.push(this.model.response2)
        this.model.responses.push(this.model.response3)
        this.model.responses.push(this.model.response4)
        return this.$validator.validateAll().then(res => {
          this.$emit('on-validated', res, this.model)
          console.log(this.model)
          return res
        })
      }
    }
  }
</script>
<style>
</style>
