<template>
  <div>
    <h5 class="text-center">Please add parameters for the questions to edit</h5>
    <div class="row">
      <div class="col-md-6">
        <fg-input label="Level"
                  :error="getError('level')">
          <el-select name="level"
                     v-validate="modelValidations.level"
                     class="select-default"
                     v-model="model.level">
            <el-option v-for="level in levels"
                       :key="level.levelName"
                       class="select-default"
                       :label="level.levelName"
                       :value="level.levelName">
            </el-option>
          </el-select>
        </fg-input>
      </div>
      <div class="col-md-6">
        <fg-input label="Category"
                  :error="getError('category')">
          <el-select name="category"
                     v-validate="modelValidations.category"
                     class="select-default"
                     v-model="model.category">
            <el-option v-for="category in categories"
                       :key="category.categoryName"
                       class="select-default"
                       :label="category.categoryName"
                       :value="category.categoryName">
            </el-option>
          </el-select>
        </fg-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <fg-input label="Difficulty"
                  :error="getError('difficulty')">
          <el-select name="difficulty"
                     v-validate="modelValidations.difficulty"
                     class="select-default"
                     v-model="model.difficulty">
            <el-option v-for="difficulty in difficulties"
                       :key="difficulty.difficultyName"
                       class="select-default"
                       :label="difficulty.difficultyName"
                       :value="difficulty.difficultyName">
            </el-option>
          </el-select>
        </fg-input>
      </div>

      <div class="col-md-6">
        <fg-input label="Technology"
                  :error="getError('technology')">
          <el-select name="technology"
                     v-validate="modelValidations.technology"
                     class="select-default"
                     v-model="model.technology">
            <el-option v-for="technology in technologies"
                       :key="technology.technologyName"
                       class="select-default"
                       :label="technology.technologyName"
                       :value="technology.technologyName">
            </el-option>
          </el-select>
        </fg-input>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapFields} from 'vee-validate'
  import {Select, Option} from 'element-ui'
  import axios from 'axios'
  import sharedUrl from "../../../../../shared/constantes/sharedUrl";

  export default {
    components: {
      [Select.name]: Select,
      [Option.name]: Option
    },
    computed: {
      // ...mapFields(['prmCategory', 'prmTechnology', 'prmLevel','prmDifficulty'])
    },
    mounted() {
      this.model.category = this.$store.state.question.prmCategory.categoryName,
        this.model.technology = this.$store.state.question.prmTechnology.technologyName,
        this.model.level = this.$store.state.question.prmLevel.levelName,
        this.model.difficulty = this.$store.state.question.prmDifficulty.difficultyName
      axios.get(sharedUrl.GET_TECHNOLOGIES).then(result => {
        this.technologies = result.data
      })
      axios.get(sharedUrl.GET_DIFFICULTIES).then(result => {
        this.difficulties = result.data
      })
      axios.get(sharedUrl.GET_LEVELS).then(result => {
        this.levels = result.data
      })
      axios.get(sharedUrl.GET_CATEGORIES).then(result => {
        this.categories = result.data
      })
    },
    data() {
      return {
        categories: [],
        technologies: [],
        levels: [],
        difficulties: [],
        model: {
          category: '',
          technology: '',
          level: '',
          difficulty: ''
        },
        modelValidations: {
          language: {
            required: true
          },
          category: {
            required: true
          },
          level: {
            required: true
          },
          difficulty: {
            required: true
          },
          technology: {
            required: true
          }
        }
      }
    },
    methods: {
      getError(fieldName) {
        return this.errors.first(fieldName)
      },
      validate() {
        this.model.prmTechnology = this.technologies.filter(x => x.technologyName == this.model.technology)[0]
        this.model.prmCategory = this.categories.filter(x => x.categoryName == this.model.category)[0]
        this.model.prmDifficulty = this.difficulties.filter(x => x.difficultyName == this.model.difficulty)[0]
        this.model.prmLevel = this.levels.filter(x => x.levelName == this.model.level)[0]
        return this.$validator.validateAll().then(res => {
          this.$emit('on-validated', res, this.model)
          return res
        })
      }
    }
  }
</script>
<style>
</style>
