<template>
  <div>
    <div class="wrapper wrapper-full-page">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
        <div class="container">
        </div>
      </nav>

      <div class="navbar-wrapper">
      </div>
      <div class="full-page">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple | black" -->

        <div class="content">
          <div class="container">
            <div pageClass="register-page">
              <div class="row d-flex justify-content-center">
                <form class="col-6">
                  <card>
                    <div slot="header">
                      <h4 class="card-title">
                        {{$t('company.Update_Password')}}
                      </h4>
                    </div>
                    <div>


                      <fg-input :label="$t('company.Email')"
                                type="email"
                                disabled="true"
                                name="email"
                                v-validate="modelValidations.company.user.email"
                                :error="getError('email')" v-model="company.user.email" placeholder="Email"></fg-input>
                      <fg-input :label="$t('company.Password')"
                                type="password"
                                name="password"
                                v-validate="modelValidations.company.user.password"
                                :error="getError('password')" ref="password" v-model="company.user.password"
                                placeholder="Password"></fg-input>
                      <fg-input :label="$t('company.Confirm_Password')" name="confirmedPassword" type="password"
                                v-model="confirmedPassword"
                                v-validate="'required|confirmed:password'"
                                :error="getError('confirmedPassword')"
                                placeholder="Confirm Your Password"></fg-input>
                    </div>
                    <div class="card-footer text-right">
                      <button type="submit" @click.prevent="registerPassword()" class="btn btn-fill btn-info btn-wd">
                        {{$t('company.Update')}}
                      </button>
                    </div>
                  </card>
                </form>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent">
          <div
            class="container d-flex flex-lg-row flex-column justify-content-lg-between justify-content-center align-items-center">


          </div>
        </footer>

        <div class="full-page-background"
             style="background-image: url(static/img/full-screen-image-1.jpg) "></div>
      </div>
    </div>
  </div>
</template>
<script>
    import {Checkbox} from 'src/components/index'
    import axios from "axios";

    export default {
        components: {
            Checkbox
        },
        data() {
            return {
                confirmedPassword: '',
                company: {
                    name: "",
                    domain: "",
                    isVerified: false,
                    user: {
                        email: this.$store.state.username,
                        password: ""
                    }
                },
                modelValidations: {
                    confirmedPassword:
                        {
                            required: true,
                            min: 5
                        },
                    company: {
                        user: {
                            email: {
                                required: true,
                                email: true,
                            },
                            password: {
                                required: true
                            }
                        }
                    }
                }
            }
        },
        methods: {
            registerPassword() {
                this.$validator.validate().then(valid => {
                    if (valid) {
                        //update Company Password
                        axios.put('http://localhost:8765/evaluation/auth/updateCompanyPassword', {
                            "user": this.company.user
                        })
                            .then(response => {
                                if (response.status === 200) {
                                    {//redirecting to page login if password is updated
                                        this.$router.push('/evaluation/login')
                                    }
                                }
                            })
                            .catch((error) => {
                                swal({
                                    type: 'error',
                                    html: 'Email exist',
                                    confirmButtonClass: 'btn btn-danger btn-fill',
                                    buttonsStyling: false
                                })
                            });
                    }
                })
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit('on-submit', this.registerForm, isValid)
                })
            }
        },
    }
</script>
<style scoped>
</style>
