<template>
  <div class="row">
    <div class="col-12">
      <card :title="$t('package.Package')">
        <el-dialog
          center
          :title="$t('package.Package_Name')"
          :visible.sync="modals.centered">
          <div class="form-group">
            <div class="row">
              <div class="col-md-8">
                <fg-input :label="$t('package.Package_Name')"
                          name="name"
                          v-validate="modelValidations.name"
                          v-model="package.name"
                          :error="getError('name')"
                >
                </fg-input>
              </div>

              <div class="col-md-4">
                <fg-input :label="$t('prmLevel.Levels')" :error="getError('level')"
                >
                  <el-select name="level"
                             class="select-default"
                             v-model="model.level"
                             v-validate="modelValidations.level"

                  >
                    <el-option v-for="level in levels" :key="level.id"
                               class="select-default"
                               :label="level.levelName"
                               :value="level.levelName">
                    </el-option>
                  </el-select>
                </fg-input>
              </div>
            </div>
          </div>
          <button class="btn btn-danger" @click="closeModal('centered')">{{$t('button.Cancel')}}</button>&nbsp;
          <button class="btn btn-success" @click="submit('centered')">{{$t('button.Confirm')}}</button>
        </el-dialog>

        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              :placeholder="$t('table.Per_page')"
              style="width: 200px"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
            <div>
              <button class="btn btn-social  btn-twitter btn-round mr-4"
                      style="float: left !important;margin-right: 10px"
                      @click="openModal('centered',tableData)">
                <i class="fa fa-plus"></i>
              </button>
              <el-input aria-controls="datatables"
                        class="mb-3"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;"
                      v-if="show">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template slot-scope="props">


                  <a v-if="props.row.send=='0 / 0'" class="btn-info btn-simple btn-link "
                     @click="handleCreateTest(props.$index, props.row)"
                     v-tooltip.top-center="$t('candidate.Create_Test')">
                    <img style="width:25px;height: 25px" src="../images/addDoc1.png"></a>
                  <a v-else class="btn-info btn-simple btn-link"
                     @click="handleCreateTest(props.$index, props.row)"
                     v-tooltip.top-center="$t('candidate.AddCandidate')">
                    <img style="width:25px;height: 25px" src="../images/addCandidate.png"></a>
                  <a class="btn-info btn-simple btn-link ml-5"
                     @click="handleDetailsTests(props.$index, props.row)" v-tooltip.top-center="' Tests'">
                    <img style="width:25px;height: 25px" src="../images/listpng.png"></a>
                  <a class="btn-info btn-simple btn-link ml-5"
                     @click="handleViewStats(props.$index, props.row)" v-tooltip.top-center="$t('package.Statistics')">
                    <img style="width:25px;height: 25px" src="../images/stats3.png"></a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option, Dialog} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";


    export default {
        components: {
            LPagination,
            [Dialog.name]: Dialog,

            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            queriedData() {
                let result = this.tableData

                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                duration: 0,
                levels: [],
                model: {
                    level: '',
                },
                package: {
                    company: {},
                    prmLevel: {}
                },
                modelValidations: {
                    level: {
                        required: true
                    },
                    name: {
                        required: true
                    },
                    nameAdd: {
                        required: true
                    },
                },
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['name'],
                tableColumns: [
                    {
                        prop: 'name',
                        label: 'package.Package_Name',
                        minWidth: 130
                    },
                    {
                        prop: 'send',
                        label: 'package.Send',
                        minWidth: 130
                    },
                ],
                tableData: [],
                addedObj: {},
                fuseSearch: null,
                packid: '',
                send: '',
                show: false
            }
        },
        methods: {
            handleViewStats(index, row) {
                this.$router.push({path: 'package/statistics/' + row.id})
            },
            handleCreateTest(index, row) {
                axios.get('http://localhost:8765/evaluation/test/allTests/' + row.id).then(res => {
                    if (res.data.length > 0) {
                        axios.post('http://localhost:8765/evaluation/testQuestion/find/' + res.data[0].testid).then(res => {
                            this.duration = res.data[0].test.testDuration
                            let testQuestions = []

                            res.data.forEach(el => {
                                testQuestions.push(el.question)
                            })
                            if (testQuestions.length != 0) {
                                this.$store.dispatch('retrieveTestQuestionsResponses', testQuestions)
                                this.$store.dispatch('addDuration', this.duration)
                                this.$store.dispatch('addLevel', row.prmLevel.levelName)
                                this.$router.push({path: '/company/test/validate/' + row.id})
                            }
                        })
                    } else {
                        this.$router.push({path: '/company/test/create/' + row.id})
                    }
                })
            },
            handleDetailsTests(index, row) {

                this.$router.push("/company/test/packageDetails/" + row.id)
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },

            openModal(name, packages) {
                this.modals[name] = true
            },
            submit(name) {
                this.package.prmLevel = this.levels.filter(x => x.levelName == this.model.level)[0]

                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.modals[name] = false
                        axios.post(sharedUrl.CREATE_PACKAGE, this.package).then(result => {

                            if (result.data) {
                                result.data.send = "0 / 0"
                                this.tableData.unshift(result.data)
                                this.package = {};
                                swal({
                                    type: 'success',
                                    html: 'Package Added',
                                    confirmButtonClass: 'btn btn-success btn-fill',
                                    buttonsStyling: false
                                })
                            }
                        })
                    }
                })
            },
            closeModal(name) {
                this.modals[name] = false
                this.access = {};
            },
            openModalUpdate(name, packages, pack, id) {
                this.package = pack
                this.modals[name] = true
            },
            submitUpdate(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.modals[name] = false
                        axios.put(sharedUrl.UPDATE_PACKAGE + this.package.id, this.package).then(response => {
                            this.package = {}
                            swal({
                                type: 'success',
                                html: 'package Updated',
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
            /* delete access */
            handleDelete(index, row, tableData) {
                swal({
                    title: 'Do you Want to Delete this Access',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_ACCESS + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: 'Access Has Been Deleted',
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
        },
        created() {
            axios.get(sharedUrl.GET_LEVELS).then(result => {
                this.levels = result.data
            })
            axios.get('http://localhost:8765/evaluation/company/finduser/' + this.$store.state.username).then(res => {
                this.package.company = res.data
                axios.get(sharedUrl.GET_PACKAGES + '/' + res.data.id).then(result => {
                    for (let i = 0; i < result.data.length; i++) {
                        axios.get('http://localhost:8765/evaluation/test/getSendTests/' + result.data[i].id).then(res => {
                            axios.get('http://localhost:8765/evaluation/test/allTests/' + result.data[i].id).then(ress => {
                                result.data[i].total = ress.data.length
                                result.data[i].send = res.data.toString(10) +
                                    ' / ' + ress.data.length.toString(10)
                                this.tableData = result.data
                            })
                        })
                    }
                    setTimeout(() => {
                        this.fuseSearch = new Fuse(this.tableData, {keys: ['name']})
                        this.show = true
                    }, 700)
                })
            })
        }
    }
</script>
<style scoped>
  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {

  }

</style>

