<template>

  <div class="row">
    <div class="col-12">
      <card>
        <div class="row" style="margin-top: -10px !important;">
          <div class="col-md-2 mr-2">
            <fg-input label="Packages"
            >
              <el-select name="pack"
                         class="select-default"
                         v-model="model.package"
              >
                <el-option v-for="pack in packages"
                           :key="pack.name"
                           class="select-default"
                           :label="pack.name"
                           :value="pack.name">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <Button @click="Submit" style="height: 40px;
    margin-top: 25px;
    margin-left: 65px;" class="btn btn-primary">Submit
          </Button>
        </div>
      </card>
      <highcharts v-if="this.showStatistics" :options="chartOptions"></highcharts>
    </div>
  </div>
</template>

<script>
    import Vue from 'vue'
    import HighchartsVue from 'highcharts-vue'
    import {Chart} from 'highcharts-vue'
    import axios from 'axios'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import {Pagination as LPagination} from "../../../../components";
    import {Option, Select, Table, TableColumn} from "element-ui";


    export default {
        name: "PercentagePerScore.vue",
        components: {
            highcharts: Chart,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },

        data() {
            return {
                chartOptions: {
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Pourcentage Of Candidates Per Each Score Interval'
                    },
                    tooltip: {
                        pointFormat: '{series.name}:<b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        Pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        data: [{
                            data: []
                        }
                        ]
                    }]
                },

                model: {
                    package: '',

                    pack: ''
                },
                packages: [],
                liste: [],
                showStatistics: false
            }
        }
        ,
        methods: {
            Submit() {
                axios.get("http://localhost:8765/evaluation/pack/findByName?name=" + this.model.package).then(response => {
                    this.pack = response.data
                    this.pack.forEach(el => {
                        axios.get(sharedUrl.GET_INTERVAL_STAT + "?idPackage=" + el.id).then((response) => {
                            if (response) {
                                this.showStatistics = true
                            }
                            this.chartOptions.series[0].data = []
                            response.data.forEach(el => {
                                this.chartOptions.series[0].data.push({
                                    "name": el.name,
                                    "y": el.pourcentage
                                })
                            })
                        });
                    })
                })
            }
        },
        mounted() {
            axios.get("http://localhost:8765/evaluation/company/findCompany?email=" + this.$store.state.username).then(response => {
                axios.get("http://localhost:8765/evaluation/pack/all/" + response.data.id).then(response => {
                    this.packages = response.data
                    this.packages = response.data
                })
            })
        }
    }
</script>

<style scoped>

</style>

