<template>

  <div class="row">
    <div class="col-12">
      <card>
        <div class="row" style="margin-top: -10px !important;">
          <div class="col-md-2 mr-2">
            <fg-input label="Packages"
            >
              <el-select name="pack"
                         class="select-default"
                         v-model="model.package">
                <el-option v-for="pack in packages"
                           :key="pack.name"
                           class="select-default"
                           :label="pack.name"
                           :value="pack.name">
                </el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-md-1 ">
            <fg-input label="Top"
            >
              <input
                name="Top"
                type="number"
                v-model="model.top"
                class="form-control"
              >
              </input>
            </fg-input>
          </div>
          <Button @click="Submit" style="height: 40px;
    margin-top: 25px;
    margin-left: 65px;" class="btn btn-primary">Submit
          </Button>
        </div>
      </card>
      <highcharts v-if="this.showStatistics" :options="chartOptions"></highcharts>
    </div>
  </div>
</template>
<script>
    import axios from "axios";
    import {Chart} from 'highcharts-vue'
    import {Pagination as LPagination} from "../../../../components";
    import {Option, Select, Table, TableColumn} from "element-ui";

    export default {
        components: {
            highcharts: Chart,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        data() {
            return {
                chartOptions: {
                    chart: {
                        type: "column"
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {type: "category"},
                    yAxis: {type: 'value',},
                    series: [
                        {
                            type: 'column',
                            data: [
                                {
                                    name: '',
                                    value: '',
                                    data: []
                                }
                            ]
                        }
                    ],
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Top Candidates'
                    },
                },
                model: {
                    package: '',
                    top: '',
                    pack: ''
                },
                datax: [],
                datay: [],
                packages: [],
                showStatistics: false
            }
        },
        mounted() {
            axios.get("http://localhost:8765/evaluation/company/findCompany?email=" + this.$store.state.username).then(response => {
                axios.get("http://localhost:8765/evaluation/pack/all/" + response.data.id).then(response => {
                    this.packages = response.data
                    this.packages = response.data
                })
            })
        },
        methods: {
            Submit() {
                this.datax = []
                this.datay = []
                this.chartOptions.xAxis.data = []
                this.chartOptions.series[0].data = []
                axios.get("http://localhost:8765/evaluation/pack/findByName?name=" + this.model.package).then(response => {
                    this.pack = response.data
                    this.pack.forEach(el => {
                        axios.get("http://localhost:8765/evaluation/test/topcandidate?idPack=" + el.id + "&number=" + this.model.top).then(response => {
                            this.chartOptions.series[0].data = []
                            if (response) {
                                this.showStatistics = true
                            }
                            response.data.forEach(ell => {
                                this.chartOptions.series[0].data.push({
                                    "name": ell.candidateName,
                                    "y": ell.score

                                })
                            })
                        })
                    })
                })
            }
        }
    }
</script>

<style scoped>

</style>
