<template>
  <div class="sidebar"
       :style="sidebarStyle"
       :data-color="backgroundColor"
       :data-image="backgroundImage"
       :data-active-color="activeColor">

    <div class="sidebar-wrapper" ref="sidebarScrollArea">
      <div class="logo">
        <a class="logo-mini"
           href="http://localhost:8080/#/examinateur/questionList">
          <div class="logo-img">
              <img :src="logo" alt="logo">
          </div>
        </a>
        <a v-if="this.$store.state.roles === 'ROLE_COMPANY'" href="" class="simple-text logo-normal">
          {{ title }}
        </a>
        <a v-else     href="" class="simple-text logo-normal">Talan</a>
        <a href="" v-if="this.$store.state.roles === 'ROLE_COMPANY'" class="simple-text logo-normal text-center">
          <div style=" font-size: 15px;">
          {{ typeAccount }}
          </div>
        </a>
      </div>
      <slot>

      </slot>
      <ul class="nav">
        <slot name="links">
<!--          <sidebar-item v-for="(link, index) in sidebarLinks"-->
<!--                        :key="link.name + index"-->
<!--                        :link="link">-->

<!--            <sidebar-item v-for="(subLink, index) in link.children"-->
<!--                          :key="subLink.name + index"-->
<!--                          :link="subLink">-->
<!--            </sidebar-item>-->
<!--          </sidebar-item>-->
        </slot>

      </ul>
    </div>
  </div>
</template>
<script>
  import axios from "axios";

  export default {
    name: 'sidebar',
    data() {
      return{
    title:'',
        deal:{
      dealName:''
        },
    typeAccount:''
    }},
    props: {
 //      title: {
 //        type: String,
 //        default: 'Talan'
 //      },
 // comptetype: {
 //   type:String,
 //   default:''
 // },
      backgroundColor: {
        type: String,
        default: 'black',
        validator: (value) => {
          let acceptedValues = ['', 'blue', 'azure', 'green', 'orange', 'red', 'purple', 'black']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      backgroundImage: {
        type: String,
        default: 'static/img/sidebar-5.jpg'
      },
      activeColor: {
        type: String,
        default: 'success',
        validator: (value) => {
          let acceptedValues = ['primary', 'info', 'success', 'warning', 'danger']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      logo: {
        type: String,
        default: 'static/img/talan.png'
      },
      // sidebarLinks: {
      //   type: Array,
      //   default: () => []
      // },
      autoClose: {
        type: Boolean,
        default: true
      }
    },
    provide () {
      return {
        autoClose: this.autoClose
      }
    },
    computed: {
      sidebarStyle () {
        return {
          backgroundImage: `url(${this.backgroundImage})`
        }
      }
    },
    methods: {
      async initScrollBarAsync () {
        await import('perfect-scrollbar/dist/css/perfect-scrollbar.css')
        const PerfectScroll = await import('perfect-scrollbar')
        PerfectScroll.initialize(this.$refs.sidebarScrollArea)
      }
    },
    mounted () {
      this.initScrollBarAsync()
      if (this.$store.state.roles === 'ROLE_COMPANY') {
        axios.get("http://localhost:8765/evaluation/company/findname/" + this.$store.state.username).then((response) => {
          this.title = response.data
        })
        axios.get("http://localhost:8765/evaluation/compteEval/findCompte/" + this.$store.state.username).then((response) => {
          this.typeAccount = response.data.deal.dealName
        })
      }
    },
    beforeDestroy () {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.showSidebar = false
      }
    }
  }

</script>
<style>
  @media (min-width: 992px) {
    .navbar-search-form-mobile,
    .nav-mobile-menu{
      display: none;
    }
  }
</style>
