<template>
  <router-view @keyup.esc="echape()"  v-if="!submitted"></router-view>
</template>

<script>
  import NotificationSample from 'src/pages/Dashboard/Components/NotificationSample';
  export default {
    data() {
    return {
      submitted: false
    }
  },
  computed: {
      loggedIn() {
        return this.$store.getters.loggedIn
      }
    },
  created() {
      const component = this;
      this.handler = function (e) {
        component.$emit('keyup', e);
      }
      window.addEventListener('', this.echape);
    },
  methods:{
  echape(){
		this.submitted=true;
  }
  },
    mounted () {
      this.$notify(
        {
          component: NotificationSample,
          icon: 'nc-icon nc-app'
        })
    }
  }
</script>
