<template>
  <div class="wrapper" :class="{'nav-open': $sidebar.showSidebar}">
    <notifications></notifications>
    <side-bar>
      <mobile-menu></mobile-menu>
      <template slot-scope="props" slot="links">
        <sidebar-item :link="{name:$t('Parameters') , icon: 'nc-icon nc-paper-2'}">

          <sidebar-item :link="{name:$t('prmCategory.Categories'), path: '/bo/prmCategory'}"></sidebar-item>
          <sidebar-item :link="{name: $t('prmLevel.Levels'), path: '/bo/prmLevel'}"></sidebar-item>
          <sidebar-item :link="{name: $t('prmTechnology.Technologies'), path: '/bo/prmTechnology'}"></sidebar-item>
          <sidebar-item :link="{name: $t('prmDifficulty.Difficulties'), path: '/bo/prmDifficulty'}"></sidebar-item>
        </sidebar-item>
        <sidebar-item :link="{name: $t('prmAccess.Access'), path: '/bo/prmAccess' , icon: 'nc-icon nc-single-copy-04'}"></sidebar-item>
        <sidebar-item :link="{name: $t('deals.Deals'), path: '/bo/deal' , icon: 'nc-icon nc-money-coins'}"></sidebar-item>
        <sidebar-item :link="{name: $t('company.Companies'), path: '/bo/company' , icon: 'nc-icon nc-notes'}"></sidebar-item>

      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click.native="toggleSidebar">

      </dashboard-content>

    </div>
  </div>
</template>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './Extra/MobileMenu.vue'
  import UserMenu from './Extra/UserMenu.vue'

  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu,
      UserMenu
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
