<template>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <div class="navbar-minimize">
          <button class="btn btn-outline btn-fill btn-round btn-icon d-none d-lg-block">
            <i class="fa fa-ellipsis-v"></i>
          </button>
        </div>
        <a class="navbar-brand">{{this.$route.name}}</a>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="nav navbar-nav mr-auto">
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container" v-if="this.showQuestions && this.question.question">
      <div class="card mt-4">
        <div class="card-body">
              <span>
                <span>

<span style="font-weight: 600 !important"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Question {{this.index+1}}/{{this.questions.length}}</span> &nbsp;&nbsp; - {{this.question.question.prmTechnology.technologyName}} </span>
              </span>
          <span style="float:right!important ;">
                <span :class="{danger:this.lastQuart}"
                      :style="this.show ? 'visibility:visible':'visibility: hidden'"><span
                  style="font-weight: 600 !important"><i class="fa fa-clock-o" aria-hidden="true"></i>
Temps écoulé :</span> {{this.counter}} / {{this.tempsTotal}}</span>
              </span>
        </div>
      </div>
      <card>
        <div v-if="this.question.question">
          <div>
          </div>
          <div class="card mt-5 pt-3 ml-5 border-0">
            <h3 class="card-header" style="margin-top:-30px !important; font-weight: 600 !important">
              {{this.question.question.statement}}</h3>
            <codemirror v-model="this.question.question.code" v-if="this.question.question.code!==''"
                        :options="cmOptions"
                        disabled
            />
            <div class="card-body ml-5 pl-5 mt-3 border-0">

              <div class="ml-2 mt-1" v-for="resp in this.question.question.responses">
                <checkbox :id="resp.id" name="rep1" v-model="resp.correct"><span style="font-size:24px !important;">{{resp.value}}</span>
                </checkbox>
              </div>
            </div>
          </div>
          <div class="card-footer text-center mt-2 pt-3" style="float: right !important;">
            <button type="submit" @click="getNextQuestion2()" class="btn btn-fill px-5 btn-info btn-wd">Question Suivant
            </button>
          </div>
        </div>
      </card>
      <card title="Test Finished" v-if="!this.showQuestions">
        <div v-if="!this.timeOver">
          <h1>You have finished your test </h1>
        </div>
        <div v-if="this.timeOver">
          <h1>Your time is over </h1>
        </div>
      </card>
    </div>
  </div>

</template>
<style scoped>
  .main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    width: 100%;
  }
</style>
<script>
    import axios from "axios";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";
    import {codemirror} from 'vue-codemirror'
    import 'codemirror/lib/codemirror.css'
    import 'codemirror/mode/javascript/javascript.js'
    import 'codemirror/theme/base16-dark.css'
    import swal from 'sweetalert2'
    import {Dialog} from "element-ui";
    import {Checkbox} from "../../../../components";

    export default {
        name: "TestValidation",
        components: {
            codemirror,
            Checkbox,
            [Dialog.name]: Dialog,
        },
        data() {
            return {
                result: {
                    test: {},
                    question: {},
                    response: {}
                },
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                cmOptions: {
                    tabSize: 2,
                    mode: 'text/javascript',
                    theme: 'base16-dark',
                    lineNumbers: 5,
                    line: true
                },
                testResponses: {
                    test: {},
                    questions: []
                },
                tempsTotal: "",
                RealDuration: 0,
                showQuestions: true,
                timeOver: false,
                show: true,
                lastQuart: false,
                index: 0,
                questionsReady: false,
                questionsRight: [],
                counter: "",
                question: {},
                responses: [],
                duration: 0,
                durationAdded: false,
                candidates: [],
                theCandidates: "",
                questions: [],
                pack: "",
                test: {},
                testCreate: {},
                prms: {technos: [], cats: [], diffs: [], levels: []}
            }
        },
        methods: {
            lastQuarter(duration) {
                let q = Math.floor(duration / 4)
                if (this.duration <= q) {
                    this.lastQuart = true;
                    return true
                }
            },
            TimeOut() {
                if (this.duration === 0) {
                    this.timeOver = true;
                    this.showQuestions = false
                    this.sendResponse(this.result)
                    this.openModal('basic')
                    this.$router.push('/candidat/finish/' + this.$route.params.id)
                    return true
                }
            },
            openModal(name, deal) {
                this.modals[name] = true
            },
            addDuration() {
                this.durationAdded = true;
            },
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            closeModal(name) {
                this.modals[name] = false
                this.category = {};
            },
            sedondsToTime(secs) {
                var sec_num = parseInt(secs, 10)
                var hours = Math.floor(sec_num / 3600)
                var minutes = Math.floor(sec_num / 60) % 60
                var seconds = sec_num % 60
                return [hours, minutes, seconds]
                    .map(v => v < 10 ? "0" + v : v)
                    .filter((v, i) => v !== "00" || i > 0)
                    .join(":")
            },
            getChecked(question) {
                for (var i = question.question.responses.length - 1; i >= 0; i--) {
                    if (question.question.responses[i].correct == false) {
                        question.question.responses.splice(i, 1);
                    }
                }
            },
            sendResponse(result) {
                result.timeOver = this.timeOver
                result.index = this.index + 1
                result.test = this.test
                result.responses = this.question.question.responses
                result.question = this.question.question
                result.testDuration = this.RealDuration - this.duration
                axios.post('http://localhost:8765/evaluation/result/create', result)
            },
            getNextQuestion2() {
                this.getChecked(this.question)
                this.sendResponse(this.result)
                this.index++
                if (this.index == this.questions.length) {
                    this.showQuestions = false
                    this.openModal('centered')
                    this.$router.push('/candidat/finish/' + this.$route.params.id)
                }
                this.question = this.questions[this.index]
            },
        },
        mounted() {
            axios.post('http://localhost:8765/evaluation/testQuestion/find/' + this.$route.params.id).then(res => {
                this.test = res.data[0].test
                this.duration = res.data[0].test.testDuration
                this.RealDuration = this.duration
                this.tempsTotal = this.sedondsToTime(this.RealDuration)
                setInterval(() => {
                    this.lastQuarter(this.RealDuration);
                    this.TimeOut();
                    this.duration--;
                    this.counter = this.sedondsToTime(this.duration)
                }, 1000)
                this.candidate = res.data[0].test.candidate
                this.questions = res.data
                for (let i = 0; i < this.questions.length; i++) {
                    axios.get(sharedUrl.GET_RESPONSE_BY_QUESTION + this.questions[i].question.questionid).then(res => {
                        res.data.forEach(el => {
                            el.correct = false
                        })
                        this.questions[i].question.responses = res.data
                    })
                }
                this.question = this.questions[0]
            })
        }
    }
</script>

<style scoped>
  checkbox {
    font-size: 30px !important;
    color: red !important;
  }

  .danger {
    color: red !important;
    /*visibility: hidden;*/
  }
</style>
