<template>
  <div class="row">
    <div class="col-12">
      <card :title="$t('deals.Deals')">

        <el-dialog
          :title="$t('deals.Edit_Deal')"
          :visible.sync="modals.basic">
          <div class="form-group">
            <fg-input :label="$t('deals.Deal_Name')"
                      name="deal Name"
                      v-validate="modelValidations.dealNameAdd"
                      v-model="deal.dealName"
                      :error="getError('deal Name')"
            >
            </fg-input>
          </div>
          <span slot="footer" class="dialog-footer">
              <button class="btn btn-danger" @click="closeModal('basic')">{{$t('button.Cancel')}}</button>&nbsp;
              <button class="btn btn-success" @click="submitUpdate('basic')">{{$t('button.Confirm')}}</button>
            </span>
        </el-dialog>
        <el-dialog
          center
          :title="$t('deals.Deal_Name')"
          :visible.sync="modals.centered">
          <div class="form-group">
            <fg-input :label="$t('deals.Deal_Name')"
                      name="dealName"
                      v-validate="modelValidations.dealName"
                      v-model="deal.dealName"
                      :error="getError('dealName')"
            >
            </fg-input>
          </div>
          <button class="btn btn-danger" @click="closeModal('centered')">{{$t('button.Cancel')}}</button>&nbsp;
          <button class="btn btn-success" @click="submit('centered')">{{$t('button.Confirm')}}</button>
        </el-dialog>

        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              :placeholder="$t('table.Per_page')"
              style="width: 200px"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
            <div>
              <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                      @click="openModal('centered',tableData)">
                <i class="fa fa-plus"></i>
              </button>
              <el-input aria-controls="datatables"
                        class="mb-3"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template slot-scope="props">
                  <a @click="openModalUpdate ('basic',tableData, props.row,props.$index)"
                     class="btn-warning btn-simple btn-link"
                     v-tooltip.top-center="$t('Edit')"><img style="width: 25px;"
                                                            :src="require('src/assets/images/edit.png')"/></a>
                  <a @click="handleDelete(props.$index, props.row,tableData)" class="btn-danger btn-simple btn-link"
                     v-tooltip.top-center="$t('Delete')"><img style="width: 25px;"
                                                              :src="require('src/assets/images/poubelle.png')"/></a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option, Dialog} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'

    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";


    export default {
        components: {
            LPagination,
            [Dialog.name]: Dialog,

            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                deal: {},
                modelValidations: {
                    dealName: {
                        required: true
                    },
                    dealNameAdd: {
                        required: true
                    },
                },
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['dealName'],
                tableColumns: [
                    {
                        prop: 'dealName',
                        label: 'deals.Deal_Name',
                        minWidth: 200
                    },
                ],
                tableData: [],
                table: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
            //display required field
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
//open Add Modal
            openModal(name, deal) {
                this.modals[name] = true
            },
//Add Deal
            submit(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        //test if Deal exists in Deals list
                        this.tableData.forEach(em => {
                            //fill table with dealName to check if dealName exists
                            this.table.push(em.dealName)
                            if (this.table.includes(this.deal.dealName)) {
                                this.closeModal(name)
                                swal({
                                    type: 'error',
                                    html: this.$t('prmLevel.DealExist'),
                                    confirmButtonClass: 'btn btn-danger btn-fill',
                                    buttonsStyling: false
                                })
                            } else {//if dealName not exists add it
                                //close Modal
                                this.modals[name] = false
                                //url of add
                                axios.post(sharedUrl.CREATE_DEAL, this.deal).then(result => {
                                    if (result.data) {
                                        //display it in the top of list
                                        this.tableData.unshift(result.data)
                                        this.deal = {};
                                        swal({
                                            type: 'success',
                                            html: this.$t('deals.Deal_Added'),
                                            confirmButtonClass: 'btn btn-success btn-fill',
                                            buttonsStyling: false
                                        })
                                    }
                                })
                            }
                        })
                    }
                })
            },
//closeModal
            closeModal(name) {
                this.modals[name] = false
                this.deal = {};
            },
//open Modal of update
            openModalUpdate(name, deals, deal, id) {
                //object deal =row
                this.deal = deal
                //open modal centered
                this.modals[name] = true
            },

            //submit update
            submitUpdate(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        //close Modal update
                        this.modals[name] = false
                        //set the new dealName to the object this.deal and update it
                        axios.put(sharedUrl.UPDATE_DEAL + this.deal.id, this.deal).then(response => {
                            this.deal = {}
                            swal({
                                type: 'success',
                                html: this.$t('deals.Deal_Updated'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },


            //Delete Deal
            handleDelete(index, row, tableData) {
                let cnx = this
                swal({
                    title: this.$t('deals.Detele_Deal'),
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete("http://localhost:8765/evaluation/deal/delete/" + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: cnx.$t('deals.Deal_Deleted'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
        },

        mounted() {
            /* Display list of deals */
            axios.get("http://localhost:8765/evaluation/deal/all").then(response => {
                this.tableData = response.data;
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['dealName']})
            }, 500)
        }
    }
</script>
<style scoped>
</style>
