<template>
<div class ="style">
    <p>Merci d'appuyer sur ce lien pour l'activation de votre compte</p>
    <a href="" @click ="activate" v:onclick="notifyVue('top', 'right',$t('register.failure'),$t('register.Success') )">http://localhost:8081/admin/login</a>
</div>
</template>

<script>
import {notifyVue} from '../../../shared/notification'

export default {
  data() {
    return {
      
  
    }
  },
  methods: {
      activate(){
        this.$router.push({ name: 'login' })
        console.log("key : ", this.$route.query.key)
      },
  
    notifyVue  
  }
};
</script>

<style>
.style{
  text-align: center;
  margin-top: 60px
}
</style>
