<template>
  <auth-layout pageClass="register-page">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="header-text">
          <h2>Vue Light Bootstrap Dashboard PRO</h2>
          <h4>Register for free and experience the dashboard today</h4>
          <hr>
        </div>
      </div>
      <div class="col-md-5 ml-auto">
        <fade-render-transition :duration="200">
          <div class="media">
            <div class="media-left">
              <div class="icon">
                <i class="nc-icon nc-circle-09"></i>
              </div>
            </div>
            <div class="media-body">
              <h4>Free Account</h4>
              <p>Here you can write a feature description for your dashboard, let the users know what is the value that you give them.</p>
            </div>
          </div>
        </fade-render-transition>
        <fade-render-transition :delay="200" :duration="200">
          <div class="media">
            <div class="media-left">
              <div class="icon">
                <i class="nc-icon nc-preferences-circle-rotate"></i>
              </div>
            </div>
            <div class="media-body">
              <h4>Awesome Performances</h4>
              <p>Here you can write a feature description for your dashboard, let the users know what is the value that you give them.</p>
            </div>
          </div>
        </fade-render-transition>
        <fade-render-transition :delay="400" :duration="200">
          <div class="media">
            <div class="media-left">
              <div class="icon">
                <i class="nc-icon nc-planet"></i>
              </div>
            </div>
            <div class="media-body">
              <h4>Global Support</h4>
              <p>Here you can write a feature description for your dashboard, let the users know what is the value that you give them.</p>
            </div>
          </div>
        </fade-render-transition>
      </div>
      <div class="col-md-4 mr-auto">
        <form method="#" action="#" @submit.prevent="register">
          <card class="card-plain">
            <div>
              <fg-input type="text" v-model="user.firstName" placeholder="Your First Name"></fg-input>
              <fg-input type="text" v-model="user.lastName" placeholder="Your Last Name"></fg-input>
              <fg-input type="text" v-model="user.login" placeholder="Login"></fg-input>
              <fg-input type="email" v-model="user.email" placeholder="Email" ></fg-input>
              <fg-input type="password" v-model="user.password" placeholder="Password" ></fg-input>

            </div>
            <div class="text-center">
              <button type="submit"
            @click="notifyVue('top', 'right',$t('register.failure'),$t('register.Success') )"
               class="btn btn-fill btn-default btn-neutral btn-wd">Create Account</button>
            </div>
          </card>
        </form>
      </div>
    </div>
  </auth-layout>
</template>
<script>
  import { FadeRenderTransition } from '../../../../components/Transitions/FadeRenderTransition.vue'
  import AuthLayout from './AuthLayout'
import {notifyVue} from '../../../shared/notification'
import { required} from "vuelidate/lib/validators";

  export default {
    components: {
      FadeRenderTransition,
      AuthLayout
    },
     data() {
    return {

      user: {
        firstName: "",
        lastName: "",
        email:"",
        password:"",
        login:"",
        lang_key:"fr"
      },
      submitted: false
    }
  },
  validations: {
    user: {
      firstName: { required },
      lastName: { required },
      email: { required },
      password: { required },
      login: { required },
      lang_key:{required}
    }
  },

    methods: {
       register() {
       this.$v.$touch();
      if (this.$v.$invalid) {
        return;}
        else
      this.$store.dispatch('registerAction', {
        firstName: this.user.firstName,
        lastName: this.user.lastName,
        email: this.user.email,
        password : this.user.password,
        login: this.user.login

      })
        .then(response => {
          this.$router.push({ name: 'Login' })
        })
    },
    notifyVue,

      toggleNavbar () {
        document.body.classList.toggle('nav-open')
      },
      closeMenu () {
        document.body.classList.remove('nav-open')
        document.body.classList.remove('off-canvas-sidebar')
      }
    },
    beforeDestroy () {
      this.closeMenu()
    }
  }
</script>
<style>
</style>
