<template>
  <div class="row">
    <div class="col-12">
      <card>
        <div class="row" style="margin-top: -10px !important;">
          <div class="col-md-2 mr-2">
            <fg-input label="Packages"
            >
              <el-select name="pack"
                         class="select-default"
                         v-model="model.package">
                <el-option v-for="pack in packages"
                           :key="pack.name"
                           class="select-default"
                           :label="pack.name"
                           :value="pack.name">
                </el-option>
              </el-select>
            </fg-input>
          </div>
        </div>
        <div id="buttons" style="
    margin-left: 250px;

    margin-top: -60px;">
          <a v-if="this.model.idPack!==0"
             :href="'http://localhost:8765/evaluation/test/tests/excel?idPack='+this.model.idPack"><img
            style="width: 50px;margin-left: 20px;margin-right: 20px;" src="../images/excel.png"/>Export Xls</a>
          <a v-if="this.model.idPack!==0"
             :href="'http://localhost:8765/evaluation/test/tests/pdf?idPack='+this.model.idPack"><img
            style="width: 80px;" src="../images/pdf.png"/>Export PDF</a>
          <a v-if="this.model.idPack===0" :href="'http://localhost:8765/evaluation/test/alltests/pdf'"><img
            style="width: 80px;" src="../images/pdf.png"/>Export PDF</a>
          <a v-if="this.model.idPack===0" :href="'http://localhost:8765/evaluation/test/alltests/excel'"><img
            style="width: 50px;margin-left: 20px;margin-right: 20px;" src="../images/excel.png"/>Export Xls</a>
        </div>
        <button id="search" class="btn btn-primary" @click="Submit" style="margin-top: -95px;
                     margin-left: 750px;
                     width: 110px;
                     height: 39px"><i class="Submit"></i> {{$t('Search')}}
        </button>&nbsp;
        <div>
          <button v-if="this.model.idPack!==0" class="btn btn-primary" @click="Result"> {{$t('Result')}}</button>&nbsp;
        </div>
      </card>
      <card title="Tests">
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              :placeholder="$t('table.Per_page')"
              style="width: 200px"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },

            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length;
                return this.tableData.length
            }
        },
        data() {
            return {
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['candidateName', 'candidateEmail'],
                packSelect: [],
                model: {
                    idPack: 0,
                    package: '',
                    testid: '',
                    candidateName: '',
                    candidateEmail: '',
                    phoneNumber: '',
                    packageName: '',
                    creationDate: '',
                    state: null

                },
                tableColumns: [
                    {
                        prop: 'candidateName',
                        label: 'candidate.Name',
                        minWidth: 200
                    },
                    {
                        prop: 'candidateEmail',
                        label: 'candidate.Email',
                        minWidth: 200
                    },

                    {
                        prop: 'phoneNumber',
                        label: 'candidate.Phone',
                        minWidth: 200
                    },

                    {
                        prop: 'packageName',
                        label: 'candidate.Package',
                        minWidth: 200
                    },
                    {
                        prop: 'creationDate',
                        label: 'testcreate.Creation_Date',
                        minWidth: 200
                    },
                    {
                        prop: 'done',
                        label: 'testcreate.State',
                        minWidth: 200
                    }
                ],
                tableData: [],
                domains: [],
                packagesSelect: [],
                packages: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
            Result() {
                this.$router.push({path: 'test/done/' + this.model.idPack})
            },
            Stat() {
                this.$router.push({path: 'test/stat/' + this.model.idPack})
            },
            Submit() {
                this.tableData = []
                if (this.model.package === "Tout") {
                    this.model.idPack = 0
                    axios.get("http://localhost:8765/evaluation/company/findCompany?email=" + this.$store.state.username).then(response => {
                        axios.get("http://localhost:8765/evaluation/pack/all/" + response.data.id).then(response => {
                            this.packages = response.data
                            this.packages.push({"id": 0, "name": "Tout"})
                            this.packages.forEach(el => {
                                let model = {}
                                axios.get("http://localhost:8765/evaluation/test/allTests/" + el.id).then(response => {
                                    response.data.forEach(ell => {
                                        //model.testid=ell.testid
                                        model.candidateEmail = ell.candidate.user.email
                                        model.candidateName = ell.candidate.name
                                        model.phoneNumber = ell.candidate.phoneNumber
                                        model.packageName = ell.pack.name
                                        model.creationDate = ell.creationDate
                                        if (ell.done === "true") model.done = "Done"
                                        else model.done = "Not Done"
                                        this.tableData.push(model)
                                    })
                                })
                            })
                        })
                    })
                    setTimeout(() => {
                        this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'domain', 'email']})
                    }, 500)
                } else {
                    axios.get("http://localhost:8765/evaluation/pack/findByName?name=" + this.model.package).then(response => {
                        this.packSelect = response.data
                        this.packSelect.forEach(elll => {
                            this.model.idPack = elll.id
                            axios.get("http://localhost:8765/evaluation/test/allTests/" + elll.id).then(response => {
                                response.data.forEach(ell => {
                                    let model = {}
                                    //model.testid=ell.testid
                                    model.candidateEmail = ell.candidate.user.email
                                    model.candidateName = ell.candidate.name
                                    model.Tel = ell.candidate.phoneNumber
                                    model.packageName = ell.pack.name
                                    model.creationDate = ell.creationDate
                                    if (ell.done === "true") model.done = "Done"
                                    else model.done = "Not Done"
                                    this.tableData.push(model)
                                })
                            })
                        })
                    })
                }
            },
            /* Delete Company */
            handleDelete(index, row, tableData) {
                swal({
                    title: 'Do you Want to Delete this Test',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_COMPANY + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: 'Company Has Been Deleted',
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
        },
        mounted() {
            this.model.idPack = 0
            axios.get("http://localhost:8765/evaluation/company/findCompany?email=" + this.$store.state.username).then(response => {
                axios.get("http://localhost:8765/evaluation/pack/all/" + response.data.id).then(response => {
                    this.packages = response.data
                    this.packages.push({"id": 0, "name": "Tout"})
                    this.packages.forEach(el => {
                        let model = {}
                        axios.get("http://localhost:8765/evaluation/test/allTests/" + el.id).then(response => {
                            response.data.forEach(ell => {
                                //model.testid=ell.testid
                                model.candidateEmail = ell.candidate.user.email
                                model.candidateName = ell.candidate.name
                                model.packageName = ell.pack.name
                                model.creationDate = ell.creationDate
                                model.phoneNumber = ell.candidate.phoneNumber
                                if (ell.done === "true") model.done = "Done"
                                else model.done = "Not Done"
                                this.tableData.push(model)
                            })
                        })
                    })
                })
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'domain', 'email']})
            }, 500)
        }
    }
</script>
<style scoped>
</style>
