<template>
  <div class="row">
    <div class="col-12">
      <div v-if="loading==true" class="loader-overlay">
        <div class="loader"></div>
      </div>
      <card :title="'Package: '+this.pack.name">
        <div>
          <div class="row">
            <div class="col-2 mt-4 pt-1">
              <el-select
                class="select-default mb-3"
                placeholder="Per page"
                v-model="pagination.perPage">
                <el-option
                  :key="item"
                  :label="item"
                  :value="item"
                  class="select-default"
                  v-for="item in pagination.perPageOptions">
                </el-option>
              </el-select>
            </div>
            <div class="col-md-3 mr-1 mb-2">
              <fg-input :label="$t('testcreate.State')"
              >
                <el-select name="level"
                           class="select-default"
                           v-model="selectedCondition"
                           @change="changeState(selectedCondition)">
                  <el-option v-for="condition in conditions"
                             :selected="selectedCondition"
                             class="select-default"
                             :label="condition"
                             :value="condition"
                  >
                  </el-option>
                </el-select>
              </fg-input>
            </div>
            <div class="mt-4 pt-1">
              <el-input aria-controls="datatables"
                        class="mb-3"
                        :placeholder="$t('table.Search_records')"
                        style="width: 200px"
                        type="search"
                        v-model="searchQuery"/>
            </div>
            <div class="col-md-2  mt-4 pt-1">
              <button class="btn btn-social" v-if="selectedCondition.trim()==='Not Sent'" @click="sendToAll()">
                {{$t('testcreate.SendToAll')}}
              </button>
              <button class="btn btn-social" v-if="selectedCondition.trim()==='Not Done'" @click="remaindAll()">
                {{$t('testcreate.RemindAll')}}
              </button>
              <button class="btn btn-social" v-if="selectedCondition.trim()==='Expired'" @click="sendToAll()">
                {{$t('testcreate.ReactivateAll')}}
              </button>
            </div>
            <div class="col-2 mt-4 pt-4">
              <div style="float:right !important">
                <a :href="'http://localhost:8765/evaluation/test/done/excel?pack='+this.packid"
                   v-if="selectedCondition==='Done'"><img style="width: 30px;margin-left: 20px;margin-right: 20px;"
                                                          src="../images/excel1.png"/></a>
                <a :href="'http://localhost:8765/evaluation/test/done/pdf?pack='+this.packid"
                   v-if="selectedCondition==='Done'"><img style="width: 30px;"
                                                          src="../images/pdf1.png"/></a>
                <a v-if="selectedCondition==='All Tests'"
                   :href="'http://localhost:8765/evaluation/test/tests/excel?idPack='+this.packid"><img
                  style="width: 30px;margin-left: 20px;margin-right: 20px;"
                  src="../images/excel1.png"/></a>
                <a v-if="selectedCondition==='All Tests'"
                   :href="'http://localhost:8765/evaluation/test/tests/pdf?idPack='+this.packid"><img
                  style="width: 30px;"
                  src="../images/pdf1.png"/></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <el-table :data="queriedData"
                        border
                        stripe
                        style="width: 100%;"
              >
                <el-table-column :key="column.label"
                                 :label="$t(column.label)"
                                 :min-width="column.minWidth"
                                 :prop="column.prop"
                                 v-for="column in tableColumns">
                </el-table-column>
                <el-table-column label="score" v-if="selectedCondition==='Done'||selectedCondition===''"
                                 property="totalScore"></el-table-column>
                <el-table-column label="connaissances"
                                 v-if="selectedCondition==='Done' && score==true"
                                 property="connaissances"></el-table-column>
                <el-table-column label="logique" v-if="selectedCondition==='Done' && score==true"
                                 property="logique"></el-table-column>
                <el-table-column label="intelligence"
                                 v-if="selectedCondition==='Done' && score==true"
                                 property="intelligence"></el-table-column>
                <el-table-column label="duration" v-if="selectedCondition==='Done' && score==true"
                                 property="passageDuration"></el-table-column>
                <el-table-column :label="$t('package.Send')"
                                 v-if="selectedCondition==='All Tests'"
                                 property="send"></el-table-column>

                <el-table-column :label="$t('package.Expired')"
                                 v-if="selectedCondition==='All Tests'"
                                 property="expired"></el-table-column>

                <el-table-column :label="$t('package.Done')"
                                 v-if="selectedCondition==='All Tests'"
                                 property="done"></el-table-column>


                <el-table-column prop="id" label="Action"
                                 v-if="selectedCondition==='Done'||selectedCondition==='Not Sent'||selectedCondition==='Not Done'||selectedCondition==='Expired'">
                  <template scope="props">
                    <a id="send" class="btn-info btn-simple btn-link" v-if="selectedCondition==='Not Sent'"
                       @click="send(props.row)">
                      <img style="width:25px;height: 25px" src="../images/send.png"
                           v-tooltip.top-center="$t('testcreate.SendFor')+' '+props.row.candidateName"></a>
                    <a class="btn-info btn-simple btn-link" v-else-if="selectedCondition==='Not Done'"
                       style="opacity: 0.6" @click="resend(props.row)"
                    >
                      <img style="width:50px;height: 50px" :src="require('src/assets/images/rappelicon.png')"
                           v-tooltip.top-center=" $t('testcreate.Reminder') +' '+props.row.candidateName"
                      ></a>
                    <a class="btn-info btn-simple btn-link" v-else-if="selectedCondition==='Expired'"
                       style="opacity: 0.6" @click="send(props.row)"
                    >
                      <img style="width:40px;height: 40px" :src="require('src/assets/images/reactiver.png')"
                           v-tooltip.top-center=" $t('testcreate.Reactivate')+' '+props.row.candidateName"
                      ></a>
                    <a class="btn-info btn-simple btn-link"
                       v-else-if="selectedCondition==='Done'|| selectedCondition===''"
                       @click="handleDetails(props.row)" style="opacity: 0.6"
                    >
                      <img style="width:50px;height: 50px" src="../images/details.png"
                           v-tooltip.top-center=" $t('testcreate.MoreInformations') +' '+props.row.candidateName"
                      ></a>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">Showing {{from + 1}} to {{to}} of {{total}} entries</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
        <el-collapse class="mt-3" v-model="activeName">
          <el-collapse-item :title="$t('testcreate.InformationTest')" :name="name2">
            <card v-show="this.questions.length !==0">
              <p>{{$t('testcreate.ThisTestContains')}} {{this.questions.length}} questions
                {{$t('testcreate.OfDuration')}} {{this.duration/60}} minutes {{$t('testcreate.ComposedOf')}}: </p>
              <vue-tabs>
                <v-tab title="Technology" icon="nc-icon nc-single-copy-04">
              <span v-for="techno in prms.technos">
                <li>{{techno.technologyName}} : {{techno.occ}} questions</li>
              </span>

                </v-tab>
                <v-tab title="Categories" icon="nc-icon nc-circle-09">
                    <span v-for="cat in prms.cats">
                <li>{{cat.categoryName}} : {{cat.occ}} questions</li>
              </span>

                </v-tab>
                <v-tab title="Level" icon="nc-icon nc-ruler-pencil">
          <span v-for="level in prms.levels">
                <li>{{level.levelName}} : {{level.occ}} questions</li>
              </span>
                </v-tab>
                <v-tab title="Difficulty" icon="nc-icon nc-settings-90">
             <span v-for="diff in prms.diffs">
                <li>{{diff.difficultyName}} : {{diff.occ}} questions</li>
              </span>
                </v-tab>
              </vue-tabs>
            </card>
          </el-collapse-item>
        </el-collapse>
      </card>
    </div>
  </div>
</template>
<script>
    import {Collapse, CollapseItem} from 'element-ui'
    import {Table, TableColumn, Select, Option} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from '../../../../shared/constantes/sharedUrl';

    export default {
        components: {
            [Collapse.name]: Collapse,
            [CollapseItem.name]: CollapseItem,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },

            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length;
                return this.tableData.length
            }
        },
        data() {
            return {
                loading: false,
                activeName: 1,
                name1: 1,
                name2: 0,
                score: false,
                duration: 0,
                questions: [],
                prms: {technos: [], cats: [], diffs: [], levels: []},
                show: false,
                pack: {},
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                conditions: ['Done', 'Not Done', 'Expired', 'Not Sent', 'All Tests'],
                selectedCondition: 'All Tests',
                searchQuery: '',
                propsToSearch: ['candidateName'],
                packSelect: [],
                allTests: [],
                tests: [],
                testScores: [],
                model: {
                    package: '',
                    testid: '',
                    candidateName: '',
                    candidateEmail: '',
                    phoneNumber: '',
                    packageName: '',
                    creationDate: '',
                    state: null,
                    done: '',
                },
                tableColumns: [
                    {
                        prop: 'candidateName',
                        label: 'candidate.Name',
                        minWidth: 100
                    },

                    {
                        prop: 'phoneNumber',
                        label: 'candidate.Phone',
                        minWidth: 75
                    },
                ],
                tableData: [],
                domains: [],
                packagesSelect: [],
                packages: [],
                addedObj: {},
                packid: '',
                fuseSearch: null
            }
        },
        methods: {
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            sendToAll() {
                this.loading = true
                this.tableData.forEach(el => {
                    let cand = {}
                    let candToSend = {}
                    cand = this.allTests.filter(x => x.candidate.phoneNumber == el.phoneNumber)[0]
                    candToSend.test = cand
                    candToSend.candidateDto = cand.candidate
                    axios.post('http://localhost:8765/evaluation/test/send', candToSend).then(res => {
                        axios.get("http://localhost:8765/evaluation/compteEval/findCompte/" + this.$store.state.username).then((response) => {
                            axios.get("http://localhost:8765/evaluation/TestAccess/allUnusedAccess/" + response.data.id).then((result) => {
                                this.$store.dispatch('retrieveUnusedAccess', result.data)
                                this.$router.push('/company/test/package');
                            })
                        })
                    })
                })
            },
            remaindAll() {
                this.loading = true
                this.tableData.forEach(el => {
                    let cand = {}
                    let candToSend = {}
                    cand = this.allTests.filter(x => x.candidate.phoneNumber == el.phoneNumber)[0]
                    candToSend.test = cand
                    candToSend.candidateDto = cand.candidate
                    axios.post('http://localhost:8765/evaluation/test/resend', candToSend).then(res => {
                        this.$router.push('/company/test/package');
                    })
                })
            },
            changeState(selectedCondition) {
                this.tableData = []
                if (selectedCondition.trim() === "Not Done") {
                    this.tableData = this.tests
                }
                if (selectedCondition.trim() === "Not Done") {
                    this.tableData = this.tests.filter(el => el.send === "Envoyé" && el.done === "Not Done" && el.expired === "Non Expiré")
                }
                if (selectedCondition.trim() === "Not Sent") {
                    this.tableData = this.tests.filter(el => el.send === "Non Envoyé")
                }
                if (selectedCondition.trim() === "Expired") this.tableData = this.tests.filter(el => el.send === "Envoyé" && el.done === "Not Done" && el.expired === "Expiré")
                if (selectedCondition.trim() === "Done") {
                    this.tableData = this.tests.filter(el => el.done === "Done")
                    this.tableData.forEach(el => {
                        axios.get('http://localhost:8765/evaluation/test/getScoresByCategory/' + el.testid).then(res => {
                            if (res) {
                                this.score = true
                                if (res.data[0]) {
                                    el.connaissances = res.data[0].score.toFixed(2) + "%"
                                } else el.connaissances = "Not Found";
                                if (res.data[1]) {
                                    el.logique = res.data[1].score.toFixed(2) + "%"
                                } else el.logique = "Not Found"
                                if (res.data[2]) {
                                    el.intelligence = res.data[2].score.toFixed(2) + "%"
                                } else el.intelligence = "Not Found"
                                this.show = true
                            }
                        })
                    })
                }
                if (selectedCondition.trim() === "All Tests") {
                    this.tableData = this.tests
                }
            },
            send(candidate) {
                this.loading = true
                let cand = {}
                let candToSend = {}
                cand = this.allTests.filter(x => x.candidate.phoneNumber == candidate.phoneNumber)[0]
                candToSend.test = cand
                candToSend.candidateDto = cand.candidate
                axios.post('http://localhost:8765/evaluation/test/send', candToSend).then(res => {
                    axios.get("http://localhost:8765/evaluation/compteEval/findCompte/" + this.$store.state.username).then((response) => {
                        axios.get("http://localhost:8765/evaluation/TestAccess/allUnusedAccess/" + response.data.id).then((result) => {
                            this.$store.dispatch('retrieveUnusedAccess', result.data)
                            this.$router.push('/company/test/package');
                        })
                    })
                })
            },
            resend(candidate) {
                this.loading = true
                let cand = {}
                let candToSend = {}
                cand = this.allTests.filter(x => x.candidate.phoneNumber == candidate.phoneNumber)[0]
                candToSend.test = cand
                candToSend.candidateDto = cand.candidate
                axios.post('http://localhost:8765/evaluation/test/resend', candToSend).then(res => {
                    this.$router.push('/company/test/package');
                })
            },
            sedondsToTime(secs) {
                var sec_num = parseInt(secs, 10)
                var hours = Math.floor(sec_num / 3600)
                var minutes = Math.floor(sec_num / 60) % 60
                var seconds = sec_num % 60
                return [hours, minutes, seconds]
                    .map(v => v < 10 ? "0" + v : v)
                    .filter((v, i) => v !== "00" || i > 0)
                    .join(":")
            },
            /* Delete Company */
            handleDelete(index, row, tableData) {
                swal({
                    title: 'Do you Want to Delete this Test',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_COMPANY + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: 'Company Has Been Deleted',
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },
            handleDetails(row) {
                this.$router.push("/company/test/details/" + row.testid)
            },
            userExists(arr, prmTechnology) {
                return arr.some(function (el) {
                    return el.prmTechnology === prmTechnology;
                });
            },
            getPrms(arr, prmsArg) {
                prmsArg.technos = [arr[0].prmTechnology]
                prmsArg.levels = [arr[0].prmLevel]
                prmsArg.diffs = [arr[0].prmDifficulty]
                prmsArg.cats = [arr[0].prmCategory]
                for (let i = 1; i < arr.length; i++) {
                    // compare by existance use includes for exemple
                    if (prmsArg.technos.filter(e => e.id === arr[i].prmTechnology.id).length == 0) prmsArg.technos.push(arr[i].prmTechnology)
                    if (prmsArg.levels.filter(e => e.id === arr[i].prmLevel.id).length == 0) prmsArg.levels.push(arr[i].prmLevel)
                    if (prmsArg.diffs.filter(e => e.id === arr[i].prmDifficulty.id).length == 0) prmsArg.diffs.push(arr[i].prmDifficulty)
                    if (prmsArg.cats.filter(e => e.id === arr[i].prmCategory.id).length == 0) prmsArg.cats.push(arr[i].prmCategory)
                }
            },
            countOcc(prms, arr) {
                prms.technos.forEach(el => {
                    el.occ = (arr.filter(x => x.prmTechnology.id === el.id).length)
                })
                prms.diffs.forEach(el => {
                    el.occ = (arr.filter(x => x.prmDifficulty.id === el.id).length)
                })
                prms.levels.forEach(el => {
                    el.occ = (arr.filter(x => x.prmLevel.id === el.id).length)
                })
                prms.cats.forEach(el => {
                    el.occ = (arr.filter(x => x.prmCategory.id === el.id).length)
                })
            }
        },
        mounted() {
            this.packid = this.$route.params.packid
            axios.get('http://localhost:8765/evaluation/test/rangCandidate?idPack=' + this.$route.params.packid).then(res => {
                this.testScores = res.data
                this.$store.dispatch('retrieveTestScores', this.testScores)
            })
            axios.get('http://localhost:8765/evaluation/pack/find/' + this.$route.params.packid).then(res => {
                this.pack = res.data
            })
            axios.get("http://localhost:8765/evaluation/test/allTests/" + this.packid).then(response => {
                axios.post('http://localhost:8765/evaluation/testQuestion/find/' + response.data[0].testid).then(res => {
                    res.data.forEach(
                        el => {
                            this.questions.push(el.question)
                        })
                    if (this.questions) {
                        this.getPrms(this.questions, this.prms)
                        this.countOcc(this.prms, this.questions)
                    }
                })
                this.allTests = response.data
                response.data.forEach(ell => {
                    let model = {}
                    if (ell.send === true) model.send = "Envoyé"
                    else model.send = "Non Envoyé"
                    if (ell.expired === true) model.expired = "Expiré"
                    else model.expired = "Non Expiré"
                    model.candidateName = ell.candidate.name
                    model.totalScore = ell.totalScore + '%'
                    model.testid = ell.testid
                    this.duration = ell.testDuration
                    model.passageDuration = this.sedondsToTime(ell.passageDuration) + " / " + this.sedondsToTime(ell.testDuration)
                    model.phoneNumber = ell.candidate.phoneNumber
                    model.packageName = ell.pack.name
                    model.creationDate = ell.creationDate
                    if (ell.done == false) {
                        model.done = "Not Done"
                    } else if (ell.done == true) {
                        model.done = "Done"
                    }
                    this.tests.push(model)
                })
                if (this.tests) {
                    this.tableData = this.tests
                }
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['candidateName', 'domain', 'email', 'expired']})
            }, 700)
        }
    }
</script>
<style lang="scss" scoped>
  .loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    cursor: pointer;

    span.text {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }

    .loader {
      animation: loader-animate 1.5s linear infinite;
      clip: rect(0, 80px, 80px, 40px);
      height: 80px;
      width: 80px;
      position: absolute;
      left: calc(50% - 40px);
      top: calc(50% - 40px);

      &:after {
        animation: loader-animate-after 1.5s ease-in-out infinite;
        clip: rect(0, 80px, 80px, 40px);
        content: '';
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: absolute;
      }
    }

    @keyframes loader-animate {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(220deg)
      }
    }
    @keyframes loader-animate-after {
      0% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(-140deg);
      }
      50% {
        box-shadow: inset #fff 0 0 0 2px;
      }
      100% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(140deg);
      }
    }
  }

  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px; */
    /* borderbottom: 1px solid #EBEEF5;*/
  }
</style>
