<template>

  <div class="row">
    <div class="col-12">

      <div class="row mt-2 justify-content-between ">
        <div class="card col-4 w-75">
          <h3 class="card-title mt-4 text-center">{{$t('stat.Percentage_Duration_Interval')}}</h3>
          <highcharts :options="chartOptions"></highcharts>
        </div>
        <div class="card col-4 w-75">
          <h3 class="card-title mt-4 text-center">{{$t('stat.Percentage_Score_Interval')}}</h3>
          <highcharts :options="chartOptions1"></highcharts>
        </div>
        <div class="card col-4 w-75">
          <h3 class="card-title mt-4 text-center">{{$t('stat.Test_State')}}</h3>
          <highcharts :options="chartOptions3"></highcharts>
        </div>
      </div>
      <div class="row mt-4 justify-content-center justify-content-around">
        <div class="card col-5 ">
          <h3 class="card-title mt-4 text-center">{{$t('stat.Average_Technology')}}</h3>
          <highcharts class="mt-4 pt-1" :options="chartOptions2"></highcharts>
        </div>
        <div class="card col-5 ">
          <div class="row">
            <span class="card-title mt-4 text-center ml-3">{{$t('stat.Top_Candidates')}}          </span>
            <!--                <div>-->
            <fg-input label="Top" class="pl-5 ml-5"
            >
              <input
                name="Top"
                type="number"
                style="width: 200px"
                v-model="model.top"
                class="form-control"
                @change="validate(totalCandidates)"
              >
              </input>
            </fg-input>
            <!--              </div>-->
          </div>
          <highcharts :options="chartOptions4"></highcharts>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import axios from "axios";
    import swal from 'sweetalert2'
    import {Chart} from 'highcharts-vue'
    import {Pagination as LPagination} from "../../../../components";
    import {Option, Select, Table, TableColumn} from "element-ui";
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            highcharts: Chart,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        data() {
            return {
                chartOptions: {
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    credits: {
                        enabled: false
                    },
                    title: false,
                    tooltip: {
                        pointFormat: '{series.name}:<b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        Pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',

                        data: [{
                            data: []
                        }]
                    }]
                },
                chartOptions1: {
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    credits: {
                        enabled: false
                    },
                    title: false,
                    tooltip: {
                        pointFormat: '{series.name}:<b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        Pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',

                        data: [{
                            data: []
                        }]
                    }]
                },
                chartOptions2: {
                    chart: {
                        type: "column"
                    },
                    credits: {
                        enabled: false
                    },
                    title: false,
                    xAxis: {
                        type: "category"
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    series: [
                        {
                            data: []
                        }
                    ],

                },
                chartOptions3: {
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    credits: {
                        enabled: false
                    },
                    title: false,
                    tooltip: {
                        pointFormat: '{series.name}:<b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        Pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',

                        data: [{
                            data: []
                        }
                        ]
                    }]
                },
                chartOptions4: {
                    chart: {
                        type: "column"
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {enabled: false},
                    xAxis: {type: "category"},
                    yAxis: {type: 'value'},
                    series: [
                        {
                            type: 'column',
                            data: [
                                {
                                    name: '',
                                    value: '',
                                    data: []
                                }
                            ]
                        }
                    ],
                    credits: {
                        enabled: false
                    },
                    title: false,
                },
                model: {
                    package: '',
                    top: '',
                    pack: ''
                },
                datax: [],
                datay: [],
                packages: [],
                showStatistics: false,
                packid: '',
                totalCandidates: ''
            }
        },
        mounted() {
            this.packid = this.$route.params.packid
            axios.get("http://localhost:8765/evaluation/test/allTests/" + this.packid).then(response => {
                let tests = response.data.filter(el => el.done == true)
                let length = tests.length
                if (tests) this.totalCandidates = tests.length;

            })
            axios.get("http://localhost:8765/evaluation/test/DurationInterval?idPack=" + this.packid).then(response => {
                this.chartOptions.series[0].data = []
                let arr = response.data.filter(el => el.value !== 0)
                arr.forEach(ell => {
                    this.chartOptions.series[0].data.push({
                        "name": ell.intervalName,
                        "y": ell.value
                    })
                })
            })
            axios.get(sharedUrl.GET_INTERVAL_STAT + "?idPackage=" + this.packid).then((response) => {
                let arr = response.data.filter(el => el.pourcentage != 0)
                this.chartOptions1.series[0].data = []
                arr.forEach(el => {
                    this.chartOptions1.series[0].data.push({
                        "name": el.name,
                        "y": el.pourcentage
                    })
                })
            })
            axios.get(sharedUrl.GET_AVG_TECH + "?idPackage=" + this.packid).then((response) => {
                response.data.forEach(el => {
                    el.moyenne = Number(el.moyen.toFixed(2))
                })
                this.chartOptions2.series[0].data = []
                response.data.forEach(el => {
                    this.chartOptions2.series[0].data.push({
                        "name": el.name,
                        "y": el.moyenne
                    })
                })
            })
            axios.get("http://localhost:8765/evaluation/test/PercentageDone?idPack=" + this.packid).then(response => {
                this.chartOptions3.series[0].data = []
                response.data.forEach(ell => {
                    this.chartOptions3.series[0].data.push({
                        "name": ell.name,
                        "y": ell.value
                    })
                })
            })
            axios.get("http://localhost:8765/evaluation/test/topcandidate?idPack=" + this.packid + "&number=" + 1).then(response => {
                this.chartOptions4.series[0].data = []
                if (response) {
                    this.showStatistics = true
                }
                response.data.forEach(ell => {
                    this.chartOptions4.series[0].data.push({
                        "name": ell.candidateName,
                        "y": ell.score
                    })
                })
            })
        },
        methods: {
            validate(length) {
                axios.get("http://localhost:8765/evaluation/test/topcandidate?idPack=" + this.packid + "&number=" + this.model.top).then(response => {
                    this.chartOptions4.series[0].data = []
                    if (response) {
                        this.showStatistics = true
                    }
                    response.data.forEach(ell => {
                        this.chartOptions4.series[0].data.push({
                            "name": ell.candidateName,
                            "y": ell.score
                        })
                    })
                }).catch(error => {
                        this.model.top = length
                        axios.get("http://localhost:8765/evaluation/test/topcandidate?idPack=" + this.packid + "&number=" + this.model.top).then(response => {
                            this.chartOptions4.series[0].data = []
                            if (response) {
                                this.showStatistics = true
                            }
                            response.data.forEach(ell => {
                                this.chartOptions4.series[0].data.push({
                                    "name": ell.candidateName,
                                    "y": ell.score
                                })
                            })
                        })
                        swal({
                            type: 'error',
                            html: 'Vous n`avez que ' + length + ' candidats',
                            confirmButtonClass: 'btn btn-danger btn-fill',
                            buttonsStyling: false
                        })
                    }
                )
            }
        }
    }
</script>

<style scoped>
  h3 {
    color: #909399 !important;
    font-size: 20px;
  }

  span {
    color: #909399 !important;
    font-size: 20px;
  }
</style>


