<template>
  <div id="all">
    <div v-if="!this.showStatistics" class="loader-overlay">
      <div class="loader"></div>
    </div>
    <div>
      <card v-if="this.showStatistics" style="padding:0px !important;">
        <div class="card" style="padding:0px !important;">
          <div class="card-body" style="background-color:#32588D;padding: 0px ">
              <span class="ml-4"
                    style="font-family:'Helvetica'; font-weight: 700 ;color:white; font-size:32px; padding:0px">  <img
                style="width:50px;height: 50px ;margin-right:10px; margin-bottom:10px; margin-top:10px"
                src="../images/identity-card-icon.png"
              />{{$t('testcreate.Informationcandidat')}}</span>
          </div>
        </div>
        <div class="row ml-5" style="margin-top:-10px; margin-bottom: 30px;">
          <div class="col-md-6"><span class="header mb-2">Name: </span><span
            class="resp"> {{this.info.candidateName}}</span><br><br>
            <span class="header mb-2">Email: </span> <span class="resp">{{this.info.candidateEmail}}</span>
          </div>
          <div class="col-md-6">
            <span class="header mb-2">{{$t('candidate.Phone')}} </span><span
            class="resp">{{this.info.candidatePhone}}</span><br><br>
            <span class="header mb-2">Score: </span><span class="resp">{{this.info.scoreTotal}}</span><br><br>
          </div>
          <div class="col-md-6">
            <span class="header mb-2 ">Rang: </span><span class="resp">{{this.rang}}/{{this.scoresTable.length}}</span>
          </div>
        </div>
      </card>
    </div>
    <div v-if="this.showStatistics" class="row justify-content-center justify-content-between">
      <div id="high1" v-if="this.showStatistics" class="card col-4">
        <h3 class="card-title mt-4 text-center">{{$t('stat.Score_Category')}}</h3>
        <highcharts v-if="this.showStatistics" style="position: relative" :options="chartOptions"></highcharts>
      </div>
      <div class="card col-4">
        <h3 class="card-title mt-4 text-center">{{$t('stat.Score_Difficulty')}}</h3>
        <highcharts v-if="this.showStatistics" :options="chartOptions2"></highcharts>
      </div>
      <div class="card col-4">
        <h3 class="card-title mt-4 text-center">{{$t('stat.Score_Technology')}}</h3>
        <highcharts v-if="this.showStatistics" :options="chartOptions3"></highcharts>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="card" style="padding:0px !important; border: none !important">
          <div class="card-body">
            <p class="ml-1 padding: 10px"><span style="font-weight: 700; color:#3C4858;">Connaissance:</span>
              La mesure de cette compétence permet de déterminer l’expérience du candidat dans la pratique d’un langage
              de programmation.
              <br><span style="font-weight: 700; color:green;">=> </span>Privilégiez cette compétence si, par exemple,
              vous cherchez un développeur qui devra être rapidement opérationnel.
            </p>
            <p class="ml-1 padding: 10px"><span style="font-weight: 700; color:#3C4858;"> Intelligence : </span>
              cette mesure fournit une indication sur la capacité du candidat à appliquer des solutions standard pour
              résoudre des problèmes récurrents. Un développeur ayant un bon niveau dans cette compétence augmente la
              qualité (maintenabilite, évolutivité) de vos applications. Cette compétence ne dépend pas spécifiquement
              d’une technologie.
              <br> <span style="font-weight: 700; color:green;">=> </span>Privilégiez cette compétence si, par exemple,
              vous cherchez un qui sera amené a travaillé sur les briques qui structurant vos applications, à anticiper
              les problèmes de demain pour développer des solutions pérennes
            </p>
            <p class="ml-1 padding: 10px"><span style="font-weight: 700; color:#3C4858;">Logique :  </span>
              cette compétence correspond aux aptitudes du candidat à comprendre et à structurer son raisonnement pour
              trouver des solutions à des problèmes complexes. Cette compétence ne dépend pas specifiquement d’une
              technologie.
              <br> <span style="font-weight: 700; color:green;">=> </span>Privilégiez cette compétence si, par exemple,
              vos applications ont une composante technique importante(R&D, innovation)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12" v-if="this.showStatistics">
        <card style="padding: 10px !important; border: none !important">
          <card v-for="(QuestionResponse,index) in tableData" style="border: none !important">
            <div class="card" style="padding:0px !important; border: none !important">
              <div class="card-body" style="background-color:#32588D;padding: 0px; border:1px solid black">
                <span class="ml-1" style="font-family:Arvo; font-weight: 600 ;color:white; font-size:25px; padding:0px"> Question {{index+1}}/{{tableData.length}} : {{QuestionResponse.technologyName}} </span>
              </div>
            </div>
            <template>
              <!-- Two-way Data-Binding -->
              <codemirror class="mt-2" v-model="QuestionResponse.code" v-if="QuestionResponse.code!==''"
                          :options="cmOptions "
              />
            </template>
            <p class="ml-2" style="font-family: 'Arial' ; font-size: 25px ; color:#5E5E5C">
              <span style="font-weight: 700; color:#3C4858;"> {{$t('question.Statement')}}:</span>{{QuestionResponse.statement}}
            </p>
            <div class="mt-4 ml-5">
              <checkbox id="rep1" name="rep1" v-model="QuestionResponse.response1.checked" disabled="true"><span
                style="font-family:Calibri; font-size: 20px"
                :style="QuestionResponse.response1.correct ? 'color:green':'color:red'">{{QuestionResponse.response1.value}}</span>
              </checkbox>
              <checkbox id="rep2" name="rep2" v-model="QuestionResponse.response2.checked" disabled="true"><span
                style="font-family:Calibri; font-size: 20px"
                :style="QuestionResponse.response2.correct ? 'color:green':'color:red'">{{QuestionResponse.response2.value}}</span>
              </checkbox>
              <checkbox id="rep3" name="rep3" v-model="QuestionResponse.response3.checked" disabled="true"><span
                style="font-family:Calibri; font-size: 20px"
                :style="QuestionResponse.response3.correct ? 'color:green':'color:red'">{{QuestionResponse.response3.value}}</span>
              </checkbox>
              <checkbox id="rep4" name="rep4" v-model="QuestionResponse.response4.checked" disabled="true"><span
                style="font-family:Calibri; font-size: 20px"
                :style="QuestionResponse.response4.correct ? 'color:green':'color:red'">{{QuestionResponse.response4.value}}</span>
              </checkbox>
              <p class="ml-2" style="font-family: 'Arial' ; font-size: 25px">
                <span
                  style="font-weight: 700 ;margin-left:-46px ;color:#3C4858;"> {{$t('testcreate.Result')}}: </span><span
                :style="QuestionResponse.result=='Succès'? 'color:green':'color:red' ">{{QuestionResponse.result}}</span>
              </p>
            </div>
          </card>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
    import {HourGlass} from 'vue-loading-spinner'
    import {Chart} from 'highcharts-vue'
    import Highcharts from 'highcharts'
    import offlineExporting from "highcharts/modules/offline-exporting"
    import {Checkbox} from "../../../../components";


    import {Pagination as LPagination} from "../../../../components";
    import {Option, Select, Table, TableColumn} from "element-ui";
    import axios from "axios";
    import {codemirror} from 'vue-codemirror'

    import 'codemirror/lib/codemirror.css'
    import jsPDF from "jspdf";

    import 'codemirror/mode/javascript/javascript.js'
    import 'codemirror/theme/base16-dark.css';
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    offlineExporting(Highcharts)
    export default {
        fallbackToExportServer: false,
        components: {
            Checkbox,
            highcharts: Chart,
            HourGlass,
            codemirror,
            Checkbox,
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        data() {
            return {
                loading: false,
                showStatistics: false,
                tableData: [],
                cmOptions: {
                    readOnly: 'nocursor',
                    mode: 'text/javascript',
                    theme: 'base16-dark',
                    lineNumbers: true,
                    line: true,
                },
                chartOptions: {
                    chart: {
                        type: "column"
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        type: "category"
                    },
                    yAxis: {
                        min: 0,
                        type: 'value',
                    },
                    series: [
                        {
                            type: 'column',
                            data: [
                                {
                                    name: '',
                                    value: '',
                                    data: []
                                }
                            ]
                        }
                    ],
                    credits: {
                        enabled: false
                    },
                    title: false,
                },
                datax: [],
                datay: [],
                packages: [],
                chartOptions2: {
                    chart: {
                        type: "column"
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        type: "category"
                    },
                    yAxis: {
                        min: 0,
                        type: 'value',
                    },
                    series: [
                        {
                            type: 'column',
                            data: [
                                {
                                    name: '',
                                    value: '',
                                    data: []
                                }
                            ]
                        }
                    ],
                    credits: {
                        enabled: false
                    },
                    title: false,
                },
                model: {
                    package: '',
                    top: '',
                    pack: ''
                },
                datax: [],
                datay: [],
                packages: [],
                info: {
                    candidateName: '',
                    candidateEmail: '',
                    candidatePhone: '',
                    scoreTotal: ''
                },
                chartOptions3: {
                    chart: {
                        type: "column"
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        type: "category"
                    },
                    yAxis: {
                        min: 0,
                        type: 'value',
                    },
                    series: [
                        {
                            type: 'column',
                            data: [
                                {
                                    name: '',
                                    value: '',
                                    data: []
                                }
                            ]
                        }
                    ],
                    credits: {
                        enabled: false
                    },
                    title: false,
                },
                info: {
                    candidateName: '',
                    candidateEmail: '',
                    candidatePhone: '',
                    scoreTotal: ''
                },
                scoresTable: [],
                rang: '',
                testid: ''
            }
        },
        mounted() {
            this.testid = this.$route.params.testid
            this.scoresTable = this.$store.state.testScores
            let i = 0;
            while (i < this.scoresTable.length) {
                if ((this.scoresTable[i].testid) == this.testid) {
                    let j = 0
                    if (i == 0) {
                        j = 0
                    } else {
                        j = i - 1;
                    }
                    if (this.scoresTable[i].score === this.scoresTable[j].score) {
                        this.rang = j + 1;
                    } else {
                        this.rang = i + 1;
                    }
                } else console.log("terminé")
                i = i + 1
            }
            axios.get("http://localhost:8765/evaluation/test/findOne?idTest=" + this.testid).then(response => {
                axios.post("http://localhost:8765/evaluation/scoreCateg/findScorePerCategory", response.data).then(responsee => {
                    this.chartOptions.series[0].data = []
                    responsee.data.forEach(el => {
                        this.chartOptions.series[0].data.push({
                            "name": el.categoryName,
                            "y": Number(el.scoreCategory.toFixed(2))
                        })
                    })
                })
                axios.post("http://localhost:8765/evaluation/scoreDifficulty/findScorePerDifficulty", response.data).then(responsee => {
                    this.chartOptions2.series[0].data = []
                    responsee.data.forEach(el => {
                        this.chartOptions2.series[0].data.push({
                            "name": el.difficultyName,
                            "y": Number(el.scoreDifficulty.toFixed(2))
                        })
                    })
                })
                axios.post("http://localhost:8765/evaluation/scoreTechnology/findScorePerTechnology", response.data).then(responsee => {
                    this.chartOptions3.series[0].data = []
                    responsee.data.forEach(el => {
                        this.chartOptions3.series[0].data.push({
                            "name": el.technologyName,
                            "y": Number(el.scoreTechnology.toFixed(2))
                        })
                    })
                })
            })
            axios.get(sharedUrl.GET_RESULT_DETAIL + this.testid).then((response) => {
                response.data.forEach(el => {
                    if (response) {
                        this.showStatistics = true
                    }
                    let q = {};
                    q.statement = el.statement
                    this.info.candidateName = el.candidateName
                    this.info.candidatePhone = el.candidatePhone
                    this.info.candidateEmail = el.candidateEmail
                    this.info.scoreTotal = el.scoreTotal
                    q.technologyName = el.technologyname
                    q.code = el.code
                    q.result = el.result;
                    q.response1 = {}
                    q.response1.value = el.resultResponseDtoList[0].value
                    q.response1.correct = el.resultResponseDtoList[0].correct
                    q.response1.checked = el.resultResponseDtoList[0].checked
                    q.response2 = {}
                    q.response2.value = el.resultResponseDtoList[1].value
                    q.response2.correct = el.resultResponseDtoList[1].correct
                    q.response2.checked = el.resultResponseDtoList[1].checked
                    q.response3 = {}
                    q.response3.value = el.resultResponseDtoList[2].value
                    q.response3.correct = el.resultResponseDtoList[2].correct
                    q.response3.checked = el.resultResponseDtoList[2].checked
                    q.response4 = {}
                    q.response4.value = el.resultResponseDtoList[3].value
                    q.response4.correct = el.resultResponseDtoList[3].correct
                    q.response4.checked = el.resultResponseDtoList[3].checked
                    q.result = this.getResult(q)
                    this.tableData.push(q);
                })
            })
            axios.get(sharedUrl.GET_RESULT_DETAIL + this.testid).then((response) => {
            })
        },
        methods: {
            getResult(q) {
                if (q.response1.correct == q.response1.checked && q.response2.correct == q.response2.checked && q.response3.correct == q.response3.checked && q.response4.correct == q.response4.checked) return "Succès"
                else return "Echec"
            },
            download() {
                const doc = new jsPDF();
                const contentHtml = document.getElementById("all").innerHTML
                doc.fromHTML(contentHtml, 25, 25, {
                    width: 170
                });
                doc.save("sample.pdf");
            }
        }
    }
</script>

<style lang="scss" scoped>
  .loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    cursor: pointer;

    span.text {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }

    .loader {
      animation: loader-animate 1.5s linear infinite;
      clip: rect(0, 80px, 80px, 40px);
      height: 80px;
      width: 80px;
      position: absolute;
      left: calc(50% - 40px);
      top: calc(50% - 40px);

      &:after {
        animation: loader-animate-after 1.5s ease-in-out infinite;
        clip: rect(0, 80px, 80px, 40px);
        content: '';
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: absolute;
      }
    }

    @keyframes loader-animate {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(220deg)
      }
    }
    @keyframes loader-animate-after {
      0% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(-140deg);
      }
      50% {
        box-shadow: inset #fff 0 0 0 2px;
      }
      100% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(140deg);
      }
    }
  }

  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px; */
    /* borderbottom: 1px solid #EBEEF5;*/
  }
</style>

<style scoped>
  .form-check.disabled .form-check-label {
    color: #9A9A9A;
    opacity: 1;
    cursor: pointer;
    font-size: 20px;
  }

  .header {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    font-family: Calibri;
    color: #3C4858;
  }

  .resp {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    font-family: Calibri;
    color: #5E5E5C;
  }

  .card .card-body {
    padding: 0px 0px 0px 0px;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    /*padding: -1.2rem;*/
    border: none;
  }
</style>
