<template>
  <div class="row">
    <div class="col-12">
      <card title="Done Tests">
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              :placeholder="$t('table.Per_page')"
              style="width: 200px"
              v-model="pagination.perPage">
              <el-option
                :key="item"
                :label="item"
                :value="item"
                class="select-default"
                v-for="item in pagination.perPageOptions">
              </el-option>
            </el-select>
            <div id="buttons" style="
    margin-left: 750px;

    margin-top: -40px;">
              <a :href="sharedUrl.EXPORT_DONE_TEST+'/done/excel?pack='+this.$route.params.packid"><img
                style="width: 50px;margin-left: 20px;margin-right: 20px;" src="../images/excel.png"/></a>
              <a :href="sharedUrl.EXPORT_DONE_TEST+'/done/pdf?pack='+this.$route.params.packid"><img
                style="width: 40px;" src="../images/pdfffff.png"/></a>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table :data="queriedData"
                      border
                      stripe
                      style="width: 100%;">
              <el-table-column :key="column.label"
                               :label="$t(column.label)"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               v-for="column in tableColumns">
              </el-table-column>
              <el-table-column
                :min-width="60"
                fixed="right"
                label="Actions">
                <template slot-scope="props">
                  <a class="btn-info btn-simple btn-link"
                     @click="handleDetails(props.$index, props.row)">
                    Details</a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap" slot="footer">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination :per-page="pagination.perPage"
                        :total="pagination.total"
                        class="pagination-no-border"
                        v-model="pagination.currentPage">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import sharedUrl from "../../../../shared/constantes/sharedUrl";

    export default {
        components: {
            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },

            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {
            return {
                sharedUrl,
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0,
                    categories: []
                },
                searchQuery: '',
                propsToSearch: ['name', 'value', 'email'],
                model: {
                    domain: ''
                },
                tableColumns: [
                    {
                        prop: 'Id',
                        label: 'Id',
                        minWidth: 100
                    },
                    {
                        prop: 'name',
                        label: 'candidate.Name',
                        minWidth: 100
                    },
                    {
                        prop: 'email',
                        label: 'candidate.Email',
                        minWidth: 200
                    },
                    {
                        prop: 'duration',
                        label: 'candidate.Duration',
                        minWidth: 70
                    },
                    {
                        prop: 'score',
                        label: 'candidate.Score',
                        minWidth: 50
                    },

                ],
                tableData: [],
                domains: [],
                addedObj: {},
                fuseSearch: null
            }
        },
        methods: {
            handleDetails(index, row) {
                this.$router.push("/company/test/details/" + row.testid)
            },
            registerCandidate() {
                this.$router.push({name: 'Candidate'})
            },
            Search() {
                if (this.model.domain === "Aucun") {
                    this.model.domain = '';
                }
                axios.get("http://localhost:8765/evaluation/candidate/paginationCandidate?" + "&domain=" + this.model.domain + "&size=" + this.pagination.perPage + "&page=" + ((this.pagination.currentPage) - 1)).then(result => {
                    result.data.content.forEach(el => {
                        if (el.user.email) {
                            el.email = el.user.email
                        }
                    })
                    this.tableData = result.data.content;
                })
                setTimeout(() => {
                    this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'email']})
                }, 500)
            },
            /* Delete Company */
        },
        mounted() {
            let packid = this.$route.params.packid
            axios.get(sharedUrl.GET_DONE_TEST + "?pack=" + packid).then(response => {
                response.data.forEach(el => {
                    el.Id = el.testid
                    el.name = el.candidate.name
                    el.email = el.candidate.user.email;
                    el.duration = el.passageDuration + " / " + el.testDuration
                    el.score = el.totalScore
                })
                this.tableData = response.data;
                this.domains.push('Aucun');
            })
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['name', 'email']})
            }, 500)
        }
    }
</script>
<style scoped>
  .card .card-title {
    margin: 0;
    color: #3C4858;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Merriweather;
    text-transform: capitalize;


  }

  .pagination .page-item.active .page-link {
    background-color: #55acee;
  }

  .el-table th > .cell {

    /* margin-left: 15px; */
    /*text-align: center;*/
    text-transform: capitalize;
    color: #3C4858;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 19px;
  }

  .el-table .cell {
    text-align: justify;
    /*margin-left: 50px;*/
    color: #5E5E5C;
    font-family: "Calibri Light";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .el-table td, .el-table th.is-leaf {
    /*border-radius: 10px; */
    /* borderbottom: 1px solid #EBEEF5;*/
  }

</style>

