<template>
  <div class="row">
    <div class="col-md-12">
    </div>
    <div class="col-12">
      <card :title="$t('prmLevel.Levels')">
        <el-dialog
          :title="$t('prmLevel.Edit_Level')"
          :visible.sync="modals.basic">
          <div class="form-group">
            <fg-input :label="$t('prmLevel.Level_Name')"
                      name="level Name"
                      v-validate="modelValidations.levelNameAdd"
                      v-model="prmLevel.levelName"
                      :error="getError('level Name')"
            >
            </fg-input>
          </div>
          <span slot="footer" class="dialog-footer">
              <button class="btn btn-danger" @click="closeModal('basic')">{{$t('button.Cancel')}}</button>&nbsp;
              <button class="btn btn-success" @click="submitUpdate('basic')">{{$t('button.Confirm')}}</button>
            </span>
        </el-dialog>
        <el-dialog
          center
          :title="$t('prmLevel.Add_Level')"
          :visible.sync="modals.centered">
          <div class="form-group">
            <fg-input :label="$t('prmLevel.Level_Name')"
                      name="levelName"
                      v-validate="modelValidations.levelName"
                      v-model="prmLevel.levelName"
                      :error="getError('levelName')"
            >
            </fg-input>
          </div>
          <button class="btn btn-danger" @click="closeModal('centered')">{{$t('button.Cancel')}}</button>&nbsp;
          <button class="btn btn-success" @click="submit('centered')">{{$t('button.Confirm')}}</button>
        </el-dialog>


        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-default mb-3"
              style="width: 200px"
              v-model="pagination.perPage"
              :placeholder="$t('table.Per_page')">
              <el-option
                class="select-default"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
            <div>
              <button class="btn btn-social  btn-twitter btn-round" style="float: left !important;margin-right: 10px"
                      @click="openModal('centered',tableData)">
                <i class="fa fa-plus"></i>
              </button>


              <el-input type="search"
                        class="mb-3"
                        style="width: 200px"
                        :placeholder="$t('table.Search_records')"
                        v-model="searchQuery"
                        aria-controls="datatables"/>
            </div>
          </div>
          <div class="col-sm-12">
            <el-table stripe
                      style="width: 100%;"
                      :data="queriedData"
                      border>
              <el-table-column v-for="column in tableColumns"
                               :key="column.label"
                               :min-width="column.minWidth"
                               :prop="column.prop"
                               :label="$t(column.label)">
              </el-table-column>
              <el-table-column
                :min-width="120"
                fixed="right"
                label="Actions">
                <template slot-scope="props">


                  <a v-tooltip.top-center="$t('Edit')" class="btn-warning btn-simple btn-link"
                     @click="openModalUpdate ('basic',tableData, props.row,props.$index)"><img style="width: 25px;"
                                                                                               :src="require('src/assets/images/edit.png')"/></a>
                  <a v-tooltip.top-center="$t('Delete')" class="btn-danger btn-simple btn-link"
                     @click="handleDelete(props.$index, props.row,tableData)"><img style="width: 25px;"
                                                                                   :src="require('src/assets/images/poubelle.png')"/></a>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div slot="footer" class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
          <div class="">
            <p class="card-category">{{$t('table.Showing')}} {{from + 1}} {{$t('table.to')}} {{to}} {{$t('table.of')}}
              {{total}} {{$t('table.entries')}}</p>
          </div>
          <l-pagination class="pagination-no-border"
                        v-model="pagination.currentPage"
                        :per-page="pagination.perPage"
                        :total="pagination.total">
          </l-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn, Select, Option, Dialog} from 'element-ui'
    import {Pagination as LPagination} from 'src/components'
    import Fuse from 'fuse.js'
    import axios from 'axios'
    import swal from 'sweetalert2'
    import sharedUrl from "../../../../shared/constantes/sharedUrl"
    import prmLevel from '../../../../models/prmLevel';


    export default {
        components: {
            [Dialog.name]: Dialog,

            LPagination,
            [Select.name]: Select,
            [Option.name]: Option,
            [Table.name]: Table,
            [TableColumn.name]: TableColumn
        },
        computed: {
            //displaying paginated Data
            pagedData() {
                return this.tableData.slice(this.from, this.to)
            },
            //displaying Data in tableData (all data or if there's a query displaying queriedData in tableData)
            queriedData() {
                let result = this.tableData
                if (this.searchQuery !== '') {
                    result = this.fuseSearch.search(this.searchQuery)
                    this.pagination.total = result.length
                }
                return result.slice(this.from, this.to)
            },
            to() {
                let highBound = this.from + this.pagination.perPage
                if (this.total < highBound) {
                    highBound = this.total
                }
                return highBound
            },
            from() {
                return this.pagination.perPage * (this.pagination.currentPage - 1)
            },
            total() {
                this.pagination.total = this.tableData.length
                return this.tableData.length
            }
        },
        data() {

            return {
                prmLevel: new prmLevel(),
                modals: {
                    basic: false,
                    centered: false,
                    custom: false,
                    confirm: false
                },
                level: {},
                modelValidations: {
                    levelName: {
                        required: true
                    },
                    levelNameAdd: {
                        required: true
                    },
                },
                pagination: {
                    perPage: 5,
                    currentPage: 1,
                    perPageOptions: [5, 10, 25, 50],
                    total: 0
                },
                searchQuery: '',
                propsToSearch: ['levelName'],
                tableColumns: [
                    {
                        prop: 'levelName',
                        label: 'prmLevel.Level_Name',
                        minWidth: 200
                    },
                ],
                tableData: [],
                fuseSearch: null,
                table: [],
                result: false
            }
        },
        methods: {
            //display required field
            getError(fieldName) {
                return this.errors.first(fieldName)
            },
            //open add modal
            openModal(name, deal) {
                this.modals[name] = true
            },
            //add a new level
            submit(name) {

                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.tableData.forEach(em => {
                            this.table.push(em.levelName)
                        });
                        if (this.table.includes(this.prmLevel.levelName)) {
                            this.closeModal(name)
                            swal({
                                type: 'error',
                                html: this.$t('prmLevel.LevelExist'),
                                confirmButtonClass: 'btn btn-danger btn-fill',
                                buttonsStyling: false
                            })
                        } else {
                            this.modals[name] = false
                            axios.post(sharedUrl.CREATE_LEVEL, this.prmLevel).then(result => {
                                if (result.data) {
                                    this.tableData.unshift(result.data)
                                    this.level = {};
                                    swal({
                                        type: 'success',
                                        html: this.$t('prmLevel.Level_Added'),
                                        confirmButtonClass: 'btn btn-success btn-fill',
                                        buttonsStyling: false
                                    })
                                }
                            })
                        }
                    }
                })
            },
            //close all modals(add and update)
            closeModal(name) {
                this.modals[name] = false
                this.level = {};
            },
            //open update modal
            openModalUpdate(name, levels, level, id) {
                this.level = level
                this.modals[name] = true
            },
            //update level
            submitUpdate(name) {
                return this.$validator.validateAll().then(res => {
                    if (res) {
                        this.modals[name] = false
                        axios.put(sharedUrl.UPDATE_LEVEL + this.level.id, this.level).then(response => {
                            this.level = {}
                            swal({
                                type: 'success',
                                html: this.$t('prmLevel.Level_Updated'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                })
            },

            //displaying all levels from database in tableData
            getData() {
                axios.get(sharedUrl.GET_LEVELS).then(response => {
                    this.tableData = response.data;
                })
            },

            //deleting a level from tableData (has an id and defined by row (row=level object))
            handleDelete(index, row, tableData) {
                let cntx = this
                swal({
                    title: this.$t('prmLevel.Delete_Level'),
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {
                        axios.delete(sharedUrl.DELETE_LEVEL + row.id).then((response) => {
                            tableData.splice(index, 1)
                            swal({
                                type: 'success',
                                html: cntx.$t('prmLevel.Level_Deleted'),
                                confirmButtonClass: 'btn btn-success btn-fill',
                                buttonsStyling: false
                            })
                        })
                    }
                }).catch(swal.noop)
            }
        },
//Displaying all levels
        mounted() {
            this.getData();
            setTimeout(() => {
                this.fuseSearch = new Fuse(this.tableData, {keys: ['levelName']})
            }, 500)
        }
    }
</script>
<style scoped>
</style>
