<template>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <div class="navbar-minimize">
        <button class="btn btn-outline btn-fill btn-round btn-icon d-none d-lg-block" @click="minimizeSidebar">
          <i :class="$sidebar.isMinimized ? 'fa fa-ellipsis-v' : 'fa fa-navicon'"></i>
        </button>
      </div>
      <a class="navbar-brand">{{this.$route.name}}</a>
      <button type="button"
              class="navbar-toggler navbar-toggler-right"
              :class="{toggled: $sidebar.showSidebar}"
              aria-expanded="false"
              @click="toggleSidebar">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="nav navbar-nav mr-auto">
        </ul>
        <template>
        </template>
        <drop-down style="width: 6rem;">
          <template slot="title"><span style="font-size: 14px; font-weight: 700 ; text-transform:uppercase"
                                       class="mr-1">{{language.label}}</span><img style="width: 22px;"
                                                                                  :src="language.img"/>
          </template>
          <span v-for="lang in langs">
          <a class="dropdown-item" @click="changeLanguage(lang)"><span
            style="font-size: 14px; font-weight: 700 ; text-transform:uppercase"
            class="mr-1">{{lang.label}}</span><img
            style="width: 22px;" :src="lang.img"/></a>
            </span>
        </drop-down>
        <a>
          <router-link class="dropdown-item text-danger" @click="logout" v-if="loggedIn"
                       :to="$i18nRoute({ name: 'Logout'})"><img style="width: 22px;"
                                                                :src="require('src/assets/images/logout.png')"
                                                                v-tooltip.top-center="$t('Logout')"/>
          </router-link>
        </a>
      </div>
    </div>
  </nav>
</template>
<script>
    import {i18n} from "../../../../plugins/i18n";
    import {Option, Select} from "element-ui";
    import {Trans} from "../../../../plugins/Translation";

    export default {
        components: {
            i18n,
            [Select.name]: Select,
            [Option.name]: Option
        },
        computed: {
            supportedLanguages() {
                return Trans.supportedLanguages
            },
            currentLanguage() {
                return Trans.currentLanguage
            },

            routeName() {
                const {name} = this.$route
                return this.capitalizeFirstLetter(name)
            },
            loggedIn() {
                return this.$store.getters.loggedIn
            }
        },
        data() {
            return {
                language: {label: 'fr', img: require('src/assets/images/fr.png')},
                activeNotifications: false,
                langs: [{label: 'fr', img: require('src/assets/images/fr.png')}, {
                    label: 'en',
                    img: require('src/assets/images/en.png')
                }]
            }
        },
        mounted() {
            this.$i18n.locale = 'fr'
        },
        methods: {
            changeLanguage(e) {
                this.language = e
                const lang = e.label

                const to = this.$router.resolve({params: {lang}})
                return Trans.changeLanguage(lang).then(() => {

                })
            },
            isCurrentLanguage(lang) {
                return lang === this.currentLanguage
            }
            ,
            logout() {
                this.$store.dispatch('destroyToken')
                    .then(response => {
                        this.$router.push({name: 'Login'})
                    })
            },
            capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1)
            },
            toggleNotificationDropDown() {
                this.activeNotifications = !this.activeNotifications
            },
            closeDropDown() {
                this.activeNotifications = false
            },
            toggleSidebar() {
                this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
            },
            hideSidebar() {
                this.$sidebar.displaySidebar(false)
            },
            minimizeSidebar() {
                this.$sidebar.toggleMinimize()
            }
        }
    }

</script>
<style scoped>
  .LanguageSwitcher {
    margin-bottom: 1rem;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 6rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
</style>
