<template>
  <auth-layout pageClass="login-page">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <form method="#" action="#" @submit.prevent="login">
          <fade-render-transition>
            <card>
              <div slot="header">
                <h3 class="card-title text-center">Login</h3>
              </div>
              <div>
                <fg-input label="Email address"
                          placeholder="Enter email"
                          type="text"
                          v-model="user.email">

                </fg-input>
                <fg-input label="passsword"
                          type="password"
                          placeholder="Password"
                          v-model="user.password">
                </fg-input>
                <fg-input>
                  <l-checkbox v-model="user.subscribe">
                    Subscribe to newsletter
                  </l-checkbox>
                </fg-input>
              </div>
              <div class="text-center">
                <button type="submit" @click="notifyVue('top', 'right',$t('Login.failure'),$t('Login.Success') )"
                        class="btn btn-fill btn-info btn-round btn-wd ">Login
                </button>
                <br>
                <div class="forgot">
                  <router-link to="/register" class="card-category">
                    Forgot your password?
                  </router-link>
                </div>
              </div>
            </card>
          </fade-render-transition>

        </form>
      </div>
    </div>
  </auth-layout>
</template>
<script>

    import {Checkbox as LCheckbox} from '../../../../components/index'
    import FadeRenderTransition from '../../../../components/Transitions/FadeRenderTransition'
    import AuthLayout from './AuthLayout.vue'
    import {notifyVue} from '../../../../shared/notification'
    import {required, email} from "vuelidate/lib/validators";
    import http from "../../../../environnement";
    import axios from 'axios';
    import swal from "sweetalert2";

    export default {
        components: {
            LCheckbox,
            FadeRenderTransition,
            AuthLayout
        },
        data() {
            return {
                user: {
                    email: '',
                    password: '',

                }, subscribe: true,
                submitted: false
            }
        },
        validations: {
            user: {
                email: {required},
                password: {required}
            }
        },
        methods: {
            login() {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                } else
                //sign in method =>Pass email and password
                    http.post('http://localhost:8765/evaluation/auth/signin', {
                        email: this.user.email,
                        password: this.user.password,
                    }).then(response => {
                            if (response.status === 200) {
                                //get token from response
                                const token = response.data.accessToken
                                //save token in local Storage
                                localStorage.setItem('TOKEN', token)
                                //get role and username from response
                                const roles = response.data.authorities[0].authority
                                const username = response.data.username;
                                //dispatch role, username and token to store to use it
                                this.$store.dispatch('retrieveRole', roles)
                                this.$store.dispatch('retrieveUsername', username)
                                this.$store.dispatch('retrieveToken', token)

                                //if role===roleCompany redirects user to modify password
                                if (this.$store.state.roles === 'ROLE_COMPANY') {
                                    //check if company isVerified
                                    http.post("http://localhost:8765/evaluation/company/isverified/", {
                                        "user": {
                                            "email": this.$store.state.username
                                        }

                                    }).then(response => {
                                            if (response.status === 200) {

                                                if (response.data) {
                                                    //if isVerified=true redirecting to access page
                                                    this.$router.push('/company/test/access')
                                                } else {
                                                    //redirecting to welcom page to update password
                                                    this.$router.push({name: 'Welcom'})
                                                }
                                            }
                                        }
                                    );

                                } else if (this.$store.state.roles === 'ROLE_BO') {

                                    //redirecting to company list if role=bo
                                    this.$router.push({name: 'CompanyList'})
                                } else {
                                    //if role is examinator redirecting to questionsList
                                    this.$router.push({name: 'Questions'})
                                }
                            }
                        }
                    ).catch(error => {


                            swal({
                                type: 'error',
                                html: 'Verify your email/Password',
                                confirmButtonClass: 'btn btn-danger btn-fill',
                                buttonsStyling: false
                            })

                            // this.$v.$invalid = false
                        }
                    )

            },
            notifyVue,

            toggleNavbar() {
                document.body.classList.toggle('nav-open')
            },
            closeMenu() {
                document.body.classList.remove('nav-open')
                document.body.classList.remove('off-canvas-sidebar')
            }
        },
        beforeDestroy() {
            this.closeMenu()
        }
    }
</script>
<style>
  .navbar-nav .nav-item p {
    line-height: inherit;
    margin-left: 5px;
  }
</style>
