<template>
  <auth-layout pageClass="register-page">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="header-text">

          <h2>Register </h2>
          <hr>
        </div>
      </div>
      <div class="col-md-5 ml-auto">
        <fade-render-transition :duration="200">
          <div class="media">
            <div class="media-left">
              <div class="icon">
                <i class="nc-icon nc-circle-09"></i>
              </div>
            </div>
            <div class="media-body">
              <h4>Free Account</h4>
              <p>Here you can write a feature description for your dashboard, let the users know what is the value that
                you give them.</p>
            </div>
          </div>
        </fade-render-transition>
        <fade-render-transition :delay="200" :duration="200">
          <div class="media">
            <div class="media-left">
              <div class="icon">
                <i class="nc-icon nc-preferences-circle-rotate"></i>
              </div>
            </div>
            <div class="media-body">
              <h4>Awesome Performances</h4>
              <p>Here you can write a feature description for your dashboard, let the users know what is the value that
                you give them.</p>
            </div>
          </div>
        </fade-render-transition>
        <fade-render-transition :delay="400" :duration="200">
          <div class="media">
            <div class="media-left">
              <div class="icon">
                <i class="nc-icon nc-planet"></i>
              </div>
            </div>
            <div class="media-body">
              <h4>Global Support</h4>
              <p>Here you can write a feature description for your dashboard, let the users know what is the value that
                you give them.</p>
            </div>
          </div>
        </fade-render-transition>
      </div>
      <div class="col-md-4 mr-auto">
        <form method="#" action="#" @submit.prevent="register" novalidate>
          <card class="card-plain">
            <div>
              <div>


                <fg-input label="Name"
                          type="text"
                          name="name"
                          v-validate="modelValidations.company.name"
                          :error="getError('name')" v-model="company.name" placeholder="Name"></fg-input>
              </div>
              <fg-input label="Domain"
                        type="text"
                        name="domain"
                        v-validate="modelValidations.company.domain"
                        :error="getError('domain')" v-model="company.domain" placeholder="Domain"></fg-input>

              <fg-input label="Email"
                        type="email"
                        name="email"
                        v-validate="modelValidations.company.user.email"
                        :error="getError('email')" v-model="company.user.email" placeholder="Email"></fg-input>


              <fg-input label="Password"
                        type="password"
                        name="password"
                        v-validate="modelValidations.company.user.password"
                        :error="getError('password')" ref="password" v-model="company.user.password"
                        placeholder="Password"></fg-input>
              <fg-input label="Confirm Password" name="confirmedPassword" type="password" v-model="confirmedPassword"
                        v-validate="'required|confirmed:password'"
                        :error="getError('confirmedPassword')"
                        placeholder="Confirm Your Password"></fg-input>
            </div>
            <div class="text-center">
              <button type="submit"
                      @click="register()"
                      class="btn btn-fill btn-default btn-neutral btn-wd">Create Account
              </button>
            </div>
          </card>
        </form>
      </div>
    </div>
  </auth-layout>
</template>
<script>
    import FadeRenderTransition from '../../../../components/Transitions/FadeRenderTransition.vue'
    import AuthLayout from './AuthLayout'
    import {notifyVue} from '../../../../shared/notification'

    import http from "../../../../environnement";
    import axios from "axios"
    import swal from 'sweetalert2'

    export default {
        components: {
            FadeRenderTransition,
            AuthLayout
        },
        data() {
            return {
                confirmedPassword: '',
                company: {
                    name: "",
                    domain: "",
                    user: {
                        email: "",
                        password: ""
                    }
                },


                getError(fieldName) {
                    return this.errors.first(fieldName)
                },
                validate() {
                    return this.$validator.validateAll().then(res => {
                        this.$emit('on-validated', res, this.company)
                        return res
                    })
                },
                modelValidations: {
                    confirmedPassword:
                        {
                            required: true,
                            min: 5


                        },
                    company: {
                        name: {

                            required: true,
                            min: 5,
                        },
                        domain: {
                            required: true,
                            min: 5

                        },
                        user: {
                            email: {
                                required: true,
                                email: true,

                            },
                            password: {
                                required: true

                            }
                        }
                    }
                }
            }
        }
        ,


        methods: {


            register() {

                this.$validator.validate().then(valid => {
                    if (valid) {


                        axios.post('http://localhost:8765/evaluation/auth/signupCompany', {
                            "name": this.company.name, "domain": this.company.domain, "user": this.company.user
                        })
                            .then(response => {

                                if (response.status === 200) {


                                    this.$router.push({name: 'Login'})
                                }


                            })
                            .catch((error) => {
                                swal({
                                    type: 'error',
                                    html: 'Email exist',
                                    confirmButtonClass: 'btn btn-danger btn-fill',
                                    buttonsStyling: false
                                })


                            });


                    }

                })
            },

            notifyVue,

            toggleNavbar() {
                document.body.classList.toggle('nav-open')
            },
            closeMenu() {
                document.body.classList.remove('nav-open')
                document.body.classList.remove('off-canvas-sidebar')
            }
        },

        beforeDestroy() {
            this.closeMenu()
        },

    }
</script>
<style>

</style>
ss
